force-app/main/default/flows/Account_Check_In_Out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_ID_redirect</name>
        <label>add ID redirect</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>IDredirect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tassk.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_ID</name>
        <label>Assignment ID</label>
        <locationX>974</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>collectOppIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Opp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Is_Check_In</name>
        <label>Is Check In</label>
        <locationX>490</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>IsCheckIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDredirect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskDatas.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Position_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_task_2</name>
        <label>New task 2</label>
        <locationX>1458</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>tassk.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Position2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.NEXT_ACTION_SUPPORT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NEXT_ACTION_SUPPORT_if_need2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PIC2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>create_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new_task_2_1</name>
        <label>new task 2.1</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>tassk.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Position</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PIC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppurtinityDatabase.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_type_meeting.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.Task_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsCheckIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new_task_2_2</name>
        <label>new task 2.2</label>
        <locationX>886</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>tassk.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskData.firstSelectedRow.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.CompletedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskData.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tassk.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_type_meeting.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDredirect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskData.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsCheckIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Next_Action</name>
        <label>Update Next Action</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>tassk.NEXT_ACTION_SUPPORT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NEXT_ACTION_SUPPORT_if_need</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_not_null</name>
        <label>update not null</label>
        <locationX>754</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>tassk.NEXT_ACTION_SUPPORT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NEXT_ACTION_SUPPORT_if_changes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CheckIn</name>
        <choiceText>Check In</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>checkin</stringValue>
        </value>
    </choices>
    <choices>
        <name>CheckOut</name>
        <choiceText>Check Out</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>checkout</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChooseCall</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChooseMeeting</name>
        <choiceText>Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateMeeting</name>
        <choiceText>Create Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateMeeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Planning_CheckIn</name>
        <choiceText>Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planning</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Option</name>
        <label>Check Option</label>
        <locationX>1205</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_an_activity_you_want_to_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChooseMeeting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_type_meeting</targetReference>
            </connector>
            <label>Meeting</label>
        </rules>
        <rules>
            <name>Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_choose_an_activity_you_want_to_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChooseCall</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_2_2</targetReference>
            </connector>
            <label>Call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_option_2</name>
        <label>Check option 2</label>
        <locationX>688</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_In_Planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chooseStep2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CheckIn</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choose_Check_In</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Planning_CheckIn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_All_Opportunities</targetReference>
            </connector>
            <label>Check In - Planning</label>
        </rules>
        <rules>
            <name>Check_In_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chooseStep2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CheckIn</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choose_Check_In</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreateMeeting</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tasks</targetReference>
            </connector>
            <label>Check In - Create Meeting</label>
        </rules>
        <rules>
            <name>Check_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chooseStep2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CheckOut</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_All_Opportunities_For_Check_Out</targetReference>
            </connector>
            <label>Check Out</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_update_NEXT</name>
        <label>check update NEXT</label>
        <locationX>886</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>new_task_2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NEXT_ACTION_SUPPORT_if_changes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_not_null</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_update_NEXT</name>
        <label>Copy 1 of check update NEXT</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>new_task_2_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NEXT_ACTION_SUPPORT_if_need</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Next_Action</targetReference>
            </connector>
            <label>Copy 1 of not null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PICPicklist</name>
        <collectionReference>get_Related_Contact</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Account | Check In/Out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account | Check In/Out</label>
    <loops>
        <name>Loop_Opp</name>
        <label>Loop Opp</label>
        <locationX>886</locationX>
        <locationY>998</locationY>
        <collectionReference>get_All_Opportunities_For_Check_Out</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_task</name>
        <label>create task</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>add_ID_redirect</targetReference>
        </connector>
        <inputReference>tassk</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>1205</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Related_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_All_Opportunities</name>
        <label>get All Opportunities For CheckIn</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_2_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Salesman__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_All_Opportunities_For_Check_Out</name>
        <label>get All Opportunities For Check Out</label>
        <locationX>886</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salesman__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Related_Contact</name>
        <label>get Related Contact</label>
        <locationX>1205</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Task</name>
        <label>get Task</label>
        <locationX>886</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_2_2_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>collectOppIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_2_2_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_type_meeting</name>
        <label>get type meeting</label>
        <locationX>688</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC2_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Opportunity</name>
        <label>Copy 1 of Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>new_task_2_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppurtinityDatabase.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NEXT_ACTION_SUPPORT__c</field>
            <value>
                <elementReference>NEXT_ACTION_SUPPORT_if_need</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>754</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>new_task_2_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskData.firstSelectedRow.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NEXT_ACTION_SUPPORT__c</field>
            <value>
                <elementReference>NEXT_ACTION_SUPPORT_if_changes</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>886</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Save_Position_Screen</targetReference>
        </connector>
        <inputReference>tassk</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_checkIn</name>
        <label>Update Task</label>
        <locationX>490</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Is_Check_In</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskDatas.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Save_Position_Screen</name>
        <label>Save Position</label>
        <locationX>688</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_result</targetReference>
        </connector>
        <fields>
            <name>savePosition</name>
            <extensionName>c:SavePosition</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>IDredirect</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isCheckIn</name>
                <value>
                    <elementReference>IsCheckIN</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Open Task</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC2_1</name>
        <label>SC2.1</label>
        <locationX>688</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Check_option_2</targetReference>
        </connector>
        <fields>
            <name>tesxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(176, 0, 0); font-size: 18px; font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Please choose activity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chooseStep2</name>
            <choiceReferences>CheckIn</choiceReferences>
            <choiceReferences>CheckOut</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Check_In_section</name>
            <fieldText>Check In</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Check_In_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Choose_Check_In</name>
                    <choiceReferences>Planning_CheckIn</choiceReferences>
                    <choiceReferences>CreateMeeting</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose Check In</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>chooseStep2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CheckIn</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_1</name>
        <label>screen 1</label>
        <locationX>1205</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Option</targetReference>
        </connector>
        <fields>
            <name>Please_choose_an_activity_you_want_to_record</name>
            <choiceReferences>ChooseMeeting</choiceReferences>
            <choiceReferences>ChooseCall</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose an activity you want to record:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_2_1</name>
        <label>screen 2.1</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_check_update_NEXT</targetReference>
        </connector>
        <fields>
            <name>showtext2_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 18px; color: rgb(176, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please update content of meeting​&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Task_Name</name>
            <dataType>String</dataType>
            <fieldText>Task Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PIC</name>
            <choiceReferences>PICPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PIC</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Position</name>
            <dataType>String</dataType>
            <fieldText>Position:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OppurtinityDatabase</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_All_Opportunities</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-450f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Opportunity ID&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opporturnity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Route_Name_fomula__c&quot;,&quot;guid&quot;:&quot;column-0aae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Route&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Route Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Commodity__c&quot;,&quot;guid&quot;:&quot;column-a4ab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Commodity&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-605f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;NEXT_ACTION_SUPPORT__c&quot;,&quot;guid&quot;:&quot;column-f654&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;NEXT ACTION/ SUPPORT&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NEXT_ACTION_SUPPORT_if_need</name>
            <fieldText>NEXT ACTION/ SUPPORT (if need):</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>text2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(63, 60, 60); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Please provide the system to access tracking your current location!&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_2_2</name>
        <label>screen 2.2</label>
        <locationX>1458</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_task_2</targetReference>
        </connector>
        <fields>
            <name>Start_time</name>
            <dataType>DateTime</dataType>
            <fieldText>Start time:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_time</name>
            <dataType>DateTime</dataType>
            <fieldText>End time:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PIC2</name>
            <choiceReferences>PICPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PIC</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Position2</name>
            <dataType>String</dataType>
            <fieldText>Position:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NEXT_ACTION_SUPPORT_if_need2</name>
            <fieldText>NEXT ACTION/ SUPPORT (if need):</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_2_2_1</name>
        <label>screen 2.2</label>
        <locationX>886</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen_4</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_showtext2_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(192, 4, 4); font-size: 18px; font-family: sans-serif;&quot;&gt;Please Choose Task Activity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TaskData</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_Task</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;OpportunityID__c&quot;,&quot;guid&quot;:&quot;column-add9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opportunity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Route__c&quot;,&quot;guid&quot;:&quot;column-ae34&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Route&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Commodity__c&quot;,&quot;guid&quot;:&quot;column-9527&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Commodity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;DescriptionOpp__c&quot;,&quot;guid&quot;:&quot;column-be61&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_2_2_2</name>
        <label>screen 2.2</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Task_checkIn</targetReference>
        </connector>
        <fields>
            <name>TaskDatas</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>List Tasks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Tasks</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Task_Name__c&quot;,&quot;guid&quot;:&quot;column-8564&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Task Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;OpportunityID__c&quot;,&quot;guid&quot;:&quot;column-675d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Opportunity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Commodity__c&quot;,&quot;guid&quot;:&quot;column-ce51&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Commodity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-65d3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;NEXT_ACTION_SUPPORT__c&quot;,&quot;guid&quot;:&quot;column-ec1b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;NEXT ACTION/ SUPPORT&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Sellect</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_4</name>
        <label>screen 4</label>
        <locationX>886</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>check_update_NEXT</targetReference>
        </connector>
        <fields>
            <name>subject</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: sans-serif; font-size: 18px; color: rgb(192, 4, 4);&quot;&gt;Please Update Next Action/Support&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Subject: Meeting&lt;/p&gt;&lt;p&gt;Assign to: {!$User.FirstName}   {!$User.LastName}&lt;/p&gt;&lt;p&gt;Related to: {!get_Account.Name}&lt;/p&gt;&lt;p&gt;Opportunity: {!TaskData.firstSelectedRow.OpportunityID__c}&lt;/p&gt;&lt;p&gt;Status: Completed&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;NEXT ACTION/ SUPPORT: {!TaskData.firstSelectedRow.NEXT_ACTION_SUPPORT__c} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NEXT_ACTION_SUPPORT_if_changes</name>
            <fieldText>NEXT ACTION/ SUPPORT(if changes ):</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_result</name>
        <label>Screen result</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ressult1</name>
            <extensionName>c:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>IDredirect</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1079</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collectOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectOppIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDredirect</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCheckIN</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>tassk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
