force-app/main/default/flows/AdvancedShipmentCalculateChargeableWeight.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>is_GW_greater_CBM</name>
        <label>is GW &gt;= CBM ?</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GW_CBM1000</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TransportationWay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TransportationWay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INLAND WATERWAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GrossWeight__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CBMQuyDoi1000</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CW_as_GW</targetReference>
            </connector>
            <label>GW &gt;= CBM1000</label>
        </rules>
        <rules>
            <name>CBM1000_GM</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TransportationWay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TransportationWay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INLAND WATERWAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GrossWeight__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CBMQuyDoi1000</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CW_as_CBM1000</targetReference>
            </connector>
            <label>CBM1000 &gt;= GM</label>
        </rules>
        <rules>
            <name>GW_CBM5000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TransportationWay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GrossWeight__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CBMQuyDoi5000</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CW_as_GW</targetReference>
            </connector>
            <label>GW &gt;= CBM5000</label>
        </rules>
        <rules>
            <name>CBM5000_GM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TransportationWay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GrossWeight__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CBMQuyDoi5000</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CW_as_CBM5000</targetReference>
            </connector>
            <label>CBM5000 &gt;= GM</label>
        </rules>
        <rules>
            <name>GW_CBM333</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TransportationWay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUCKING</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TransportationWay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAIL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GrossWeight__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CBMQuyDoi333</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CW_as_GW</targetReference>
            </connector>
            <label>GW &gt;= CBM333</label>
        </rules>
        <rules>
            <name>CBM333_GM</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TransportationWay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUCKING</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TransportationWay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAIL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GrossWeight__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CBMQuyDoi333</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CW_as_CBM333</targetReference>
            </connector>
            <label>CBM333 &gt;= GM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CBMQuyDoi1000</name>
        <dataType>Number</dataType>
        <expression>{!$Record.MeasurementCBM__c}*1000</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CBMQuyDoi333</name>
        <dataType>Number</dataType>
        <expression>{!$Record.MeasurementCBM__c}*333</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>CBMQuyDoi5000</name>
        <dataType>Number</dataType>
        <expression>CASE( {!$Record.Air_Type__c} ,
&apos;Air Express&apos;, {!$Record.MeasurementCBM__c}*5000 ,
&apos;Air Cargo&apos;, {!$Record.MeasurementCBM__c}*6000 ,
0)</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>Advanced Shipment | Calculate Chargeable Weight {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advanced Shipment | Calculate Chargeable Weight</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_CW_as_CBM1000</name>
        <label>update CW = CBM1000</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ChargeableWeight__c</field>
            <value>
                <elementReference>CBMQuyDoi1000</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_CW_as_CBM333</name>
        <label>update CW = CBM333</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ChargeableWeight__c</field>
            <value>
                <elementReference>CBMQuyDoi333</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_CW_as_CBM5000</name>
        <label>update CW = CBM5000</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ChargeableWeight__c</field>
            <value>
                <elementReference>CBMQuyDoi5000</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_CW_as_GW</name>
        <label>update CW = GW</label>
        <locationX>534</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>ChargeableWeight__c</field>
            <value>
                <elementReference>$Record.GrossWeight__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_GW_greater_CBM</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>TransportationWay__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AdvancedShipment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
