force-app/main/default/flows/Advanced_Shipment_Auto_Calculate_File_No_in_shipment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_to_invidual_Record</name>
        <label>Assign to invidual Record</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SingleSOrecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_File_No_to_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleSOrecord.JobRequestID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetoldestSOrecords.JobRequestID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOcollectionToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleSOrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_File_No_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Advanced Shipment| Auto Calculate File No. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advanced Shipment| Auto Calculate File No. in Shipment</label>
    <loops>
        <name>Assign_File_No_to_Collection</name>
        <label>Assign File No to Collection</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_all_F_TMS_S_O</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_invidual_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Shipment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_F_TMS_S_O</name>
        <label>Get all F/TMS S/O</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_File_No_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsolidationID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AdvancedShipmentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>GetoldestSOrecords.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FTMSSO__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetoldestSOrecords</name>
        <label>Get oldest SO records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_F_TMS_S_O</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsolidationID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AdvancedShipmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FTMSSO__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AvancedShipment</name>
        <label>Update AvancedShipment</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AdvancedShipmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FileNo__c</field>
            <value>
                <elementReference>GetoldestSOrecords.JobRequestID__c</elementReference>
            </value>
        </inputAssignments>
        <object>AdvancedShipment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shipment</name>
        <label>Update Shipment</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Update_AvancedShipment</targetReference>
        </connector>
        <inputReference>SOcollectionToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetoldestSOrecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdvancedShipmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleSOrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FTMSSO__c</objectType>
    </variables>
    <variables>
        <name>SOcollectionToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FTMSSO__c</objectType>
    </variables>
</Flow>
