force-app/main/default/flows/Advanced_Shipment_Update_Booking_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_1</name>
        <label>assign 1</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>EBK.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_E_Booking.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EBK.JobsContainers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sumContainers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_equal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Container</name>
        <label>Sum Container</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>sumContainers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_AS.NumberofContainer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tick_checkbox</name>
        <label>tick checkbox</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>EBK.Container_Quantity_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EBK</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_equal</name>
        <label>check equal</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_EBK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>t1_t2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sumContainers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tick_checkbox</targetReference>
            </connector>
            <label>equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>GET_NOT_GET</name>
        <label>GET/NOT GET</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GET</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Advanced_Shipment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_AS</targetReference>
            </connector>
            <label>GET</label>
        </rules>
    </decisions>
    <description>Chỉnh sửa formula trong container</description>
    <environments>Default</environments>
    <formulas>
        <name>t1_t2</name>
        <dataType>Number</dataType>
        <expression>{!get_E_Booking.Container_Qty_1__c} + {!get_E_Booking.Container_Qty_2__c} + {!get_E_Booking.Container_Q_ty_3__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Advanced Shipment | Update Booking(created) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advanced Shipment | Update Booking(created)</label>
    <loops>
        <name>loop_AS</name>
        <label>loop AS</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>get_Advanced_Shipment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Container</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Advanced_Shipment</name>
        <label>get Advanced Shipment</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_NOT_GET</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EBookingID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_E_Booking.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AdvancedShipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_E_Booking</name>
        <label>get E Booking</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Advanced_Shipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EBookingID__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EBooking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_EBK</name>
        <label>Update EBK</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <inputReference>EBK</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_E_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EBookingID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AdvancedShipment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EBK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EBooking__c</objectType>
    </variables>
    <variables>
        <name>SumContainer</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>sumContainers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
