force-app/main/default/flows/Advance_Shipment_Create_Shipment_Member_from_Account_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_Notif</name>
        <label>send Notif</label>
        <locationX>138</locationX>
        <locationY>1979</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>remove_Recipients</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_Notif.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send_Notif_0</name>
        <label>send Notif</label>
        <locationX>402</locationX>
        <locationY>1979</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>remove_Recipients</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>get_Notif.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>each_Shipment_Member.ShipmentID__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_Recipients</name>
        <label>add Recipients</label>
        <locationX>402</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_Shipment_Member.Member__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_group_Shipment_Member_01</name>
        <label>add to group Shipment Member 01</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>vargroupShipmentMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsingleShipmentMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_AccountTeam_01.User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_AccountTeam_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_group_Shipment_Member_02</name>
        <label>add to group Shipment Member 02</label>
        <locationX>754</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>vargroupShipmentMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsingleShipmentMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ShippingInformation__r.Quote_route__r.Route__r.Salesman__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_AccountTeam_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_each_Shipment_Member_01</name>
        <label>assign each Shipment Member 01</label>
        <locationX>226</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varsingleShipmentMember.AdvancedShipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsingleShipmentMember.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsingleShipmentMember.AccountTeam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_AccountTeam_01.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsingleShipmentMember.Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_AccountTeam_01.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsingleShipmentMember.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_AccountTeam_01.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DuplicateIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>each_AccountTeam_01.User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_duplicate_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_each_Shipment_Member_02</name>
        <label>assign each Shipment Member 02</label>
        <locationX>666</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varsingleShipmentMember.AdvancedShipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsingleShipmentMember.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsingleShipmentMember.AccountTeam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_AccountTeam_01.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsingleShipmentMember.Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingInformation__r.Quote_route__r.Route__r.Salesman__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsingleShipmentMember.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_AccountTeam_01.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_duplicate_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>remove_Recipients</name>
        <label>remove Recipients</label>
        <locationX>402</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDs</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>each_Shipment_Member.Member__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Shipment_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_BLnumber</name>
        <label>check BL number</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingInformation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>each_AccountTeam_01</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_duplicate_01</name>
        <label>check duplicate 01</label>
        <locationX>226</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>add_to_group_Shipment_Member_01</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>duplicate_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varsingleShipmentMember.Member__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>each_AccountTeam_01</targetReference>
            </connector>
            <label>duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_duplicate_02</name>
        <label>check duplicate 02</label>
        <locationX>666</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>add_to_group_Shipment_Member_02</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>duplicate_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>varsingleShipmentMember.Member__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>each_AccountTeam_01</targetReference>
            </connector>
            <label>duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_null</name>
        <label>check null</label>
        <locationX>402</locationX>
        <locationY>1871</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipment_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>each_Shipment_Member.ShipmentID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_Notif</targetReference>
            </connector>
            <label>Shipment null</label>
        </rules>
        <rules>
            <name>Notnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>each_Shipment_Member.ShipmentID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_Notif_0</targetReference>
            </connector>
            <label>Notnull</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Salesman_01</name>
        <label>check Salesman</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>assign_each_Shipment_Member_02</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Salesman</defaultConnectorLabel>
        <rules>
            <name>not_Salesman</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>each_AccountTeam_01.Role__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Salesman</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_each_Shipment_Member_01</targetReference>
            </connector>
            <label>not Salesman</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Advance Shipment | Create Shipment member from Account Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advance Shipment | Create Shipment Member from Account Team</label>
    <loops>
        <name>each_AccountTeam_01</name>
        <label>each Account Team 01</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>get_Account_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Salesman_01</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_group_Shipment_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>each_Shipment_Member</name>
        <label>each Shipment Member</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <collectionReference>vargroupShipmentMember</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_Recipients</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_group_Shipment_Member</name>
        <label>create group Shipment Member</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>each_Shipment_Member</targetReference>
        </connector>
        <inputReference>vargroupShipmentMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Account_Team</name>
        <label>get Account Team</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_BLnumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeam__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Notif</name>
        <label>get Notif</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_SO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notify_Shipment_Member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SO</name>
        <label>get SO</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Account_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsolidationID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingInformation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FTMSSO__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Notif</targetReference>
        </connector>
        <object>AdvancedShipment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please check the shipment {!each_Shipment_Member.AdvancedShipment__r.Name} and do the next step with role &quot;{!each_Shipment_Member.Role__c}&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>body2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please check the shipment {!each_Shipment_Member.ShipmentID__r.Name} and do the next step with role &quot;{!each_Shipment_Member.Role__c}&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You are assigned to the shipment {!$Record.FileNo__c}</text>
    </textTemplates>
    <variables>
        <name>DuplicateIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vargroupShipmentMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipmentmembers__c</objectType>
    </variables>
    <variables>
        <name>varsingleShipmentMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shipmentmembers__c</objectType>
    </variables>
</Flow>
