force-app/main/default/flows/Advance_Shipmet_Update_Accounted_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Type_of_Trade</name>
        <label>Type of Trade</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EXPORT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TypeofTrade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EXPORT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_1</targetReference>
            </connector>
            <label>EXPORT</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Advance Shipmet| Update Accounted Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advance Shipmet| Update Accounted Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_1</name>
        <label>Update 1</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>AccountedDate__c</field>
            <value>
                <elementReference>$Record.ETD__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_2</name>
        <label>Update 2</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>AccountedDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type_of_Trade</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountedDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ETD__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AdvancedShipment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
