force-app/main/default/flows/Advanced_Shipment_Update_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_single_Doc_details01</name>
        <label>assign single Doc details 01</label>
        <locationX>138</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>singleDocdetails.ConsolBill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_01.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.Billto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Billto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.AdvancedShipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_AS_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.FTMSSO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_01.FTMSSO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.Total_Selling_Incl_Tax_Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_01.Total_Selling_Incl_Tax_Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.Total_Selling_Incl_Tax_FCY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_01.Total_Selling_Incl_Tax_FCY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.Document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.TotalSellingInclTaxActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_01.TotalSellingInclTaxActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.UnitPriceofSellingActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_01.UnitPriceofSellingActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupDocdetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDocdetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Consoll_Bills_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_single_Doc_details02</name>
        <label>assign single Doc details 02</label>
        <locationX>754</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>singleDocdetails.ConsolBill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_02.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.Billto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Billto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.AdvancedShipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_AS_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.FTMSSO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_02.FTMSSO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.TotalBuyingInclTaxLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_02.TotalBuyingInclTaxLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.TotalBuyingInclTaxFCY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_02.TotalBuyingInclTaxFCY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.Document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.TotalBuyingInclTaxActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_02.TotalBuyingInclTaxActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.UnitPriceofBuyingActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_02.UnitPriceofBuyingActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupDocdetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDocdetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Consoll_Bills_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_single_Doc_details03</name>
        <label>assign single Doc details 03</label>
        <locationX>1898</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>singleDocdetails.ConsolBill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_03.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.Billto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Billto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.AdvancedShipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_AS_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.FTMSSO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_03.FTMSSO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.TotalBuyingInclTaxLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_03.TotalBuyingInclTaxLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.TotalBuyingInclTaxFCY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_03.TotalBuyingInclTaxFCY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.Document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.TotalBuyingInclTaxActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_03.TotalBuyingInclTaxActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.UnitPriceofBuyingActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_03.UnitPriceofBuyingActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupDocdetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDocdetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Consoll_Bills_03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_single_Doc_details03_0</name>
        <label>assign single Doc details 03</label>
        <locationX>2162</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>singleDocdetails.ConsolBill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_03.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.Billto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Billto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.AdvancedShipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_AS_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.FTMSSO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_03.FTMSSO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.Total_Selling_Incl_Tax_Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_03.Total_Selling_Incl_Tax_Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.Total_Selling_Incl_Tax_FCY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_03.Total_Selling_Incl_Tax_FCY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.Document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.TotalSellingInclTaxActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_03.TotalSellingInclTaxActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDocdetails.UnitPriceofSellingActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Consoll_Bills_03.UnitPriceofSellingActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupDocdetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDocdetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Consoll_Bills_03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>find_duplicated_ConsolBills_01</name>
        <label>find duplicated ConsolBills 01</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>duplicatedConsolBillIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_Doc_detail_01.ConsolBill__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Doc_detail_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>find_duplicated_ConsolBills_02</name>
        <label>find duplicated ConsolBills 02</label>
        <locationX>886</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>duplicatedConsolBillIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_Doc_detail_02.ConsolBill__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Doc_detail_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>find_duplicated_ConsolBills_03</name>
        <label>find duplicated ConsolBills 03</label>
        <locationX>2030</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>duplicatedConsolBillIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_Doc_detail_03.ConsolBill__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Doc_detail_03</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Billto</name>
        <label>check Billto?</label>
        <locationX>2162</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>each_Consoll_Bills_03</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_to</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>each_Consoll_Bills_03.PaymentTo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DocumentList.firstSelectedRow.Billto__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_single_Doc_details03</targetReference>
            </connector>
            <label>= Payment to</label>
        </rules>
        <rules>
            <name>Invoice_to</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>each_Consoll_Bills_03.Invoiceto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DocumentList.firstSelectedRow.Billto__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_single_Doc_details03_0</targetReference>
            </connector>
            <label>= Invoice to</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Doc_Record_Type</name>
        <label>check Doc Record Type?</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>get_all_Doc_details_03</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invoice</defaultConnectorLabel>
        <rules>
            <name>Debit_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentList.firstSelectedRow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debit_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_Doc_details_01</targetReference>
            </connector>
            <label>Debit Note</label>
        </rules>
        <rules>
            <name>Credit_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocumentList.firstSelectedRow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_Doc_details_02</targetReference>
            </connector>
            <label>Credit Note</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Docs</name>
        <label>check Docs</label>
        <locationX>1700</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>screen00_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>non exist</defaultConnectorLabel>
        <rules>
            <name>exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Docs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen00</targetReference>
            </connector>
            <label>exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_ConsolBill_exist_01</name>
        <label>is ConsolBill exist? 01</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>screen04</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no 01</defaultConnectorLabel>
        <rules>
            <name>yes_01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_Consol_Bills_01</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen01</targetReference>
            </connector>
            <label>yes 01</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_ConsolBill_exist_02</name>
        <label>is ConsolBill exist? 02</label>
        <locationX>798</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screen04</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no 02</defaultConnectorLabel>
        <rules>
            <name>yes_02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_Consol_Bills_02</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen02</targetReference>
            </connector>
            <label>yes 02</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_ConsolBill_exist_03</name>
        <label>is ConsolBill exist? 03</label>
        <locationX>1942</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screen04</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no 03</defaultConnectorLabel>
        <rules>
            <name>yes_03</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_Consol_Bills_03</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen03</targetReference>
            </connector>
            <label>yes 03</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Advanced Shipment | Update Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advanced Shipment | Update Document</label>
    <loops>
        <name>each_Consoll_Bills_01</name>
        <label>each Consoll Bills 01</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <collectionReference>get_all_Consol_Bills_01</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_single_Doc_details01</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_group_Doc_details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>each_Consoll_Bills_02</name>
        <label>each Consoll Bills 02</label>
        <locationX>666</locationX>
        <locationY>1406</locationY>
        <collectionReference>get_all_Consol_Bills_02</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_single_Doc_details02</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_group_Doc_details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>each_Consoll_Bills_03</name>
        <label>each Consoll Bills 03</label>
        <locationX>1810</locationX>
        <locationY>1406</locationY>
        <collectionReference>get_all_Consol_Bills_03</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Billto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_group_Doc_details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>each_Doc_detail_01</name>
        <label>each Doc detail 01</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <collectionReference>get_all_Doc_details_01</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>find_duplicated_ConsolBills_01</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_all_Consol_Bills_01</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>each_Doc_detail_02</name>
        <label>each Doc detail 02</label>
        <locationX>798</locationX>
        <locationY>782</locationY>
        <collectionReference>get_all_Doc_details_02</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>find_duplicated_ConsolBills_02</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_all_Consol_Bills_02</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>each_Doc_detail_03</name>
        <label>each Doc detail 03</label>
        <locationX>1942</locationX>
        <locationY>782</locationY>
        <collectionReference>get_all_Doc_details_03</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>find_duplicated_ConsolBills_03</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_all_Consol_Bills_03</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_group_Doc_details</name>
        <label>create group Doc details</label>
        <locationX>1062</locationX>
        <locationY>2066</locationY>
        <connector>
            <targetReference>screen05</targetReference>
        </connector>
        <inputReference>groupDocdetails</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_all_Consol_Bills_01</name>
        <label>get all Consol Bills 01</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_ConsolBill_exist_01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsolidationShipmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_AS_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoiceto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Billto__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>duplicatedConsolBillIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ConsolBill__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_Consol_Bills_02</name>
        <label>get all Consol Bills 02</label>
        <locationX>798</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_ConsolBill_exist_02</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsolidationShipmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_AS_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaymentTo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Billto__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>duplicatedConsolBillIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ConsolBill__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_Consol_Bills_03</name>
        <label>get all Consol Bills 03</label>
        <locationX>1942</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_ConsolBill_exist_03</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ConsolidationShipmentName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_AS_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaymentTo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Billto__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Invoiceto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Billto__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>duplicatedConsolBillIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ConsolBill__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_Doc_details_01</name>
        <label>get all Doc details 01</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>each_Doc_detail_01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AdvancedShipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_AS_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Debit Note</stringValue>
            </value>
        </filters>
        <filters>
            <field>ConsolBill__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Documentsdetails__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_Doc_details_02</name>
        <label>get all Doc details 02</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>each_Doc_detail_02</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AdvancedShipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_AS_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Note</stringValue>
            </value>
        </filters>
        <filters>
            <field>ConsolBill__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Documentsdetails__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_Doc_details_03</name>
        <label>get all Doc details 03</label>
        <locationX>1942</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>each_Doc_detail_03</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocumentList.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AdvancedShipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_AS_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </filters>
        <filters>
            <field>ConsolBill__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Documentsdetails__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AS_Id</name>
        <label>get AS Id</label>
        <locationX>1700</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Docs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AdvancedShipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Docs</name>
        <label>get Docs</label>
        <locationX>1700</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Docs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AdvancedShipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_AS_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Document__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen00</name>
        <label>screen00</label>
        <locationX>1062</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_Doc_Record_Type</targetReference>
        </connector>
        <fields>
            <name>header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(157, 46, 46);&quot;&gt;Do you want to update billing to Documents?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocumentList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Document__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>DOCUMENTS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_Docs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2d00&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Ref No.&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;RecordTypeName__c&quot;,&quot;guid&quot;:&quot;column-8e70&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Record Type Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;AccountName__c&quot;,&quot;guid&quot;:&quot;column-267f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-603a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen00_0</name>
        <label>screen00</label>
        <locationX>2338</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>header_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(157, 46, 46);&quot;&gt;There is no existing document to update!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen01</name>
        <label>screen01</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>each_Consoll_Bills_01</targetReference>
        </connector>
        <fields>
            <name>ConsolBillList_01</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ConsolBill__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CONSOL BILLS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_all_Consol_Bills_01</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2d70&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Consol Bill&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Pricing_namefomula__c&quot;,&quot;guid&quot;:&quot;column-f46c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Pricing Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Pricing Name - For&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;InvoiceToFormula__c&quot;,&quot;guid&quot;:&quot;column-4cbc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Invoice to&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Invoice To&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;ChargeUnit__c&quot;,&quot;guid&quot;:&quot;column-bdeb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Charge Unit&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-b827&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;CurrencySelling__c&quot;,&quot;guid&quot;:&quot;column-015a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Currency-Selling&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TotalSellingInclTaxActual__c&quot;,&quot;guid&quot;:&quot;column-b49f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Total Selling Incl Tax (Actual)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen02</name>
        <label>screen02</label>
        <locationX>666</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>each_Consoll_Bills_02</targetReference>
        </connector>
        <fields>
            <name>ConsolBillList_02</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ConsolBill__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CONSOL BILLS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_all_Consol_Bills_02</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-74d6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Consol Bill&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Pricing_namefomula__c&quot;,&quot;guid&quot;:&quot;column-f46c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Pricing Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Pricing Name - For&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;PaymenttoFormula__c&quot;,&quot;guid&quot;:&quot;column-4cbc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Payment to&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;ChargeUnit__c&quot;,&quot;guid&quot;:&quot;column-bdeb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Charge Unit&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-b827&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;CurrencyBuying__c&quot;,&quot;guid&quot;:&quot;column-015a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Currency-Buying&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TotalBuyingInclTaxActual__c&quot;,&quot;guid&quot;:&quot;column-b49f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Total Buying Incl Tax (Actual)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen03</name>
        <label>screen03</label>
        <locationX>1810</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>each_Consoll_Bills_03</targetReference>
        </connector>
        <fields>
            <name>ConsolBillList_03</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ConsolBill__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CONSOL BILLS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_all_Consol_Bills_03</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-74d6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Consol Bill&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Pricing_namefomula__c&quot;,&quot;guid&quot;:&quot;column-f46c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Pricing Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Pricing Name - For&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;ChargeUnit__c&quot;,&quot;guid&quot;:&quot;column-bdeb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Charge Unit&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-b827&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;PaymenttoFormula__c&quot;,&quot;guid&quot;:&quot;column-dcde&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Payment to&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CurrencyBuying__c&quot;,&quot;guid&quot;:&quot;column-6fea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Currency-Buying&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TotalBuyingInclTaxActual__c&quot;,&quot;guid&quot;:&quot;column-d37c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Total Buying Incl Tax (Actual)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;InvoiceToFormula__c&quot;,&quot;guid&quot;:&quot;column-4cbc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Invoice To&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CurrencySelling__c&quot;,&quot;guid&quot;:&quot;column-015a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Currency-Selling&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TotalSellingInclTaxActual__c&quot;,&quot;guid&quot;:&quot;column-b49f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;label&quot;:&quot;Total Selling Incl Tax (Actual)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen04</name>
        <label>screen04</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>nullupdate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(157, 46, 46); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;THERE ARE CURRENTLY NO BILLING TO UPDATE!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen05</name>
        <label>screen05</label>
        <locationX>1062</locationX>
        <locationY>2174</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>result</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(157, 46, 46);&quot;&gt;SUCCESSULLY UPDATED!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1574</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_AS_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsolBill__c</objectType>
    </variables>
    <variables>
        <name>duplicatedConsolBillIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>groupDocdetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Documentsdetails__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleDocdetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Documentsdetails__c</objectType>
    </variables>
</Flow>
