force-app/main/default/flows/AdvancedShipmentScreenflowtocreatetransportation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignSelectedContainer</name>
        <label>Assign Selected Container</label>
        <locationX>1005</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>SelectedContainer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSelectedContainer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelectedContainer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountSelected</name>
        <label>Count Selected</label>
        <locationX>728</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>VarCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContainerList.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelectedContainer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckCount</name>
        <label>Check Count</label>
        <locationX>606</locationX>
        <locationY>818</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSecondSelectedContainer</targetReference>
            </connector>
            <label>2</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTransportType</name>
        <label>Check Transport Type</label>
        <locationX>598</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>GetRecordTypeGeneral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EqualToXKD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransportationType1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Xuất kinh doanh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TransportationType1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeExport</targetReference>
            </connector>
            <label>= XKD</label>
        </rules>
        <rules>
            <name>DifferentFromXKD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransportationType1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Xuất kinh doanh</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TransportationType1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypeImport</targetReference>
            </connector>
            <label>&lt;&gt; XKD</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TransportationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TransportType__c</picklistField>
        <picklistObject>Transportation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Advanced Shipment | Screen flow to create transportation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advanced Shipment | Screen flow to create transportation</label>
    <loops>
        <name>LoopSelectedContainer</name>
        <label>Loop Selected Container</label>
        <locationX>831</locationX>
        <locationY>251</locationY>
        <collectionReference>ContainerList.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignSelectedContainer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckTransportType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transportation</name>
        <label>Create Transportation</label>
        <locationX>302</locationX>
        <locationY>451</locationY>
        <assignRecordIdToReference>CreatedTransportationId</assignRecordIdToReference>
        <connector>
            <targetReference>CheckCount</targetReference>
        </connector>
        <inputAssignments>
            <field>AdvancedShipment__c</field>
            <value>
                <elementReference>get_AS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CargoPickupDate__c</field>
            <value>
                <elementReference>Pickup_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactName__c</field>
            <value>
                <elementReference>Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>get_AS.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Date__c</field>
            <value>
                <elementReference>Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure__c</field>
            <value>
                <elementReference>Departure.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination__c</field>
            <value>
                <elementReference>Destination.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver__c</field>
            <value>
                <elementReference>Driver.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinalDestination__c</field>
            <value>
                <elementReference>FinalDestination.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobContainer__c</field>
            <value>
                <elementReference>ContainerList.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoadingDate__c</field>
            <value>
                <elementReference>LoadingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pick_up_date__c</field>
            <value>
                <elementReference>Pickup_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlaceofDelivery__c</field>
            <value>
                <elementReference>PlaceOfDelivery.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlaceofReceipt__c</field>
            <value>
                <elementReference>PlaceofReceipt.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeExport.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransportType__c</field>
            <value>
                <elementReference>TransportationType1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truck_Plate__c</field>
            <value>
                <elementReference>Truck_Plate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truck__c</field>
            <value>
                <elementReference>Truck.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>Vendor.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarehouseArrivalDate__c</field>
            <value>
                <elementReference>WarehouseArrivalDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarehouseDeparturedDate__c</field>
            <value>
                <elementReference>WarehouseDepartureDate</elementReference>
            </value>
        </inputAssignments>
        <object>Transportation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Transportation_0</name>
        <label>Create Transportation</label>
        <locationX>613</locationX>
        <locationY>677</locationY>
        <assignRecordIdToReference>CreatedTransportationId</assignRecordIdToReference>
        <connector>
            <targetReference>CheckCount</targetReference>
        </connector>
        <inputAssignments>
            <field>AdvancedShipment__c</field>
            <value>
                <elementReference>get_AS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CargoPickupDate__c</field>
            <value>
                <elementReference>Pickup_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactName__c</field>
            <value>
                <elementReference>Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>get_AS.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Date__c</field>
            <value>
                <elementReference>Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure__c</field>
            <value>
                <elementReference>Departure.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination__c</field>
            <value>
                <elementReference>Destination.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver__c</field>
            <value>
                <elementReference>Driver.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinalDestination__c</field>
            <value>
                <elementReference>FinalDestination.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobContainer__c</field>
            <value>
                <elementReference>ContainerList.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoadingDate__c</field>
            <value>
                <elementReference>LoadingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pick_up_date__c</field>
            <value>
                <elementReference>Pickup_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlaceofDelivery__c</field>
            <value>
                <elementReference>PlaceOfDelivery.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlaceofReceipt__c</field>
            <value>
                <elementReference>PlaceofReceipt.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeImport.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransportType__c</field>
            <value>
                <elementReference>TransportationType1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truck_Plate__c</field>
            <value>
                <elementReference>Truck_Plate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truck__c</field>
            <value>
                <elementReference>Truck.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>Vendor.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarehouseArrivalDate__c</field>
            <value>
                <elementReference>WarehouseArrivalDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WarehouseDeparturedDate__c</field>
            <value>
                <elementReference>WarehouseDepartureDate</elementReference>
            </value>
        </inputAssignments>
        <object>Transportation__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Transportation_0_0</name>
        <label>Create Transportation</label>
        <locationX>952</locationX>
        <locationY>438</locationY>
        <assignRecordIdToReference>CreatedTransportationId</assignRecordIdToReference>
        <connector>
            <targetReference>CheckCount</targetReference>
        </connector>
        <inputAssignments>
            <field>AdvancedShipment__c</field>
            <value>
                <elementReference>get_AS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CargoPickupDate__c</field>
            <value>
                <elementReference>Pickup_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactName__c</field>
            <value>
                <elementReference>Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>get_AS.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Date__c</field>
            <value>
                <elementReference>Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure__c</field>
            <value>
                <elementReference>Departure.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination__c</field>
            <value>
                <elementReference>Destination.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver__c</field>
            <value>
                <elementReference>Driver.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobContainer__c</field>
            <value>
                <elementReference>ContainerList.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pick_up_date__c</field>
            <value>
                <elementReference>Pickup_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeGeneral.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransportType__c</field>
            <value>
                <elementReference>TransportationType1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truck_Plate__c</field>
            <value>
                <elementReference>Truck_Plate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truck__c</field>
            <value>
                <elementReference>Truck.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>Vendor.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Transportation__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_AS</name>
        <label>get AS</label>
        <locationX>295</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContainer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AdvancedShipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContainer</name>
        <label>Get Container</label>
        <locationX>430</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AdvancedShipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_AS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ConsolCNTR__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeExport</name>
        <label>Get Record Type Export</label>
        <locationX>440</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transportation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Export</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transportation__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeGeneral</name>
        <label>Get Record Type General</label>
        <locationX>822</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transportation_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transportation__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeImport</name>
        <label>Get Record Type &lt;&gt; XKD</label>
        <locationX>605</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Transportation_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Import</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transportation__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSecondSelectedContainer</name>
        <label>Get Second Selected Container</label>
        <locationX>612</locationX>
        <locationY>961</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update2ndContainer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ContainerList.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SelectedContainer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ConsolCNTR__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update2ndContainer</name>
        <label>Update 2nd Container</label>
        <locationX>562</locationX>
        <locationY>1152</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedTransportationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>JobContainer2__c</field>
            <value>
                <elementReference>GetSecondSelectedContainer.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transportation__c</object>
    </recordUpdates>
    <screens>
        <name>screen01</name>
        <label>screen01</label>
        <locationX>616</locationX>
        <locationY>229</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CountSelected</targetReference>
        </connector>
        <fields>
            <name>Transport_Information</name>
            <fieldText>Trucking Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transport_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vendor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Vendor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Vendor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Transportation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Driver</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Transportation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Driver__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Driver</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contact_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Transport_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TransportationType1</name>
                    <choiceReferences>TransportationType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_AS.CrossBorderType__c</elementReference>
                    </defaultValue>
                    <fieldText>Transport Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TransportationType1</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Truck</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Transportation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Truck__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Truck</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Truck_Plate</name>
                    <dataType>String</dataType>
                    <fieldText>Truck Plate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>RouteInformation</name>
            <fieldText>Route Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RouteInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PlaceofReceipt</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>PlaceofReceipt__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Place of Receipt</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Transportation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TransportationType1</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Departure</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Departure__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Departure</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Transportation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Destination</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Transportation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Destination__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Destination</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PlaceOfDelivery</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>PlaceofDelivery__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Place of Delivery</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Transportation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TransportationType1</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FinalDestination</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FinalDestination__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Final Destination</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Transportation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TransportationType1</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RouteInformation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pickup_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Pickup Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>LoadingDate</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Loading Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TransportationType1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Xuất kinh doanh</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TransportationType1</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>WarehouseDepartureDate</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Warehouse Departure Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TransportationType1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Xuất kinh doanh</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TransportationType1</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CrossBorderDate</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Cross Border Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TransportationType1</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>WarehouseArrivalDate</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Warehouse Arrival Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TransportationType1</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Xuất kinh doanh</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TransportationType1</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Delivery_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Delivery Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ContainerList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ConsolCNTR__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Container List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetContainer</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Container_Number__c&quot;,&quot;guid&quot;:&quot;column-e97d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Container Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Container_Type__c&quot;,&quot;guid&quot;:&quot;column-b94c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Container Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cargo_Quantity__c&quot;,&quot;guid&quot;:&quot;column-8df9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Cargo Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Cargo_Unit__c&quot;,&quot;guid&quot;:&quot;column-cad2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Cargo Unit&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Gross_WeightKg__c&quot;,&quot;guid&quot;:&quot;column-50c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Gross Weight(Kg)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;MeasurementCBM__c&quot;,&quot;guid&quot;:&quot;column-4aad&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Measurement(CBM)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Create Trucking</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>169</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_AS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreatedTransportationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedContainer</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
