force-app/main/default/flows/ApplicationScreenflowtocreateApplicationToDoListbasedonProcessTemplateLine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignCollection</name>
        <label>Assign Collection</label>
        <locationX>374</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>collectionapptodolist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleapptodolist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProcessTemplateLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSingleValue</name>
        <label>Assign Single Value</label>
        <locationX>374</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>singleapptodolist.Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleapptodolist.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProcessTemplateLine.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleapptodolist.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProcessTemplateLine.Process__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleapptodolist.PIC_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProcessTemplateLine.PIC_user__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleapptodolist.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleapptodolist.NextStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopProcessTemplateLine.Next_Application_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Exist</name>
        <label>Check Exist?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GetProcessTemplateLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistApplicationToDoList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckExist1</name>
        <label>Check Exist?</label>
        <locationX>418</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProcessTemplateLine</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopProcessTemplateLine</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Application | Screen flow to create Application To Do List based on Process Template Line {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application | Screen flow to create Application To Do List based on Process Template Line</label>
    <loops>
        <name>LoopProcessTemplateLine</name>
        <label>Loop Process Template Line</label>
        <locationX>286</locationX>
        <locationY>674</locationY>
        <collectionReference>GetProcessTemplateLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignSingleValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateApplicationToDoList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateApplicationToDoList</name>
        <label>Create Application To Do List</label>
        <locationX>286</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>GetFirstApplicationToDoList</targetReference>
        </connector>
        <inputReference>collectionapptodolist</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCurrentApplication</name>
        <label>Get Current Application</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistApplicationToDoList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Applicationn__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExistApplicationToDoList</name>
        <label>Get Exist Application To Do List</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ApplicationToDoList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFirstApplicationToDoList</name>
        <label>Get First Application To Do List</label>
        <locationX>286</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateFirstApplicationToDoList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ApplicationToDoList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProcessTemplateLine</name>
        <label>Get Process Template Line</label>
        <locationX>418</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckExist1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentApplication.Process_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessTemplateLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateApplication</name>
        <label>Update Application</label>
        <locationX>286</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>SuccessfullScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrentAction__c</field>
            <value>
                <elementReference>GetFirstApplicationToDoList.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>CV Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>Applicationn__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFirstApplicationToDoList</name>
        <label>Update First Application To Do List</label>
        <locationX>286</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>UpdateApplication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetFirstApplicationToDoList.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>ApplicationToDoList__c</object>
    </recordUpdates>
    <screens>
        <name>SuccessfullScreen</name>
        <label>Successfull Screen</label>
        <locationX>286</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successfultext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;Create To Do List Successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collectionapptodolist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApplicationToDoList__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleapptodolist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ApplicationToDoList__c</objectType>
    </variables>
</Flow>
