force-app/main/default/flows/Asset_Hand_Over_Button_Hand_Over.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Asset_ID</name>
        <label>Assign Asset. ID</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varCol_Asset_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Asset_Hand_Over_Line_0.Asset__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Asset_Hand_Over_Line_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Values_1</name>
        <label>Assign Asset Values 1</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varSingle_Asset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Asset_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_Asset.Asset_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Hand_Over.New_owner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_Asset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingle_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Product_ID_in_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Values_2</name>
        <label>Assign Asset Values 2</label>
        <locationX>528</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varSingle_Asset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Asset_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_Asset.Asset_Owner__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_Asset.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Hand_Over.New_Location__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_Asset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingle_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Product_ID_in_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Values_3</name>
        <label>Assign Asset Values 3</label>
        <locationX>792</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varSingle_Asset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Asset_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_Asset.Asset_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Hand_Over.New_owner__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_Asset.Location__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_Asset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingle_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Product_ID_in_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Quantity</name>
        <label>Assign New Quantity</label>
        <locationX>288</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varSingle_Inventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Inventory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_Inventory.Quantity__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_Inventory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingle_Inventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Quantity_2</name>
        <label>Assign New Quantity</label>
        <locationX>592</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varSingle_Inventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Inventory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_Inventory.Quantity__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_Inventory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingle_Inventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Inventory_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_ID_in_Asset</name>
        <label>Assign Product ID in Asset</label>
        <locationX>528</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varCol_Product_ID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Asset_0.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Asset_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Asset_Hand_Over_Record_Type</name>
        <label>Check Asset Hand Over Record Type</label>
        <locationX>528</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Assign_Asset_Values_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location to Employee</defaultConnectorLabel>
        <rules>
            <name>Employee_to_Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Hand_Over.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee_to_Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_Values_1</targetReference>
            </connector>
            <label>Employee to Employee</label>
        </rules>
        <rules>
            <name>Employee_to_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Hand_Over.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee_to_Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_Values_2</targetReference>
            </connector>
            <label>Employee to Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Asset_Hand_Over_Record_Type_2</name>
        <label>Check Asset Hand Over Record Type</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Each_Inventory_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location to Employee</defaultConnectorLabel>
        <rules>
            <name>Employee_to_Employee_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Hand_Over.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee_to_Employee</stringValue>
                </rightValue>
            </conditions>
            <label>Employee to Employee</label>
        </rules>
        <rules>
            <name>Employee_to_Location_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Hand_Over.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee_to_Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_Inventory</targetReference>
            </connector>
            <label>Employee to Location</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Asset Hand Over | Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Hand Over | Button Hand Over</label>
    <loops>
        <name>Each_Asset_0</name>
        <label>Each Asset.</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Asset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Asset_Hand_Over_Record_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Asset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Asset_Hand_Over_Line_0</name>
        <label>Each Asset Hand Over Line</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Asset_Hand_Over_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Asset_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Asset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Inventory</name>
        <label>Each Inventory</label>
        <locationX>200</locationX>
        <locationY>1682</locationY>
        <collectionReference>Get_Inventories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Inventories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Inventory_2</name>
        <label>Each Inventory</label>
        <locationX>504</locationX>
        <locationY>1682</locationY>
        <collectionReference>Get_Inventories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Quantity_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Inventories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset.</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Asset_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varCol_Asset_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Hand_Over</name>
        <label>Get Asset Hand Over</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Hand_Over_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset_Hand_Over__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Hand_Over_Line</name>
        <label>Get Asset Hand Over Line</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Asset_Hand_Over_Line_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Asset_Hand_Over__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Hand_Over.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset_Hand_Over_Line__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventories</name>
        <label>Get Inventories</label>
        <locationX>176</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Asset_Hand_Over_Record_Type_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Hand_Over.New_Location__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varCol_Product_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inventory__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset.</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Get_Inventories</targetReference>
        </connector>
        <inputReference>varSingle_Asset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inventories</name>
        <label>Update Inventories</label>
        <locationX>176</locationX>
        <locationY>2066</locationY>
        <inputReference>varCol_Inventory</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Hand_Over</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Find_Match_Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_Asset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset__c</objectType>
    </variables>
    <variables>
        <name>varCol_Asset_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_Inventory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
    <variables>
        <name>varCol_Product_ID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSingle_Asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset__c</objectType>
    </variables>
    <variables>
        <name>varSingle_Inventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
</Flow>
