force-app/main/default/flows/Attendance_Check_Weekend_or_Holiday.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>is_date_off</name>
        <label>is date off?</label>
        <locationX>1107</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>LeaveHalfDay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal</defaultConnectorLabel>
        <rules>
            <name>weekend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sat_or_Sun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Holidays</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Saturdayyy</targetReference>
            </connector>
            <label>weekend</label>
        </rules>
        <rules>
            <name>holiday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Holidays</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OT</targetReference>
            </connector>
            <label>holiday</label>
        </rules>
    </decisions>
    <decisions>
        <name>LeaveHalfDay</name>
        <label>Leave Half Day</label>
        <locationX>1111</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>OT_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yess_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Leave_Day</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Weekend_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OT</name>
        <label>OT</label>
        <locationX>1156</locationX>
        <locationY>569</locationY>
        <defaultConnector>
            <targetReference>update_holiday</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OT_FLow__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_holiday_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OT_0</name>
        <label>OT</label>
        <locationX>1430</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>update_OT_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yess_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OTHour__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_OTNormal</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OT_0_0</name>
        <label>OT</label>
        <locationX>671</locationX>
        <locationY>603</locationY>
        <defaultConnector>
            <targetReference>update_Weekend_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yess_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OTHour__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Weekend_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OT_0_0_0</name>
        <label>OT</label>
        <locationX>904</locationX>
        <locationY>737</locationY>
        <defaultConnector>
            <targetReference>update_Weekend_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yess_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OT_FLow__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Weekend_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Saturdayyy</name>
        <label>Saturday</label>
        <locationX>827</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>OT_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Saturday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OT_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Field_Update</name>
        <label>Select Field Update</label>
        <locationX>614</locationX>
        <locationY>376</locationY>
        <defaultConnector>
            <targetReference>get_Holidays</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Updated</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaxfreeOTHour__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TaxfreeWorkDay__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AcutalOTHour__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WorkDay__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AddHolidayday</name>
        <dataType>Number</dataType>
        <expression>{!$Record.WorkDay__c} * 2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AddOTHoliday</name>
        <dataType>Number</dataType>
        <expression>{!$Record.OT_FLow__c} * 2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AddOTNormal</name>
        <dataType>Number</dataType>
        <expression>{!$Record.OTHour__c}/2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Sat_or_Sun</name>
        <dataType>Boolean</dataType>
        <expression>weekday( {!$Record.Attendance_date__c} ) = 1 ||
weekday( {!$Record.Attendance_date__c} ) = 7</expression>
    </formulas>
    <formulas>
        <name>Saturday</name>
        <dataType>Boolean</dataType>
        <expression>weekday( {!$Record.Attendance_date__c} ) = 7</expression>
    </formulas>
    <formulas>
        <name>Sunday</name>
        <dataType>Boolean</dataType>
        <expression>weekday( {!$Record.Attendance_date__c} ) = 1</expression>
    </formulas>
    <interviewLabel>Attendance | Check Ưeekend or Holiday {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attendance | Check Weekend or Holiday</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Holidays</name>
        <label>get Holidays</label>
        <locationX>775</locationX>
        <locationY>433</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Leave_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Attendance_date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Attendance_date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee__r.Branch__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Holiday__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Leave_Day</name>
        <label>get Leave Day</label>
        <locationX>914</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_date_off</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeaveDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Attendance_date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Half_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WorkCycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_cycle__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>InCycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeaveDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_holiday</name>
        <label>update holiday</label>
        <locationX>1072</locationX>
        <locationY>710</locationY>
        <connector>
            <targetReference>update_OT_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Holiday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxfreeWorkDay__c</field>
            <value>
                <elementReference>AddHolidayday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_holiday_0</name>
        <label>update holiday</label>
        <locationX>1265</locationX>
        <locationY>704</locationY>
        <inputAssignments>
            <field>AcutalOTHour__c</field>
            <value>
                <elementReference>$Record.OT_FLow__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Holiday__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxfreeOTHour__c</field>
            <value>
                <elementReference>AddOTHoliday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxfreeWorkDay__c</field>
            <value>
                <elementReference>AddHolidayday</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_OT_0</name>
        <label>update OT 0</label>
        <locationX>1438</locationX>
        <locationY>163</locationY>
        <inputAssignments>
            <field>AcutalOTHour__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxfreeOTHour__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_OT_0_0</name>
        <label>update OT 0</label>
        <locationX>1114</locationX>
        <locationY>837</locationY>
        <inputAssignments>
            <field>AcutalOTHour__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxfreeOTHour__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_OT_0_0_0</name>
        <label>update OT 0</label>
        <locationX>983</locationX>
        <locationY>973</locationY>
        <inputAssignments>
            <field>AcutalOTHour__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxfreeOTHour__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_OT_0_0_0_0</name>
        <label>update OT 0</label>
        <locationX>745</locationX>
        <locationY>859</locationY>
        <inputAssignments>
            <field>AcutalOTHour__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxfreeOTHour__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_OTNormal</name>
        <label>update OT Normal</label>
        <locationX>1728</locationX>
        <locationY>293</locationY>
        <inputAssignments>
            <field>AcutalOTHour__c</field>
            <value>
                <elementReference>$Record.OTHour__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxfreeOTHour__c</field>
            <value>
                <elementReference>AddOTNormal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Weekend_0</name>
        <label>update Weekend</label>
        <locationX>746</locationX>
        <locationY>732</locationY>
        <connector>
            <targetReference>update_OT_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>WorkDay__c</field>
            <value>
                <numberValue>0.5</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Weekend_0_0</name>
        <label>update Attendance</label>
        <locationX>1271</locationX>
        <locationY>375</locationY>
        <connector>
            <targetReference>OT_0</targetReference>
        </connector>
        <inputAssignments>
            <field>WorkDay__c</field>
            <value>
                <numberValue>0.5</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Weekend_0_0_0</name>
        <label>update Weekend</label>
        <locationX>847</locationX>
        <locationY>859</locationY>
        <inputAssignments>
            <field>AcutalOTHour__c</field>
            <value>
                <elementReference>$Record.OT_FLow__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxfreeOTHour__c</field>
            <value>
                <elementReference>$Record.OT_FLow__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxfreeWorkDay__c</field>
            <value>
                <elementReference>$Record.WorkDay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekend__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Weekend_0_0_0_0</name>
        <label>update Weekend</label>
        <locationX>609</locationX>
        <locationY>738</locationY>
        <inputAssignments>
            <field>AcutalOTHour__c</field>
            <value>
                <elementReference>$Record.OTHour__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxfreeOTHour__c</field>
            <value>
                <elementReference>$Record.OTHour__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekend__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Weekend_0_0_0_0_0</name>
        <label>update Weekend</label>
        <locationX>982</locationX>
        <locationY>852</locationY>
        <connector>
            <targetReference>update_OT_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>TaxfreeWorkDay__c</field>
            <value>
                <elementReference>$Record.WorkDay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekend__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Select_Field_Update</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Attendance_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Check_Out__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Attendance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
