force-app/main/default/flows/Booking_Update_Detail_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Booking</name>
        <label>Assign Booking</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>recordforupdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Place_of_Delivery</name>
        <label>Update Place of Delivery</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>recordforupdate.PlaceofDeliverysDetailInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlaceofDeliveryFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Place_of_Receipt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Place_of_Receipt</name>
        <label>Update Place of Receipt</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>recordforupdate.PlaceofReceiptsDetailInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlaceofReceiptformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Booking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_POD</name>
        <label>Update POD</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>recordforupdate.PODAOAsDetailInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PODformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Place_of_Delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_POL</name>
        <label>Update POL</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>recordforupdate.POLAODsDetailInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>POLformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>POD</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Place_of_Delivery</name>
        <label>Place of Delivery</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Place_of_Receipt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Place_of_Delivery_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlaceofDelivery__r.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlaceofDeliverysDetailInformation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Place_of_Delivery</targetReference>
            </connector>
            <label>Place of Delivery 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Place_of_Receipt</name>
        <label>Place of Receipt</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Update_Booking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Place_of_Receipt_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlaceofReceipt__r.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlaceofReceiptsDetailInformation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Place_of_Receipt</targetReference>
            </connector>
            <label>Place of Receipt 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>POD</name>
        <label>POD</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Place_of_Delivery</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POD1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PODAOD__r.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PODAOAsDetailInformation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_POD</targetReference>
            </connector>
            <label>POD1</label>
        </rules>
    </decisions>
    <decisions>
        <name>POL</name>
        <label>POL</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>POD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POl1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POLAODsDetailInformation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.POLAOD__r.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_POL</targetReference>
            </connector>
            <label>POL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PlaceofDeliveryFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.PlaceofDelivery__r.PortCommonName__c} + 
IF(
	OR(ISBLANK({!$Record.PlaceofDelivery__r.PortCommonName__c}),
	ISBLANK({!$Record.PlaceofDelivery__r.CountryName__c})),&quot; &quot;,&quot;, &quot;)
+ {!$Record.PlaceofDelivery__r.CountryName__c}</expression>
    </formulas>
    <formulas>
        <name>PlaceofReceiptformula</name>
        <dataType>String</dataType>
        <expression>{!$Record.PlaceofReceipt__r.PortCommonName__c} + 
IF(
	OR(ISBLANK({!$Record.PlaceofReceipt__r.PortCommonName__c}),
	ISBLANK({!$Record.PlaceofReceipt__r.CountryName__c})),&quot; &quot;,&quot;, &quot;)
+ {!$Record.PlaceofReceipt__r.CountryName__c}</expression>
    </formulas>
    <formulas>
        <name>PODformula</name>
        <dataType>String</dataType>
        <expression>{!$Record.PODAOD__r.PortCommonName__c} + 
IF(
	OR(ISBLANK({!$Record.PODAOD__r.PortCommonName__c}),
	ISBLANK({!$Record.PODAOD__r.CountryName__c})),&quot; &quot;,&quot;, &quot;)
+ {!$Record.PODAOD__r.CountryName__c}</expression>
    </formulas>
    <formulas>
        <name>POLformula</name>
        <dataType>String</dataType>
        <expression>{!$Record.POLAOD__r.PortCommonName__c} + 
IF(
	OR(ISBLANK({!$Record.POLAOD__r.PortCommonName__c}),
	ISBLANK({!$Record.POLAOD__r.CountryName__c})),&quot; &quot;,&quot;, &quot;)
+ {!$Record.POLAOD__r.CountryName__c}</expression>
    </formulas>
    <interviewLabel>Booking| Update Detail Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking| Update Detail Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <inputReference>recordforupdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Booking</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PODAOD__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>POLAOD__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PlaceofDelivery__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PlaceofReceipt__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>EBooking__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordforupdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EBooking__c</objectType>
    </variables>
</Flow>
