force-app/main/default/flows/Business_Travel_Request_Update_General_Cost_and_Send_Email_to_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Email_to_Owner</name>
        <label>Copy 1 of Send Email to Owner</label>
        <locationX>1018</locationX>
        <locationY>947</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>BUSINESS TRAVEL REQUEST APPROVED</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyApproved_BOD</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Sent_Email_To_Owner</name>
        <label>Copy 1 of Sent Email To Owner</label>
        <locationX>1282</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>BUSINESS TRAVEL REQUEST REJECTED</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyRejected_BOD</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Owner</name>
        <label>Send Email to Owner</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>BUSINESS TRAVEL REQUEST APPROVED</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyApproved_Manager</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sent_Email_To_Owner_Rejected</name>
        <label>Sent Email To Owner</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>BUSINESS TRAVEL REQUEST REJECTED</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyRejected_Manager</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Cost_Approved</name>
        <label>Assign Cost Approved</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ACost.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unapproved_Cost.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACost.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACost.IsBlocked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ACost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unapproved_Cost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cost_Pend</name>
        <label>Assign Cost Pend</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ACost.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unapproved_Cost_Pend.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACost.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PendingApproval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACost.IsBlocked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ACost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unapproved_Cost_Pend</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Cost_Approved</name>
        <label>Copy 1 of Assign Cost Approved</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ACost.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Unapproved_Cost.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACost.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACost.IsBlocked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ACost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Unapproved_Cost</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BusinessRequestStatus</name>
        <label>Business Request Status</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ManagerApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ManagerApproved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unapproved_Cost</targetReference>
            </connector>
            <label>Manager Approved</label>
        </rules>
        <rules>
            <name>ManagerRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_Email_To_Owner_Rejected</targetReference>
            </connector>
            <label>Manager Rejected</label>
        </rules>
        <rules>
            <name>Pending_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unapproved_Cost_Pend</targetReference>
            </connector>
            <label>Pending Approval</label>
        </rules>
        <rules>
            <name>BOD_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOD Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Unapproved_Cost</targetReference>
            </connector>
            <label>BOD Approved</label>
        </rules>
        <rules>
            <name>BOD_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Sent_Email_To_Owner</targetReference>
            </connector>
            <label>BOD Rejected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Business Travel Request | Update General Cost and Send Email to Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Travel Request | Update General Cost and Send Email to Owner</label>
    <loops>
        <name>Copy_1_of_Unapproved_Cost</name>
        <label>Copy 1 of Unapproved Cost</label>
        <locationX>1018</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_General_Cost_Unapproved</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Cost_Approved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Cost_Approved</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Unapproved_Cost</name>
        <label>Unapproved Cost</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_General_Cost_Unapproved</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cost_Approved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cost_Approved</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Unapproved_Cost_Pend</name>
        <label>Unapproved Cost</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_General_Cost_Unapproved</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cost_Pend</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cost_Pend</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_General_Cost_Unapproved</name>
        <label>Get General Cost Unapproved</label>
        <locationX>798</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BusinessRequestStatus</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>BusinessTravelRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PendingApproval</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsBlocked__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GeneralCost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Cost_Approved</name>
        <label>Copy 1 of Update Cost Approved</label>
        <locationX>1018</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Copy_1_of_Send_Email_to_Owner</targetReference>
        </connector>
        <inputReference>GroupCost</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cost_Approved</name>
        <label>Update Cost Approved</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Send_Email_to_Owner</targetReference>
        </connector>
        <inputReference>GroupCost</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cost_Pend</name>
        <label>Update Cost Pend</label>
        <locationX>666</locationX>
        <locationY>839</locationY>
        <inputReference>GroupCost</inputReference>
    </recordUpdates>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_General_Cost_Unapproved</targetReference>
        </connector>
        <filterLogic>(1 AND 5) OR 2 OR 3 OR 4 OR 6</filterLogic>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BOD Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manager Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>ManagerApproved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BOD Rejected</stringValue>
            </value>
        </filters>
        <object>BusinessTravelRequest__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyApproved_BOD</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear &lt;strong&gt;{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I write this email to announce you you that your Business Travel Request Number &lt;strong&gt;{!$Record.Name}&lt;/strong&gt; and has been &lt;strong&gt;approved by BOD&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We wish you success and best luck in this business travel!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dearest Regards,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Times Cargo Logistic Co., LTD&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyApproved_Manager</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear &lt;strong&gt;{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I write this email to announce you you that your Business Travel Request Number &lt;strong&gt;{!$Record.Name}&lt;/strong&gt; and has been &lt;strong&gt;approved by Manager&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We wish you success and best luck in this business travel!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dearest Regards,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Times Cargo Logistic Co., LTD&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyRejected_BOD</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear &lt;strong&gt;{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I write this email to announce you you that your Business Travel Request Number &lt;strong&gt;{!$Record.Name}&lt;/strong&gt; and has been &lt;strong&gt;rejected by BOD&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please adjust as what Manager/BOD mentioned in the Approval Message and re-submit for Approval&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dearest Regards,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Times Cargo Logistic Co., LTD&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyRejected_Manager</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Dear &lt;strong&gt;{!$Record.Owner:User.FirstName} {!$Record.Owner:User.LastName}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I write this email to announce you you that your Business Travel Request Number &lt;strong&gt;{!$Record.Name}&lt;/strong&gt; and has been &lt;strong&gt;rejected by Manager&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please adjust as what Manager/BOD mentioned in the Approval Message and re-submit for Approval&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dearest Regards,&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Times Cargo Logistic Co., LTD&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ACost</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GeneralCost__c</objectType>
    </variables>
    <variables>
        <name>GroupCost</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GeneralCost__c</objectType>
    </variables>
</Flow>
