force-app/main/default/flows/Business_Travel_Response_Traveler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>1069</locationX>
        <locationY>583</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_email_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_email</name>
        <label>Assign email</label>
        <locationX>1056</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>emailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.EmployeeName__r.PersonalEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_email_0</name>
        <label>Assign email</label>
        <locationX>983</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>emailAddress</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accommodation</name>
        <choiceText>Accommodation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accommodation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transportation</name>
        <choiceText>Transportation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transportation</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_picklist</name>
        <label>Check picklist</label>
        <locationX>770</locationX>
        <locationY>583</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>acom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Response_booking_for</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Accommodation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Business_Travel_Request</targetReference>
            </connector>
            <label>acom</label>
        </rules>
        <rules>
            <name>trans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Response_booking_for</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Transportation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Business_Travel_Request_0</targetReference>
            </connector>
            <label>trans</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Longtrip</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Business_Travel_Request.LongTrip__c}= TRUE, &apos;YES&apos;, &apos;NO&apos;)</expression>
    </formulas>
    <formulas>
        <name>NoteandRemark</name>
        <dataType>String</dataType>
        <expression>{!Get_Business_Travel_Request.NotesandRemarks__c} +Br()+BR()+ {!Booking_Information}</expression>
    </formulas>
    <formulas>
        <name>Oversea</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Business_Travel_Request.Oversea__c}= TRUE, &apos;YES&apos;, &apos;NO&apos;)</expression>
    </formulas>
    <formulas>
        <name>TransportationInformation</name>
        <dataType>String</dataType>
        <expression>{!Get_Business_Travel_Request.TransportationInformation__c} + BR() + BR()+ {!Booking_Information}</expression>
    </formulas>
    <interviewLabel>Business Travel | Response Traveler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Travel | Response Traveler</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>928</locationX>
        <locationY>451</locationY>
        <collectionReference>BusinessTravelerDatatable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_picklist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Business_Travel_Request</name>
        <label>Get Business Travel Request</label>
        <locationX>782</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Traveler</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessTravelRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Traveler</name>
        <label>Get Business Traveler</label>
        <locationX>782</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BusinessTravelRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessTravelers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Business_Travel_Request</name>
        <label>Update  Business Travel Request</label>
        <locationX>602</locationX>
        <locationY>651</locationY>
        <connector>
            <targetReference>ErrorScreen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Business_Travel_Request.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NotesandRemarks__c</field>
            <value>
                <elementReference>NoteandRemark</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessTravelRequest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Business_Travel_Request_0</name>
        <label>Update  Business Travel Request</label>
        <locationX>845</locationX>
        <locationY>690</locationY>
        <connector>
            <targetReference>ErrorScreen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Business_Travel_Request.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TransportationInformation__c</field>
            <value>
                <elementReference>TransportationInformation</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessTravelRequest__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen_0</name>
        <label>ErrorScreen</label>
        <locationX>702</locationX>
        <locationY>840</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorTextDisplay_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 169, 56); font-size: 16px;&quot;&gt;&lt;em&gt;&amp;nbsp;&lt;/em&gt;&lt;/strong&gt;&lt;em style=&quot;color: rgb(0, 169, 56); font-size: 16px;&quot;&gt;Emails have been sent to each Traveler successfully&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>676</locationX>
        <locationY>405</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
        <fields>
            <name>Response_booking_for</name>
            <choiceReferences>Accommodation</choiceReferences>
            <choiceReferences>Transportation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Response booking for</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BusinessTravelerDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BusinessTravelers__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Business_Traveler</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;EmployeeNameFlow__c&quot;,&quot;guid&quot;:&quot;column-8188&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Employee Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>788</locationX>
        <locationY>453</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <fields>
            <name>Booking_Information</name>
            <fieldText>Booking Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Business_Travel_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Dear&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Loop_1.EmployeeName__r.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We write this email to inform you about all details about &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Business Travel Request&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Business_Travel_Request.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Here is the booking information: &lt;/span&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;{!Booking_Information}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: sans-serif; font-size: 14px;&quot;&gt;Please recheck the Business Travel Request in the link below to embrace all information and response if there is anything to concern!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: sans-serif; font-size: 14px;&quot;&gt;We hope you have a successful Business Travel&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-family: sans-serif; font-size: 14px;&quot;&gt;Dearest Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;HR Department&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>subjectEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>BOOKING INFORMING OF BUSINESS TRAVEL REQUEST {!Get_Business_Travel_Request.Name}</text>
    </textTemplates>
    <variables>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
