force-app/main/default/flows/Business_Travel_Estimate_Cost_in_Request_when_General_Cost_is_deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_estimated_cost</name>
        <label>Assign estimated cost</label>
        <locationX>938</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>estimateCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>generalcostformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Estimate_cost</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_record_type_and_travel_request</name>
        <label>Check record type and travel request</label>
        <locationX>772</locationX>
        <locationY>537</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fullfill</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_recordType.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinessTravelRequest__r.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BusinessTravelRequest__r.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_estimated_cost</targetReference>
            </connector>
            <label>fullfill</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>generalcostformula</name>
        <dataType>Number</dataType>
        <expression>{!$Record.BusinessTravelRequest__r.EstimateCost__c} - {!$Record.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Business Travel | Estimate Cost in Request when General Cost is deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Travel | Estimate Cost in Request when General Cost is deleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_recordType</name>
        <label>Get recordType</label>
        <locationX>775</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_record_type_and_travel_request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Travel_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GeneralCost__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Estimate_cost</name>
        <label>Update Estimate cost</label>
        <locationX>889</locationX>
        <locationY>673</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BusinessTravelRequest__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EstimateCost__c</field>
            <value>
                <elementReference>estimateCost</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessTravelRequest__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_recordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BusinessTravelRequest__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>GeneralCost__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>estimateCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
