force-app/main/default/flows/Check_In_Out_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignRecordID</name>
        <label>AssignRecordID</label>
        <locationX>241</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>PunchId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Punch_In</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SavePositionScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecordID_0</name>
        <label>AssignRecordID</label>
        <locationX>777</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>PunchId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Punch_Out</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SavePositionScreen_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Any</name>
        <label>Check If Any</label>
        <locationX>505</locationX>
        <locationY>370</locationY>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>No_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Attendance_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHeck_In_Screen</targetReference>
            </connector>
            <label>No Record Found</label>
        </rules>
        <rules>
            <name>Check_If_Check_Out_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Attendance_Record.Check_Out__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Out_Screen</targetReference>
            </connector>
            <label>Check If Check Out Null</label>
        </rules>
        <rules>
            <name>If_Not_NUll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Attendance_Record.Check_Out__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ignore_Screen</targetReference>
            </connector>
            <label>If Not NUll</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetMonth</name>
        <dataType>String</dataType>
        <expression>Case(Month({!$Flow.CurrentDate}),
1, &quot;January&quot;,
2,&quot;February&quot;,
3,&quot;March&quot;,
4,&quot;April&quot;,
5,&quot;May&quot;,
6,&quot;June&quot;,
7,&quot;July&quot;,
8,&quot;August&quot;,
9,&quot;September&quot;,
10,&quot;October&quot;,
11,&quot;November&quot;,
&quot;December&quot;)</expression>
    </formulas>
    <formulas>
        <name>GetYear</name>
        <dataType>Number</dataType>
        <expression>Year({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Check In-Out Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check In-Out Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Punch_In</name>
        <label>Create Punch In</label>
        <locationX>152</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>AssignRecordID</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee_Information__c</field>
            <value>
                <elementReference>GetEmployee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_type__c</field>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>In</stringValue>
            </value>
        </inputAssignments>
        <object>Punch_In_Out__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Punch_Out</name>
        <label>Create Punch Out</label>
        <locationX>777</locationX>
        <locationY>697</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <inputAssignments>
            <field>Attendance__c</field>
            <value>
                <elementReference>Get_Attendance_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Information__c</field>
            <value>
                <elementReference>Get_Attendance_Record.Employee__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_type__c</field>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Out</stringValue>
            </value>
        </inputAssignments>
        <object>Punch_In_Out__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Attendance_Record</name>
        <label>Get Attendance Record</label>
        <locationX>514</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Any</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GetCreatedDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEmployee</name>
        <label>GetEmployee</label>
        <locationX>152</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Punch_In</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CHeck_In_Screen</name>
        <label>CHeck In Screen</label>
        <locationX>259</locationX>
        <locationY>368</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetEmployee</targetReference>
        </connector>
        <fields>
            <name>In_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;PLEASE CHECK IN AND HAVE AN EFFICIENT WORK DAY!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://cdn.dribbble.com/users/2514124/screenshots/5439070/girl_3.gif&quot; alt=&quot;Enjoy Hard Work by Anton on Dribbble&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Check In</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_Out_Screen</name>
        <label>Check Out Screen</label>
        <locationX>775</locationX>
        <locationY>367</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_out_screen_1</targetReference>
        </connector>
        <fields>
            <name>Check_out_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Hi &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(24, 4, 247);&quot;&gt;{!Get_Attendance_Record.Employee__r.Name_Flow__c}&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;! Thank you for a hard working-day. Please Check Out and enjoy the rest of the day!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://cdn.dribbble.com/users/2146370/screenshots/9344637/media/0059834c5239c93f30c78514086c04a5.gif&quot; alt=&quot;working hard by Dano Palacios on Dribbble&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Check Out</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>check_out_screen_1</name>
        <label>check out screen</label>
        <locationX>771</locationX>
        <locationY>549</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Punch_Out</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Do you want to check out? &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://cdn.dribbble.com/users/2146370/screenshots/9344637/media/0059834c5239c93f30c78514086c04a5.gif&quot; alt=&quot;working hard by Dano Palacios on Dribbble&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalScreen</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Check_Out_Screen</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirmed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>777</locationX>
        <locationY>843</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignRecordID_0</targetReference>
        </connector>
        <fields>
            <name>EndCheckout</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Thank you for your contribution&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(11, 7, 237);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(24, 4, 247);&quot;&gt;{!Get_Attendance_Record.Employee__r.Name_Flow__c}&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;! Please have a nice rest!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://media3.giphy.com/media/RfYPNHT08TsegXGMLH/giphy.gif&quot; alt=&quot;Self-care-zone GIFs - Get the best GIF on GIPHY&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ignore_Screen</name>
        <label>Ignore Screen</label>
        <locationX>793</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Announce_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;You have already check out today. Contact your Admin for more information!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SavePositionScreen</name>
        <label>SavePositionScreen</label>
        <locationX>143</locationX>
        <locationY>868</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SavePositionComponent</name>
            <extensionName>c:SavePositionPunch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>PunchId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SavePositionScreen_0</name>
        <label>SavePositionScreen</label>
        <locationX>778</locationX>
        <locationY>1132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SavePositionComponent_0</name>
            <extensionName>c:SavePositionPunch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>PunchId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>388</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Attendance_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetYearAsText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetYear</elementReference>
        </value>
    </variables>
    <variables>
        <name>PunchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singAttendance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
</Flow>
