force-app/main/default/flows/CNTR_in_Trans_Update_Consol_CNTR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_consol_ctnr</name>
        <label>Assign consol ctnr</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Consol_CNTR_Grossweight</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_cntr_in_trans.Gross_Weight_Kg__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consol_CTNR_MeasurementCBM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_cntr_in_trans.Measurement_CBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consol_CNTR_CargoQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_cntr_in_trans.Cargo_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_cntr_in_trans</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CNTR in Trans| Update Consol CNTR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CNTR in Trans| Update Consol CNTR</label>
    <loops>
        <name>Loop_cntr_in_trans</name>
        <label>Loop cntr in trans</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_all_cntr_in_trans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_consol_ctnr</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Consol_container</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_cntr_in_trans</name>
        <label>Get all cntr in trans</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_cntr_in_trans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsolCNTR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConsolCNTR__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CntrinTrans__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consol_container</name>
        <label>Update Consol container</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConsolCNTR__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cargo_Quantity__c</field>
            <value>
                <elementReference>Consol_CNTR_CargoQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gross_WeightKg__c</field>
            <value>
                <elementReference>Consol_CNTR_Grossweight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeasurementCBM__c</field>
            <value>
                <elementReference>Consol_CTNR_MeasurementCBM</elementReference>
            </value>
        </inputAssignments>
        <object>ConsolCNTR__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_cntr_in_trans</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>Measurement_CBM__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Gross_Weight_Kg__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cargo_Quantity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ConsolCNTR__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>F_TMS_S_O__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CntrinTrans__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Consol_CNTR_CargoQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <elementReference>$Record.Cargo_Quantity__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Consol_CNTR_Grossweight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <elementReference>$Record.Gross_Weight_Kg__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Consol_CTNR_MeasurementCBM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <elementReference>$Record.Measurement_CBM__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Varcntr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsolCNTR__c</objectType>
    </variables>
</Flow>
