force-app/main/default/flows/CNTR_Trigger_update_Container_type_and_container_quantity_To_F_tms_S_o.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_container_type</name>
        <label>Assign container type</label>
        <locationX>1473</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Container_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_S_O</name>
        <label>Assign S/O</label>
        <locationX>1291</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>shipmentforupdate.ContainerType1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipmentforupdate.ContainerQuantity1__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipmentforupdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.F_TMS_S_O__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipmentforupdate.IsSingledelete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>is_single_delete_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_S_O_0</name>
        <label>Assign S/O</label>
        <locationX>1495</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>Type2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Container_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipmentforupdate.ContainerType1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipmentforupdate.ContainerQuantity1__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Type_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_S_O_0_0</name>
        <label>Assign S/O</label>
        <locationX>970</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>Type2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Container_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipmentforupdate.ContainerType1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Container_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipmentforupdate.ContainerQuantity1__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Type_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>shipmentforupdate.IsSingledelete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>is_single_delete_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Type</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Type 1</label>
        <locationX>1456</locationX>
        <locationY>366</locationY>
        <assignNextValueToReference>currentItem_Filter_Type_2_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Cntr</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Type_2_0.Container_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Type</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_S_O</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Type_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Type 2</label>
        <locationX>1328</locationX>
        <locationY>840</locationY>
        <assignNextValueToReference>currentItem_Filter_Type_2_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Cntr</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Type_2_0.Container_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_1.Container_Type__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_S_O_0</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Type_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Type 3</label>
        <locationX>1105</locationX>
        <locationY>770</locationY>
        <assignNextValueToReference>currentItem_Filter_Type_2_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Cntr</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Type_2_0.Container_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_1.Container_Type__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_S_O_0_0</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Compare_Type</name>
        <label>Compare Type</label>
        <locationX>1303</locationX>
        <locationY>697</locationY>
        <defaultConnector>
            <targetReference>Filter_Type_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Container_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Type</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>Same</label>
        </rules>
        <rules>
            <name>type_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Container_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Type</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.Container_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Type2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Type_3</targetReference>
            </connector>
            <label>type 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tex_for_compare_null</name>
        <label>Tex for compare null</label>
        <locationX>1270</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Compare_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_container_type</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>is_single_delete_formula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.F_TMS_S_O__r.IsSingledelete__c}= TRUE, FALSE, TRUE)</expression>
    </formulas>
    <interviewLabel>CNTR | Trigger update Container type and container quantity To F/tms S/o {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CNTR | Trigger update Container type and container quantity To F/tms S/o</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>1104</locationX>
        <locationY>515</locationY>
        <collectionReference>Get_All_Cntr</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Tex_for_compare_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_F_tms_S_o</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Cntr</name>
        <label>Get All Cntr</label>
        <locationX>1104</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>F_TMS_S_O__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.F_TMS_S_O__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CntrinTrans__c</object>
        <sortField>Container_Type__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_F_tms_S_o</name>
        <label>Update F/tms S/o</label>
        <locationX>883</locationX>
        <locationY>515</locationY>
        <inputReference>shipmentforupdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>974</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Get_All_Cntr</targetReference>
        </connector>
        <filterFormula>OR(AND(ISNEW(), NOT(ISNULL({!$Record.F_TMS_S_O__c})), NOT(ISNULL(TEXT({!$Record.Container_Type__c})))),AND(NOT(ISNULL({!$Record.F_TMS_S_O__c})) , NOT(ISNULL(TEXT({!$Record.Container_Type__c}))), NOT(ISCHANGED({!$Record.IsCreatebyfunction__c}))))</filterFormula>
        <object>CntrinTrans__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_Type_2_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CntrinTrans__c</objectType>
    </variables>
    <variables>
        <name>shipmentforupdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FTMSSO__c</objectType>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
