force-app/main/default/flows/CNTR_in_Trans_Trigger_update_DEM_DET_Combined_DEM_DET_durations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_EBooking_Of_F_TMS_S_O</name>
        <label>Check EBooking Of F/TMS S/O</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_AdvancedShipment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_F_TMS_S_O.EbookingID__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CNTR_in_Trans_With_F_TMS_S_O</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_get_AdvancedShipment</name>
        <label>Check get AdvancedShipment</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_CNTR_in_Trans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AdvancedShipment.EBookingID__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>is Null</label>
        </rules>
    </decisions>
    <description>Flow Trigger update DEM/DET/ Combined DEM DET durations</description>
    <environments>Default</environments>
    <interviewLabel>CNTR in Trans Trigger | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CNTR in Trans | Trigger update DEM/DET/ Combined DEM DET durations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get TypeofTrade__c of Advanced Shipment</description>
        <name>Get_AdvancedShipment</name>
        <label>Get AdvancedShipment</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_get_AdvancedShipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AdvancedShipment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AdvancedShipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_F_TMS_S_O</name>
        <label>Get F/TMS S/O</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_EBooking_Of_F_TMS_S_O</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.F_TMS_S_O__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FTMSSO__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update DEM/DET/ Combined DEM DET durations</description>
        <name>Update_CNTR_in_Trans</name>
        <label>Update  CNTR in Trans</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>CombinedDEMDETDuration__c</field>
            <value>
                <elementReference>Get_AdvancedShipment.EBookingID__r.CombinedDEMDETdays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContainerCutoffTime__c</field>
            <value>
                <elementReference>Get_AdvancedShipment.EBookingID__r.CNTRCutofftime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContainerFreeTime__c</field>
            <value>
                <elementReference>Get_AdvancedShipment.EBookingID__r.CNTRFreetime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DEMDuration__c</field>
            <value>
                <elementReference>Get_AdvancedShipment.EBookingID__r.DEMFreeTimeDurationdays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DETDuration__c</field>
            <value>
                <elementReference>Get_AdvancedShipment.EBookingID__r.DETFreeTimeDurationdays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>Get_AdvancedShipment.EBookingID__r.Master_Carrier_Consolidator__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update DEM/DET/ Combined DEM DET durations</description>
        <name>Update_CNTR_in_Trans_With_F_TMS_S_O</name>
        <label>Update CNTR in Trans With F/TMS S/O</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>CombinedDEMDETDuration__c</field>
            <value>
                <elementReference>Get_F_TMS_S_O.EbookingID__r.CombinedDEMDETdays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContainerCutoffTime__c</field>
            <value>
                <elementReference>Get_F_TMS_S_O.EbookingID__r.CNTRCutofftime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContainerFreeTime__c</field>
            <value>
                <elementReference>Get_F_TMS_S_O.EbookingID__r.CNTRFreetime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DEMDuration__c</field>
            <value>
                <elementReference>Get_F_TMS_S_O.EbookingID__r.DEMFreeTimeDurationdays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DETDuration__c</field>
            <value>
                <elementReference>Get_F_TMS_S_O.EbookingID__r.DETFreeTimeDurationdays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>Get_F_TMS_S_O.EbookingID__r.Master_Carrier_Consolidator__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_F_TMS_S_O</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AdvancedShipment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CntrinTrans__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
