force-app/main/default/flows/CNTR_Rollup_grossweight.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Gross</name>
        <label>Assign Gross</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Grossweight</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CNTR.Gross_Weight_Kg__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CNTR</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CNTR| Rollup grossweight {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CNTR| Rollup grossweight</label>
    <loops>
        <name>Loop_CNTR</name>
        <label>Loop CNTR</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>get_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Gross</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_trigger_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_record</name>
        <label>get record</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_CNTR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>F_TMS_S_O__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.F_TMS_S_O__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gross_Weight_Kg__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CntrinTrans__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_trigger_record</name>
        <label>Update trigger record</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.F_TMS_S_O__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GrossWeight__c</field>
            <value>
                <elementReference>Grossweight</elementReference>
            </value>
        </inputAssignments>
        <object>FTMSSO__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Gross_Weight_Kg__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Gross_Weight_Kg__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CntrinTrans__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Grossweight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
