force-app/main/default/flows/Create_HBL_number_when_created_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignvalueforHAWNumberfield</name>
        <label>Assign value for H AWB Number field</label>
        <locationX>1862</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>$Record.HAWBNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HAW_AirExport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentShipment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignvalueforHBLfield</name>
        <label>Assign value for HBL field</label>
        <locationX>1189</locationX>
        <locationY>1602</locationY>
        <assignmentItems>
            <assignToReference>$Record.HBLNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HBL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentShipment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateHAWBNumber_01</name>
        <label>Create H AWB Number</label>
        <locationX>2383</locationX>
        <locationY>1156</locationY>
        <assignmentItems>
            <assignToReference>POLName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.POLAOD__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastestNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HBLHAWB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HAW_AirExport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checkifitwasmanuallyinputted_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateHBLNumber</name>
        <label>Create H BL Number</label>
        <locationX>1093</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>OrderNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LastestNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.PlaceofDelivery__r.PortCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HBLHAWB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HBL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checkifitwasmanuallyinputted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreatenewestHAWBNumber</name>
        <label>Create Newest H AWB Number</label>
        <locationX>2066</locationX>
        <locationY>1149</locationY>
        <assignmentItems>
            <assignToReference>POLName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.POLAOD__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HBLHAWB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HAW_AirExport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checkifitwasmanuallyinputted_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateNewestHBLNumber_0</name>
        <label>Create Newest HBL Number</label>
        <locationX>1323</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>POD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.PlaceofDelivery__r.PortCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HBLHAWB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HBL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checkifitwasmanuallyinputted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCurrentHBLnumber</name>
        <label>Update Current HBL number</label>
        <locationX>1522</locationX>
        <locationY>630</locationY>
        <assignmentItems>
            <assignToReference>OrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>POD</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PlaceofDelivery__r.PortCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.HBLHAWB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HBL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checkifitwasmanuallyinputted</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_branch</name>
        <label>Check branch</label>
        <locationX>2269</locationX>
        <locationY>507</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>H_Ch_Minh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ho Chi Minh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLastestAirExport</targetReference>
            </connector>
            <label>Hồ Chí Minh</label>
        </rules>
        <rules>
            <name>H_N_i</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ha Noi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hai Phong</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLastestAirExport_0</targetReference>
            </connector>
            <label>Hà Nội</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordType</name>
        <label>Check RecordType?</label>
        <locationX>1884</locationX>
        <locationY>513</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OceanExport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OceanExport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipmentiscreatedorupdated</targetReference>
            </connector>
            <label>Ocean Export</label>
        </rules>
        <rules>
            <name>AirExport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AirExport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipmentiscreatedorupdated_0</targetReference>
            </connector>
            <label>Air Export</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkifitwasmanuallyinputted</name>
        <label>Check if it was manually inputted?</label>
        <locationX>1312</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>AssignvalueforHBLfield</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_manually</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CarrierAirlinersHBLHAWB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCurrentShipment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkifitwasmanuallyinputted_0</name>
        <label>Check if it was manually inputted?</label>
        <locationX>2056</locationX>
        <locationY>1480</locationY>
        <defaultConnector>
            <targetReference>AssignvalueforHAWNumberfield</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_manually_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CarrierAirlinersHBLHAWB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCurrentShipment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNumber</name>
        <label>Check number</label>
        <locationX>1248</locationX>
        <locationY>511</locationY>
        <defaultConnectorLabel>Not Equal to 0</defaultConnectorLabel>
        <rules>
            <name>HaveRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLastestSO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHBLNumber</targetReference>
            </connector>
            <label>Have Record</label>
        </rules>
        <rules>
            <name>Norecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLastestSO</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewestHBLNumber_0</targetReference>
            </connector>
            <label>No record?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Haverecordsornot</name>
        <label>Have records or not</label>
        <locationX>2229</locationX>
        <locationY>850</locationY>
        <defaultConnector>
            <targetReference>CreatenewestHAWBNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HaveRecord_AE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastestAirExport</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHAWBNumber_01</targetReference>
            </connector>
            <label>Have Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipmentiscreatedorupdated</name>
        <label>Shipment is created or updated?</label>
        <locationX>1671</locationX>
        <locationY>512</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HBLNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HBLNumber__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLastestSO</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>PODischanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlaceofDelivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HBLHAWB__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCurrentHBLnumber</targetReference>
            </connector>
            <label>POD is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipmentiscreatedorupdated_0</name>
        <label>Shipment is created or updated?</label>
        <locationX>2100</locationX>
        <locationY>513</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISNewRecord</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HAWBNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HAWBNumber__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_branch</targetReference>
            </connector>
            <label>IS New Record</label>
        </rules>
    </decisions>
    <description>- Change Logic 
- Air Export : Seperate to branch</description>
    <environments>Default</environments>
    <formulas>
        <name>BranchFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Branch__c}, &quot;Ho Chi Minh&quot;),&quot;HCM&quot;,&quot;HPH&quot;)</expression>
    </formulas>
    <formulas>
        <name>CurrentOrderNumber</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.RecordType.DeveloperName} =&quot;OceanExport&quot;,
 VALUE(RIGHT({!$Record.HBLNumber__c},3)),
VALUE(RIGHT({!$Record.HAWBNumber__c},2)))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>HAW_AirExport</name>
        <dataType>String</dataType>
        <expression>&quot;ASAP&quot; &amp; {!PortCode}
&amp; RIGHT(TEXT(YEAR(DATEVALUE({!$Record.CreatedDate}))), 2)
&amp; RIGHT(&quot;0&quot; &amp; TEXT(MONTH(DATEVALUE({!$Record.CreatedDate}))), 2)
&amp; CASE(LEN(TEXT({!OrderNumber})),1,&quot;0&quot; &amp; TEXT({!OrderNumber}),TEXT({!OrderNumber}))</expression>
    </formulas>
    <formulas>
        <name>HBL</name>
        <dataType>String</dataType>
        <expression>&quot;ASAP&quot; &amp; UPPER({!BranchFormula}) &amp; &quot;/&quot;&amp;  UPPER(RIGHT({!POD}, 3))
&amp; RIGHT(TEXT(YEAR({!$Record.ETD__c})), 2)
&amp; RIGHT(&quot;0&quot; &amp; TEXT(MONTH({!$Record.ETD__c})), 2)
&amp; CASE(LEN(TEXT({!OrderNumber})),1,&quot;00&quot; &amp; TEXT({!OrderNumber}),
2,&quot;0&quot; &amp; TEXT({!OrderNumber}),TEXT({!OrderNumber}))</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>LastestNumber</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.RecordType.DeveloperName} =&quot;OceanExport&quot;,
 VALUE(RIGHT({!GetLastestSO.HBLHAWB__c},3)),
VALUE(RIGHT({!LastestAirExport.HBLHAWB__c},2)))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>PortCode</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Branch__c},&quot;Ho Chi Minh&quot;),&quot;SG&quot;,&quot;HN&quot;)</expression>
    </formulas>
    <formulas>
        <name>ValidCreatedDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(YEAR(DATEVALUE({!$Record.CreatedDate}))) &amp;&quot;-&quot;&amp; TEXT(MONTH(DATEVALUE({!$Record.CreatedDate})))&amp;&quot;-&quot;&amp; &quot;01&quot; &amp; &quot; 00:00:00&quot;) - (7/24)</expression>
    </formulas>
    <formulas>
        <name>ValidEndDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(
   MONTH(DATEVALUE({!ValidCreatedDate})) = 12,
   DATETIMEVALUE(TEXT(YEAR(DATEVALUE({!ValidCreatedDate}))) &amp; &quot;-12-31 23:59:59&quot;) - (7/24),
   DATETIMEVALUE(TEXT(YEAR(DATEVALUE({!ValidCreatedDate}))) &amp; &quot;-&quot; &amp; TEXT(MONTH(DATEVALUE({!ValidCreatedDate})) + 1) &amp; &quot;-01 00:00:00&quot;) - (7/24) - (1 / (24 * 60 * 60))
)</expression>
    </formulas>
    <formulas>
        <name>ValidETDEndday</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.ETD__c}),MONTH({!$Record.ETD__c}) + 1,1) - 1</expression>
    </formulas>
    <formulas>
        <name>ValidETDstartday</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.ETD__c}),MONTH({!$Record.ETD__c}),1)</expression>
    </formulas>
    <interviewLabel>F/TMS S/O| Create HBL number when created/update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/TMS S/O| Create HBL number when created/update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLastestAirExport</name>
        <label>Get lastest AirExport</label>
        <locationX>2170</locationX>
        <locationY>693</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Haverecordsornot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ValidCreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Branch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Branch__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>FTMSSO__c</object>
        <outputReference>LastestAirExport</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HAWBNumber__c</queriedFields>
        <queriedFields>HBLHAWB__c</queriedFields>
        <queriedFields>CarrierAirlinersHBLHAWB__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetLastestAirExport_0</name>
        <label>Get lastest AirExport</label>
        <locationX>2302</locationX>
        <locationY>694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Haverecordsornot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ValidCreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Branch__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ho Chi Minh</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>FTMSSO__c</object>
        <outputReference>LastestAirExport</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>HBLHAWB__c</queriedFields>
        <queriedFields>HAWBNumber__c</queriedFields>
        <queriedFields>CarrierAirlinersHBLHAWB__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetLastestSO</name>
        <label>Get Lastest S/O</label>
        <locationX>1448</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ETD__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ValidETDstartday</elementReference>
            </value>
        </filters>
        <filters>
            <field>ETD__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>ValidETDEndday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FTMSSO__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCurrentShipment</name>
        <label>Update Current Shipment</label>
        <locationX>1656</locationX>
        <locationY>1473</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1926</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_RecordType</targetReference>
        </connector>
        <object>FTMSSO__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastestAirExport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FTMSSO__c</objectType>
    </variables>
    <variables>
        <name>Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OldestOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>POD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>POLName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
