force-app/main/default/flows/Create_Rollup_Record_to_Billing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create Rollup Record to Billing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Rollup Record to Billing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Rollup_Record</name>
        <label>Create Rollup Record</label>
        <locationX>424</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>Update_ID_rollup_to_Billing</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Request_Payment_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billings__c</field>
            <value>
                <elementReference>$Record.Billingid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>$Record.Payment_Request__r.Payment_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deduction_Amount__c</field>
            <value>
                <elementReference>$Record.Requested_Deduction_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deduction_Currency__c</field>
            <value>
                <elementReference>$Record.Payment_Request__r.Payment_Currency__c</elementReference>
            </value>
        </inputAssignments>
        <object>Rollup_Requested_Amount_to_Billing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_ID_rollup_to_Billing</name>
        <label>Update ID rollup to Billing</label>
        <locationX>90</locationX>
        <locationY>483</locationY>
        <inputAssignments>
            <field>Rollup_Requested_Amount_to_Billing__c</field>
            <value>
                <elementReference>Create_Rollup_Record</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_Rollup_Record</targetReference>
        </connector>
        <object>Connectbill__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
