force-app/main/default/flows/E_Booking_Create_Task_Notification_3_Days_Before.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Cargo_Closing_Notification</name>
        <label>Send Cargo Closing Notification</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_New_Task_3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Cargo_Closing_Custom_Notification_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCol_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>3 days before Cargo Closing Time</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>CargoClosing_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_SI_Notification</name>
        <label>Send SI Notification</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_New_Task_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_SI_Custom_Notification_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCol_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>3 days before SI Cut-off (from Carrier)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SI_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_VGM_Notification</name>
        <label>Send VGM Notification</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_New_Task_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_VGM_Custom_Notification_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCol_Recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>3 days before VGM Cut-off (from Carrier)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>VGM_Notification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Recipient_ID_1</name>
        <label>Assign Recipient ID</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varCol_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.BookingPIC__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SI_Custom_Notification_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_ID_2</name>
        <label>Assign Recipient ID</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varCol_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.BookingPIC__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_VGM_Custom_Notification_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_ID_3</name>
        <label>Assign Recipient ID</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varCol_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.BookingPIC__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_Recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cargo_Closing_Custom_Notification_ID</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Fml_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Numberofleftcontainers</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Container_Qty_1__c} + {!$Record.Container_Qty_2__c}) - {!$Record.JobsContainers__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>E-Booking | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-Booking | Create Task, Notification 3 Days Before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Task_1</name>
        <label>Create New Task</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Fml_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.BookingPIC__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>BOOKING DEADLINE. PLEASE CHECK CUT OFF TIME!!!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Task_2</name>
        <label>Create New Task</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Fml_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.BookingPIC__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>BOOKING DEADLINE. PLEASE CHECK CUT OFF TIME!!!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Task_3</name>
        <label>Create New Task</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Fml_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.BookingPIC__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>BOOKING DEADLINE. PLEASE CHECK CUT OFF TIME!!!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cargo_Closing_Custom_Notification_ID</name>
        <label>Get Cargo Closing Custom Notification ID</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Cargo_Closing_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X3_Days_Before_Cargo_Closing_Time</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SI_Custom_Notification_ID</name>
        <label>Get SI Custom Notification ID</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_SI_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X3_Days_Before_SI_Cutoff_from_Carrier</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_VGM_Custom_Notification_ID</name>
        <label>Get VGM Custom Notification ID</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_VGM_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>X3_Days_Before_VGM_Cutoff_from_Carrier</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8</filterLogic>
        <filters>
            <field>SI_Cut_off_from_Carrier__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VGM_Cut_off_from_Carrier__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cargo_Closing_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BookingPIC__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Booking_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Release to customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Booking_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Booking_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Used</stringValue>
            </value>
        </filters>
        <filters>
            <field>Container_Quantity_Check__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EBooking__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X3_day_before_SI_Cut_off_from_Carrier</name>
            <connector>
                <targetReference>Assign_Recipient_ID_1</targetReference>
            </connector>
            <label>3 day before SI Cut-off (from Carrier)</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>SI_Cut_off_from_Carrier__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_day_before_VGM_Cut_off_from_Carrier</name>
            <connector>
                <targetReference>Assign_Recipient_ID_2</targetReference>
            </connector>
            <label>3 day before VGM Cut-off (from Carrier)</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>VGM_Cut_off_from_Carrier__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_day_before_Cargo_Closing_Time</name>
            <connector>
                <targetReference>Assign_Recipient_ID_3</targetReference>
            </connector>
            <label>3 day before Cargo Closing Time</label>
            <offsetNumber>-3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Cargo_Closing_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>CargoClosing_Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Make sure you release this booking {!$Record.Name} or cancel it before {!$Record.Cargo_Closing_Time__c}.
Number of left containers: {!Numberofleftcontainers} Thank you!</text>
    </textTemplates>
    <textTemplates>
        <name>SI_Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Make sure you release this booking {!$Record.Name} or cancel it before {!$Record.SI_Cut_off_from_Carrier__c}. 
Number of left containers: {!Numberofleftcontainers} Thank you!</text>
    </textTemplates>
    <textTemplates>
        <name>VGM_Notification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Make sure you release this booking {!$Record.Name} or cancel it before {!$Record.VGM_Cut_off_from_Carrier__c}. 
Number of left containers: {!Numberofleftcontainers} Thank you!</text>
    </textTemplates>
    <variables>
        <name>varCol_Recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
