force-app/main/default/flows/E_Booking_Update_Previous_Booking_information_into_newly_created_Booking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Have_A_Previous_Record</name>
        <label>Check Have A Previous Record</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Re_Update_Trigger_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Have</defaultConnectorLabel>
        <rules>
            <name>Don_t_Have</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_E_Booking_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Don&apos;t Have</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>E-Booking | Update Previous Booking information into newly created Booking in object E-Booking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>E-Booking | Update Previous Booking information into newly created Booking in object E-Booking</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_E_Booking_Record</name>
        <label>Get E-Booking Record</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Have_A_Previous_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>POLAOD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.POLAOD__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PODAOD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PODAOD__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Carrier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EBooking__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Re_Update_Trigger_Record</name>
        <label>Re-Update Trigger Record</label>
        <locationX>308</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>X0_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>Get_E_Booking_Record.Carrier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CombinedDEMDETdays__c</field>
            <value>
                <elementReference>Get_E_Booking_Record.CombinedDEMDETdays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DEMFreeTimeDurationdays__c</field>
            <value>
                <elementReference>Get_E_Booking_Record.DEMFreeTimeDurationdays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DEM__c</field>
            <value>
                <elementReference>Get_E_Booking_Record.DEM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DETDeadline__c</field>
            <value>
                <elementReference>Get_E_Booking_Record.DETDeadline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DETFreeTimeDurationdays__c</field>
            <value>
                <elementReference>Get_E_Booking_Record.DETFreeTimeDurationdays__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DET__c</field>
            <value>
                <elementReference>Get_E_Booking_Record.DET__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DemDeadline__c</field>
            <value>
                <elementReference>Get_E_Booking_Record.DemDeadline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PODAOD__c</field>
            <value>
                <elementReference>Get_E_Booking_Record.PODAOD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POLAOD__c</field>
            <value>
                <elementReference>Get_E_Booking_Record.POLAOD__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_E_Booking_Record</targetReference>
        </connector>
        <object>EBooking__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
