force-app/main/default/flows/Employee_Process_Request_Position_Transition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_aproval</name>
        <label>Submit aproval</label>
        <locationX>442</locationX>
        <locationY>934</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Create_Employee_Process_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>RotationApprovalProcess</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_aproval_0</name>
        <label>Submit aproval</label>
        <locationX>740</locationX>
        <locationY>995</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Create_Employee_Process</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>PromotionApprovalProcess</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_aproval_0_0</name>
        <label>Submit aproval</label>
        <locationX>1019</locationX>
        <locationY>968</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Create_Employee_Process_0_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Resignation_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>PositionPromotion</name>
        <choiceText>Position Promotion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Position Promotion</stringValue>
        </value>
    </choices>
    <choices>
        <name>PositionRotation</name>
        <choiceText>Position Rotation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Position Rotation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resignation</name>
        <choiceText>Resignation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resignation</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_picklist</name>
        <label>Check picklist</label>
        <locationX>739</locationX>
        <locationY>484</locationY>
        <defaultConnector>
            <targetReference>Get_Employee_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Position_Rotation_choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Transition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PositionRotation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_1</targetReference>
            </connector>
            <label>Position Rotation choice</label>
        </rules>
        <rules>
            <name>Position_Promotion_choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Transition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PositionPromotion</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2_1_0</targetReference>
            </connector>
            <label>Position  Promotion choice</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmlAllowance</name>
        <dataType>Number</dataType>
        <expression>If (isnull({!Get_Employee_Process.SpecificApprenticeshipAllowanceAmount__c}), 0, null)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fmlSpecificAllownace</name>
        <dataType>Currency</dataType>
        <expression>If ( isnull({!fmlAllowance}), 0, null)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Employee Process | Request Position Transition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Process | Request Position Transition</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Employee_Process</name>
        <label>Create Employee Process</label>
        <locationX>632</locationX>
        <locationY>899</locationY>
        <connector>
            <targetReference>Submit_aproval_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>Get_Employee_Information.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employeename__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>Position_0.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PromotionStatus__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_recordtype_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Employee_Process_0</name>
        <label>Create Employee Process</label>
        <locationX>460</locationX>
        <locationY>772</locationY>
        <connector>
            <targetReference>Submit_aproval</targetReference>
        </connector>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>Get_Employee_Information.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employeename__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>Position.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RotationStatus__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Employee_Process_0_0</name>
        <label>Create Employee Process</label>
        <locationX>975</locationX>
        <locationY>798</locationY>
        <connector>
            <targetReference>Submit_aproval_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Branch__c</field>
            <value>
                <elementReference>Get_Employee_Information.Branch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employeename__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>Get_Employee_Information.Position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_recordtype_0_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportTo__c</field>
            <value>
                <elementReference>Get_Employee_Information.Owner:User.Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResignationStatus__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Employee_Information</name>
        <label>Get Employee Information</label>
        <locationX>771</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Process</name>
        <label>Get Employee Process</label>
        <locationX>947</locationX>
        <locationY>510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Employee_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MainProcess__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employeename__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Process__c</object>
        <sortField>Start_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recordtype</name>
        <label>Get recordtype</label>
        <locationX>477</locationX>
        <locationY>627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Employee_Process_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rotation_Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recordtype_0</name>
        <label>Get recordtype</label>
        <locationX>736</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Employee_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Promotion_Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recordtype_0_0</name>
        <label>Get recordtype</label>
        <locationX>1095</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Employee_Process_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resignation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Employee_Process</name>
        <label>Update Employee Process</label>
        <locationX>965</locationX>
        <locationY>653</locationY>
        <connector>
            <targetReference>Get_recordtype_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employee_Process.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allowance__c</field>
            <value>
                <elementReference>fmlAllowance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpecificApprenticeshipAllowanceAmount__c</field>
            <value>
                <elementReference>fmlSpecificAllownace</elementReference>
            </value>
        </inputAssignments>
        <object>Employee_Process__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>763</locationX>
        <locationY>323</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_picklist</targetReference>
        </connector>
        <fields>
            <name>Type_of_Transition</name>
            <choiceReferences>PositionRotation</choiceReferences>
            <choiceReferences>PositionPromotion</choiceReferences>
            <choiceReferences>Resignation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Transition</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_1</name>
        <label>Screen 2.1</label>
        <locationX>548</locationX>
        <locationY>491</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_recordtype</targetReference>
        </connector>
        <fields>
            <name>Position</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Position__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Employee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Position</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_1_0</name>
        <label>Screen 2.1</label>
        <locationX>734</locationX>
        <locationY>643</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_recordtype_0</targetReference>
        </connector>
        <fields>
            <name>Position_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Position__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Employee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Position</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Employee_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
