force-app/main/default/flows/F_TMS_S_O_Create_Shipment_member_from_Account_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_noti</name>
        <label>Send noti</label>
        <locationX>138</locationX>
        <locationY>1379</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>remove</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_noti.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Loop.ShipmentID__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sendnoti</name>
        <label>Send noti</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_custom_noti.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>body2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Salesman_Shipment_Member.ShipmentID__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_None_Salesman_Shipment_Member_Col</name>
        <label>Assign None Salesman Shipment Member  Col</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ShipmentMemberCols</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NoneSalesmanShipmentMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_recipients</name>
        <label>assign recipients</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Salesman_Shipment_Member.Member__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sendnoti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignrecipients1</name>
        <label>assign recipients</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop.Member__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_noti</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_Salesman_assignment</name>
        <label>Non Salesman assignment</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>NoneSalesmanShipmentMember.AccountTeam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Count.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoneSalesmanShipmentMember.AdvancedShipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ConsolidationID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoneSalesmanShipmentMember.Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Count.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoneSalesmanShipmentMember.ShipmentID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoneSalesmanShipmentMember.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Count.Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_None_Salesman_Shipment_Member_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>remove</name>
        <label>remove</label>
        <locationX>138</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>recipients</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Null</name>
        <label>Check Null</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShippingInformation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Non_Salesman_Account_Team</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F/TMS S/O | Create Shipment member from Account Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/TMS S/O | Create Shipment member from Account Team</label>
    <loops>
        <name>Each_Count</name>
        <label>Each Count</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Non_Salesman_Account_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Non_Salesman_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_None_Salesman_Shipment_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <collectionReference>ShipmentMemberCols</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignrecipients1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Saleman_AccountTeam</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_None_Salesman_Shipment_Member</name>
        <label>Create None Salesman Shipment Member</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <inputReference>ShipmentMemberCols</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Salesman_Shipment_Member</name>
        <label>Create Salesman Shipment Member</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Get_Salesman_Shipment_Member</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountTeam__c</field>
            <value>
                <elementReference>Get_Saleman_AccountTeam.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>$Record.ShippingInformation__r.Quote_route__r.Route__r.Salesman__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Salesman</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipmentID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Shipmentmembers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_custom_noti</name>
        <label>Get custom noti</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notify_Shipment_Member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Salesman_Account_Team</name>
        <label>Get Non Salesman Account Team</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Salesman</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeam__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Saleman_AccountTeam</name>
        <label>Get Saleman AccountTeam</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Salesman_Shipment_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Salesman</stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ShippingInformation__r.Quote_route__r.Route__r.Salesman__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeam__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesman_Shipment_Member</name>
        <label>Get Salesman Shipment Member</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Salesman_Shipment_Member</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipmentmembers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_custom_noti</targetReference>
        </connector>
        <object>FTMSSO__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please check the shipment {!Loop.ShipmentID__r.Name} and do the next step with role &quot;{!Loop.Role__c}&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>body2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please check the shipment {!Get_Salesman_Shipment_Member.ShipmentID__r.Name} and do the next step with role &quot;{!Get_Salesman_Shipment_Member.Role__c}&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You are assigned to the shipment {!Loop.ShipmentID__r.JobRequestID__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Title2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You are assigned to the shipment {!Get_Salesman_Shipment_Member.ShipmentID__r.JobRequestID__c}</text>
    </textTemplates>
    <variables>
        <name>NoneSalesmanShipmentMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shipmentmembers__c</objectType>
    </variables>
    <variables>
        <name>recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesmanIDCol</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesmanSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shipmentmembers__c</objectType>
    </variables>
    <variables>
        <name>ShipmentMemberCols</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shipmentmembers__c</objectType>
    </variables>
</Flow>
