force-app/main/default/flows/F_TMS_S_O_Calculate_CBM_Gross_Weight_QuanTity_when_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Advanced_Shipment_RecordType</name>
        <label>Check Advanced Shipment RecordType?</label>
        <locationX>685</locationX>
        <locationY>422</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Group</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsolidationID__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConsolidationID__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consol</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OceanExport</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OceanImport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Shipment_Updated</targetReference>
            </connector>
            <label>Is Group?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Shipment_Updated</name>
        <label>Is Shipment Updated?</label>
        <locationX>423</locationX>
        <locationY>428</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsChanged</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GrossWeight__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.GrossWeight__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MeasurementTotalCBM__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MeasurementTotalCBM__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CargoQuantity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CargoQuantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OceanExport</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OceanImport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_for_Advanced_Shipment</targetReference>
            </connector>
            <label>Is Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F/TMS S/O| Calculate CBM/Gross Weight/QuanTity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/TMS S/O| Calculate CBM/Gross Weight/QuanTity when Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Advanced_Shipment_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsolidationID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FTMSSO__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_for_Advanced_Shipment</name>
        <label>Calculate for Advanced Shipment</label>
        <locationX>237</locationX>
        <locationY>425</locationY>
        <flowName>Sub_flow_Calculate_CBM_Gross_Weight_QuanTity_in_Advanced_Shipment</flowName>
        <inputAssignments>
            <name>AdvancedShipmentId</name>
            <value>
                <elementReference>$Record.ConsolidationID__r.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>1600</triggerOrder>
</Flow>
