force-app/main/default/flows/F_tms_S_o_Trigger_Create_container_in_action_Container_Infomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_delete_container_type_1</name>
        <label>Assign delete container type 1</label>
        <locationX>1013</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>record_to_delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_delete_type_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_record_type1</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_to_delete_type1</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_container_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_delete_container_type_2</name>
        <label>Assign delete container type 2</label>
        <locationX>767</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>record_to_delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_delete_type_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_record_type2</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_to_delete_type2</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_container_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_delete_container_type_3</name>
        <label>Assign delete container type 3</label>
        <locationX>1406</locationX>
        <locationY>1073</locationY>
        <assignmentItems>
            <assignToReference>record_to_delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_delete_type_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_record_type3</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_to_delete_type3</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_container_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Is_delete_by_funtion</name>
        <label>Assign Is delete by funtion</label>
        <locationX>1728</locationX>
        <locationY>811</locationY>
        <assignmentItems>
            <assignToReference>Loop_update_delete_record.IsDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_update_delete_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Multiple_record_type_1_for_update</name>
        <label>assign Multiple record type 1 for update</label>
        <locationX>989</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>records_for_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>single_record_for_update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_update_type_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Multiple_record_type_2_for_update</name>
        <label>assign Multiple record type 2 for update</label>
        <locationX>1371</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>records_for_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>single_record_for_update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_update_type_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Multiple_record_type_3_for_update</name>
        <label>assign Multiple record type 3 for update</label>
        <locationX>1540</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>records_for_update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>single_record_for_update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_update_type_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_number_of_record_find</name>
        <label>Assign number of record find</label>
        <locationX>1201</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Number_record_type1</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Container_type_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_record_type2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Container_type_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_record_type3</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Container_type_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_to_delete_type1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Container_type_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_to_delete_type2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Container_type_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>record_to_delete_type3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Container_type_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_container_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_to_create</name>
        <label>Assign record to create</label>
        <locationX>1188</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Records_to_create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_CntrInTrans_to_create</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_record_type1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_container_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_to_create_0</name>
        <label>Assign record to create</label>
        <locationX>985</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>Records_to_create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_CntrInTrans_to_create</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_record_type2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_container_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_to_create_0_0</name>
        <label>Assign record to create</label>
        <locationX>1550</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>Records_to_create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_CntrInTrans_to_create</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Number_record_type3</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_container_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_remaining_CNTR</name>
        <label>Assign remaining CNTR</label>
        <locationX>708</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>record_to_delete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_remaining</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_change_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_record_container_type_1_to_create</name>
        <label>Assign single record container type 1 to create</label>
        <locationX>1114</locationX>
        <locationY>937</locationY>
        <assignmentItems>
            <assignToReference>Single_CntrInTrans_to_create.Cargo_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CargoUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_CntrInTrans_to_create.F_TMS_S_O__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_CntrInTrans_to_create.Container_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContainerType1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_CntrInTrans_to_create.IsCreatebyfunction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Single_record_create_iscreatedbyfuntion_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_record_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_record_container_type_2_to_create</name>
        <label>Assign single record container type 2 to create</label>
        <locationX>782</locationX>
        <locationY>1083</locationY>
        <assignmentItems>
            <assignToReference>Single_CntrInTrans_to_create.Cargo_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CargoUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_CntrInTrans_to_create.F_TMS_S_O__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_CntrInTrans_to_create.Container_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContainerType2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_CntrInTrans_to_create.IsCreatebyfunction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Single_record_create_iscreatedbyfuntion_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_record_to_create_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_single_record_container_type_3_to_create</name>
        <label>Assign single record container type 3 to create</label>
        <locationX>1389</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>Single_CntrInTrans_to_create.Cargo_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CargoUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_CntrInTrans_to_create.F_TMS_S_O__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_CntrInTrans_to_create.Container_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContainerType3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_CntrInTrans_to_create.IsCreatebyfunction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Single_record_create_iscreatedbyfuntion_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_record_to_create_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asssign_single_record_type_1_to_update</name>
        <label>Asssign single record type 1 to update</label>
        <locationX>1003</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>single_record_for_update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_update_type_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_record_for_update.Container_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContainerType1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_record_for_update.IsCreatebyfunction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>single_record_for_update_formular_iscreatedbyfunction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Multiple_record_type_1_for_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asssign_single_record_type_2_to_update</name>
        <label>Asssign single record type 2 to update</label>
        <locationX>1362</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>single_record_for_update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_update_type_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_record_for_update.Container_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContainerType2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_record_for_update.IsCreatebyfunction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>single_record_for_update_formular_iscreatedbyfunction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Multiple_record_type_2_for_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asssign_single_record_type_3_to_update</name>
        <label>Asssign single record type 3 to update</label>
        <locationX>1547</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>single_record_for_update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_update_type_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_record_for_update.Container_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContainerType3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>single_record_for_update.Container_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>single_record_for_update_formular_iscreatedbyfunction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Multiple_record_type_3_for_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_change_type</name>
        <label>Check change type</label>
        <locationX>785</locationX>
        <locationY>533</locationY>
        <defaultConnector>
            <targetReference>Check_change_type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>type1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContainerType1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_update_type_1</targetReference>
            </connector>
            <label>type1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_change_type_0</name>
        <label>Check change type</label>
        <locationX>1009</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Check_change_type_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>type2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContainerType2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_update_type_2</targetReference>
            </connector>
            <label>type 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_change_type_0_0</name>
        <label>Check change type</label>
        <locationX>1193</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>Assign_number_of_record_find</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContainerType3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_update_type_3</targetReference>
            </connector>
            <label>type 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_get_remaining</name>
        <label>Null get remaining</label>
        <locationX>642</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>Assign_remaining_CNTR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_remaining</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_change_type</targetReference>
            </connector>
            <label>Null 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_record_for_create</name>
        <label>Null record for create</label>
        <locationX>1486</locationX>
        <locationY>1090</locationY>
        <defaultConnector>
            <targetReference>Create_CNTR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Records_to_create</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Record_for_delete</name>
        <label>Null Record for delete</label>
        <locationX>1482</locationX>
        <locationY>948</locationY>
        <defaultConnector>
            <targetReference>Loop_update_delete_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_to_delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_record_for_create</targetReference>
            </connector>
            <label>Null 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_record_for_update</name>
        <label>Null record for update</label>
        <locationX>1479</locationX>
        <locationY>794</locationY>
        <defaultConnector>
            <targetReference>Update_Cntr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>records_for_update</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Record_for_delete</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_container_type</name>
        <label>Quantity container type</label>
        <locationX>1189</locationX>
        <locationY>785</locationY>
        <defaultConnector>
            <targetReference>Null_record_for_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_container_type_1_greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantitytype1</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Number_record_type1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_single_record_container_type_1_to_create</targetReference>
            </connector>
            <label>Quantity container type 1 greater</label>
        </rules>
        <rules>
            <name>Quantity_container_type_1_less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantitytype1</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Number_record_type1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_delete_type_1</targetReference>
            </connector>
            <label>Quantity container type 1 less</label>
        </rules>
        <rules>
            <name>Quantity_container_type_2_greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantitytype2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Number_record_type2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_single_record_container_type_2_to_create</targetReference>
            </connector>
            <label>Quantity container type 2 greater</label>
        </rules>
        <rules>
            <name>Quantity_container_type_2_less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantitytype2</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Number_record_type2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_delete_type_2</targetReference>
            </connector>
            <label>Quantity container type 2 less</label>
        </rules>
        <rules>
            <name>Quantity_container_type_3_greater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantitytype3</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Number_record_type3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_single_record_container_type_3_to_create</targetReference>
            </connector>
            <label>Quantity container type 3 greater</label>
        </rules>
        <rules>
            <name>Quantity_container_type_3_less</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantitytype3</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Number_record_type3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_delete_type_3</targetReference>
            </connector>
            <label>Quantity container type 3 less</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Number_of_containertype1_need_deleted</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ContainerQuantity1__c}-{!Number_record_type1}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Quantitytype1</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!$Record.ContainerQuantity1__c}),0,{!$Record.ContainerQuantity1__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Quantitytype2</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!$Record.ContainerQuantity2__c}),0,{!$Record.ContainerQuantity2__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Quantitytype3</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!$Record.ContainerQuantity3__c}),0,{!$Record.ContainerQuantity3__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Single_record_create_iscreatedbyfuntion_formula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Single_CntrInTrans_to_create.IsCreatebyfunction__c}= TRUE, FALSE, TRUE)</expression>
    </formulas>
    <formulas>
        <name>single_record_for_update_formular_iscreatedbyfunction</name>
        <dataType>Boolean</dataType>
        <expression>IF({!single_record_for_update.IsCreatebyfunction__c}= TRUE, FALSE, TRUE)</expression>
    </formulas>
    <interviewLabel>F/tms S/o | Trigger Create container in action Container Infomation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/tms S/o | Trigger Create container in action Container Infomation</label>
    <loops>
        <name>Loop_delete_type_1</name>
        <label>Loop delete type 1</label>
        <locationX>774</locationX>
        <locationY>648</locationY>
        <collectionReference>record_to_delete_type1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_delete_container_type_1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_delete_type_2</name>
        <label>Loop delete type 2</label>
        <locationX>778</locationX>
        <locationY>769</locationY>
        <collectionReference>record_to_delete_type2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_delete_container_type_2</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_delete_type_3</name>
        <label>Loop delete type 3</label>
        <locationX>1299</locationX>
        <locationY>945</locationY>
        <collectionReference>record_to_delete_type3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_delete_container_type_3</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_update_delete_record</name>
        <label>Loop update delete record</label>
        <locationX>1733</locationX>
        <locationY>957</locationY>
        <collectionReference>record_to_delete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Is_delete_by_funtion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_delete_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_update_type_1</name>
        <label>Loop update type 1</label>
        <locationX>865</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Container_type_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asssign_single_record_type_1_to_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_change_type_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_update_type_2</name>
        <label>Loop update type 2</label>
        <locationX>1196</locationX>
        <locationY>369</locationY>
        <collectionReference>Get_Container_type_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asssign_single_record_type_2_to_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_change_type_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_update_type_3</name>
        <label>Loop update type 3</label>
        <locationX>1376</locationX>
        <locationY>512</locationY>
        <collectionReference>Get_Container_type_3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asssign_single_record_type_3_to_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_number_of_record_find</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CNTR</name>
        <label>Create CNTR</label>
        <locationX>1611</locationX>
        <locationY>1076</locationY>
        <inputReference>Records_to_create</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_CNTR</name>
        <label>Delete CNTR</label>
        <locationX>1741</locationX>
        <locationY>1090</locationY>
        <connector>
            <targetReference>Null_record_for_create</targetReference>
        </connector>
        <inputReference>record_to_delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Container_type_1</name>
        <label>Get Container type 1</label>
        <locationX>597</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Container_type_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>F_TMS_S_O__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Container_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ContainerType1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Container_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CntrinTrans__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Container_type_2</name>
        <label>Get Container type 2</label>
        <locationX>428</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Container_type_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>F_TMS_S_O__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Container_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ContainerType2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Container_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CntrinTrans__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Container_type_3</name>
        <label>Get Container type 3</label>
        <locationX>416</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_remaining</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>F_TMS_S_O__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Container_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ContainerType3__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Container_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CntrinTrans__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_remaining</name>
        <label>Get remaining</label>
        <locationX>548</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_get_remaining</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>F_TMS_S_O__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Container_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ContainerType1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Container_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ContainerType2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Container_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.ContainerType3__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CntrinTrans__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cntr</name>
        <label>Update CNTR</label>
        <locationX>1594</locationX>
        <locationY>804</locationY>
        <connector>
            <targetReference>Null_Record_for_delete</targetReference>
        </connector>
        <inputReference>records_for_update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_delete_record</name>
        <label>Update delete record</label>
        <locationX>1890</locationX>
        <locationY>946</locationY>
        <connector>
            <targetReference>Delete_CNTR</targetReference>
        </connector>
        <inputReference>record_to_delete</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Container_type_1</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6) AND 7</filterLogic>
        <filters>
            <field>ContainerType1__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContainerType2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TransportType__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContainerQuantity1__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContainerQuantity2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContainerQuantity3__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsSingledelete__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FTMSSO__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Number_record_type1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Number_record_type2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Number_record_type3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>record_to_delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CntrinTrans__c</objectType>
    </variables>
    <variables>
        <name>record_to_delete_type1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CntrinTrans__c</objectType>
    </variables>
    <variables>
        <name>record_to_delete_type2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CntrinTrans__c</objectType>
    </variables>
    <variables>
        <name>record_to_delete_type3</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CntrinTrans__c</objectType>
    </variables>
    <variables>
        <name>records_for_update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CntrinTrans__c</objectType>
    </variables>
    <variables>
        <name>Records_to_create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CntrinTrans__c</objectType>
    </variables>
    <variables>
        <name>Single_CntrInTrans_to_create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CntrinTrans__c</objectType>
    </variables>
    <variables>
        <name>single_record_for_update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CntrinTrans__c</objectType>
    </variables>
</Flow>
