force-app/main/default/flows/F_tms_S_o_Button_to_copy_s_o_and_container_Consol_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Cntr_Single</name>
        <label>Assign Cntr Single</label>
        <locationX>835</locationX>
        <locationY>746</locationY>
        <assignmentItems>
            <assignToReference>Single_Cntr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_chosen_CntR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Cntr.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Cntr.F_TMS_S_O__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipment_to_copy.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_container_input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_collection_Cntr</name>
        <label>Assign collection Cntr</label>
        <locationX>1092</locationX>
        <locationY>920</locationY>
        <assignmentItems>
            <assignToReference>Collection_Cntr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Cntr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_chosen_CntR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_to_copy</name>
        <label>Assign record to copy</label>
        <locationX>801</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>Shipment_to_copy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipment_to_copy.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipment_to_copy.HBLNumber__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_to_copy_0</name>
        <label>Assign record to copy</label>
        <locationX>868</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>Shipment_to_copy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shipment_to_copy.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Import_Recordtype</name>
        <label>Is Import Recordtype</label>
        <locationX>1089</locationX>
        <locationY>320</locationY>
        <defaultConnector>
            <targetReference>Assign_record_to_copy_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Import</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shipment.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OceanImport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_to_copy</targetReference>
            </connector>
            <label>Import</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F/tms S/o | Button to copy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/tms S/o | Button to copy s/o and container (Consol/Group)</label>
    <loops>
        <name>Loop_chosen_CntR</name>
        <label>Loop chosen CntR</label>
        <locationX>1099</locationX>
        <locationY>750</locationY>
        <collectionReference>Get_Cntr_In_Trans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cntr_Single</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cntr</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cntr</name>
        <label>Create Cntr</label>
        <locationX>1294</locationX>
        <locationY>750</locationY>
        <connector>
            <targetReference>redirect</targetReference>
        </connector>
        <inputReference>Collection_Cntr</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Shipment</name>
        <label>Create Shipment</label>
        <locationX>1295</locationX>
        <locationY>589</locationY>
        <connector>
            <targetReference>Get_Cntr_In_Trans</targetReference>
        </connector>
        <inputReference>Shipment_to_copy</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cntr_In_Trans</name>
        <label>Get Cntr In Trans</label>
        <locationX>1102</locationX>
        <locationY>596</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_table_CNTR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>F_TMS_S_O__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CntrinTrans__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Container_Type__c</queriedFields>
        <queriedFields>Container_Number__c</queriedFields>
        <queriedFields>Seal_Number__c</queriedFields>
        <queriedFields>Cargo_Quantity__c</queriedFields>
        <queriedFields>Cargo_Unit__c</queriedFields>
        <queriedFields>Measurement_CBM__c</queriedFields>
        <queriedFields>Gross_Weight_Kg__c</queriedFields>
        <queriedFields>F_TMS_S_O__c</queriedFields>
        <queriedFields>ConsolCNTR__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipment</name>
        <label>Get Shipment</label>
        <locationX>1104</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Import_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FTMSSO__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Branch__c</queriedFields>
        <queriedFields>VesselFlight__c</queriedFields>
        <queriedFields>Voyage__c</queriedFields>
        <queriedFields>ETA__c</queriedFields>
        <queriedFields>ETD__c</queriedFields>
        <queriedFields>HouseFreightCollectPrepaid__c</queriedFields>
        <queriedFields>HBLNumber__c</queriedFields>
        <queriedFields>HBLType__c</queriedFields>
        <queriedFields>PlaceofReceipt__c</queriedFields>
        <queriedFields>POLAOD__c</queriedFields>
        <queriedFields>PODAOA__c</queriedFields>
        <queriedFields>PlaceofDelivery__c</queriedFields>
        <queriedFields>FinalDestination__c</queriedFields>
        <queriedFields>ConsolidationID__c</queriedFields>
        <queriedFields>MBLNumber__c</queriedFields>
        <queriedFields>Master_Freight_Collect_Prepaid__c</queriedFields>
        <queriedFields>Customer__c</queriedFields>
        <queriedFields>Shipper__c</queriedFields>
        <queriedFields>Consignee__c</queriedFields>
        <queriedFields>HouseNotifyParty__c</queriedFields>
        <queriedFields>Agent__c</queriedFields>
        <queriedFields>CarrierAirlinerVendor__c</queriedFields>
        <queriedFields>Shipment_Type__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>JobRequestID__c</queriedFields>
        <queriedFields>DescriptionofGoods__c</queriedFields>
        <queriedFields>CargoType__c</queriedFields>
        <queriedFields>BranchpickupDO__c</queriedFields>
        <queriedFields>CargoUnit__c</queriedFields>
        <queriedFields>ContainerDetailonBL__c</queriedFields>
        <queriedFields>ContainerType1__c</queriedFields>
        <queriedFields>ContainerType2__c</queriedFields>
        <queriedFields>ContainerType3__c</queriedFields>
        <queriedFields>ContainerQuantity1__c</queriedFields>
        <queriedFields>ContainerQuantity2__c</queriedFields>
        <queriedFields>ContainerQuantity3__c</queriedFields>
        <queriedFields>ContainerNoSealNo__c</queriedFields>
        <queriedFields>CarrierDetailInformation_text__c</queriedFields>
        <queriedFields>AgentDetailInformation_text__c</queriedFields>
        <queriedFields>ConsigneeDetailInformation_text__c</queriedFields>
        <queriedFields>HouseNotifyDetailInformation_text__c</queriedFields>
        <queriedFields>DeliveryPartysDetails_text__c</queriedFields>
        <queriedFields>ShipperDetailInformation_text__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>redirect</name>
        <label>redirect</label>
        <locationX>1290</locationX>
        <locationY>898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirect_record</name>
            <extensionName>c:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>Shipment_to_copy.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>1109</locationX>
        <locationY>472</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Shipment</targetReference>
        </connector>
        <fields>
            <name>Shipment_Information</name>
            <fieldText>Shipment Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shipment_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.Shipment_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.CargoType__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.VesselFlight__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.Voyage__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.ETA__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.ETD__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Shipment_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.Branch__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.BranchpickupDO__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.HBLNumber__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.HBLType__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.HouseFreightCollectPrepaid__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Port_Information</name>
            <fieldText>Port Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Port_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.PlaceofReceipt__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.PlaceofDelivery__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.FinalDestination__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Port_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.POLAOD__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.PODAOA__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Master_Information</name>
            <fieldText>Master Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Master_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.MBLNumber__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Master_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.Master_Freight_Collect_Prepaid__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Party_Information</name>
            <fieldText>Party Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Party_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.Customer__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.Shipper__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.Consignee__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Party_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.HouseNotifyParty__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.Agent__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.CarrierAirlinerVendor__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Goods_Information</name>
            <fieldText>Goods Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Goods_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Shipment_to_copy.DescriptionofGoods__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_table_CNTR</name>
        <label>Screen table CNTR</label>
        <locationX>849</locationX>
        <locationY>584</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_chosen_CntR</targetReference>
        </connector>
        <fields>
            <name>help_text</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 18px; color: rgb(218, 7, 7);&quot;&gt;Please choose which container you want to copy&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Table_CntR</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CntrinTrans__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cntr_In_Trans</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b5f8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;CNTR in Trans&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Container_Type__c&quot;,&quot;guid&quot;:&quot;column-760e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Container Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Container_Number__c&quot;,&quot;guid&quot;:&quot;column-00d2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Container Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Seal_Number__c&quot;,&quot;guid&quot;:&quot;column-d6ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Seal Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cargo_Quantity__c&quot;,&quot;guid&quot;:&quot;column-66c3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Cargo Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Cargo_Unit__c&quot;,&quot;guid&quot;:&quot;column-8214&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Cargo Unit&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Gross_Weight_Kg__c&quot;,&quot;guid&quot;:&quot;column-3f41&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Gross Weight(Kg)&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Measurement_CBM__c&quot;,&quot;guid&quot;:&quot;column-06c3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Measurement(CBM)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Single_container_input</name>
        <label>Single_container_input</label>
        <locationX>832</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_collection_Cntr</targetReference>
        </connector>
        <fields>
            <name>Container_Information</name>
            <fieldText>Container Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Container_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Single_Cntr.Container_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Single_Cntr.Seal_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Container_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Single_Cntr.Container_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cargo_Information</name>
            <fieldText>Cargo Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cargo_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Single_Cntr.Cargo_Quantity__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Single_Cntr.Cargo_Unit__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cargo_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Single_Cntr.Measurement_CBM__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Single_Cntr.Gross_Weight_Kg__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Shipment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Collection_Cntr</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CntrinTrans__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Shipment_to_copy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FTMSSO__c</objectType>
    </variables>
    <variables>
        <name>Single_Cntr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CntrinTrans__c</objectType>
    </variables>
</Flow>
