force-app/main/default/flows/F_TMS_S_O_Calculate_CBM_Gross_Weight_Quantity_for_AS_when_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_value</name>
        <label>Assign value</label>
        <locationX>1132</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>AdvancedShipment_GrossWeight</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_all_SO.GrossWeight__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdvancedShipment_MeasurementCBM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_all_SO.MeasurementTotalCBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AdvancedShipment_Quantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_all_SO.CargoQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_SO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Advanced_Shipment_RecordType</name>
        <label>Check Advanced Shipment RecordType?</label>
        <locationX>685</locationX>
        <locationY>422</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Group</name>
            <conditionLogic>(1 OR 4) AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConsolidationID__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OceanExport</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OceanImport</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConsolidationID__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consol</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_S_O_related_Advanced_Shipment</targetReference>
            </connector>
            <label>Is Group?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>F/TMS S/O| Calculate CBM/Gross Weight/Quantity for AS when Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>F/TMS S/O| Calculate CBM/Gross Weight/Quantity for AS when Deleted</label>
    <loops>
        <name>Loop_Through_all_SO</name>
        <label>Loop Through all SO</label>
        <locationX>1132</locationX>
        <locationY>249</locationY>
        <collectionReference>Get_all_S_O_related_Advanced_Shipment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Avanced_Shipment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_S_O_related_Advanced_Shipment</name>
        <label>Get all S/O related Advanced Shipment</label>
        <locationX>938</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_all_SO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsolidationID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConsolidationID__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FTMSSO__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Avanced_Shipment</name>
        <label>Update Avanced Shipment</label>
        <locationX>1323</locationX>
        <locationY>246</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConsolidationID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GrossWeight__c</field>
            <value>
                <elementReference>AdvancedShipment_GrossWeight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeasurementCBM__c</field>
            <value>
                <elementReference>AdvancedShipment_MeasurementCBM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>AdvancedShipment_Quantity</elementReference>
            </value>
        </inputAssignments>
        <object>AdvancedShipment__c</object>
    </recordUpdates>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Advanced_Shipment_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsolidationID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FTMSSO__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AdvancedShipment_GrossWeight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AdvancedShipment_MeasurementCBM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AdvancedShipment_Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
