force-app/main/default/flows/InquiryUpdateInquiryLinestatusCancelwhencancelInquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>singleTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Task.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValue</name>
        <label>Assign Value</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>singleinquiryline.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInquiryLines.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleinquiryline.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleinquiryline.Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inquiry is cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleinquiryline.StartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectioninquirylines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleinquiryline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectIQLineIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopInquiryLines.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInquiryLines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_null</name>
        <label>check null</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Task</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckExist</name>
        <label>Check Exist?</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllInquiryLine</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopInquiryLines</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Inquiry | Update Inquiry Line status = Cancel when cancel Inquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inquiry | Update Inquiry Line status = Cancel when cancel Inquiry</label>
    <loops>
        <name>loop_Task</name>
        <label>loop Task</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <collectionReference>get_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopInquiryLines</name>
        <label>Loop Inquiry Lines</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>GetAllInquiryLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateInquiryLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Task</name>
        <label>get Task</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_null</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>collectIQLineIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllInquiryLine</name>
        <label>Get All Inquiry Line</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Inquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InquiryLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_task</name>
        <label>Update task</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <inputReference>collectTask</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateInquiryLines</name>
        <label>Update Inquiry Lines</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>get_Task</targetReference>
        </connector>
        <inputReference>collectioninquirylines</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAllInquiryLine</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Inquiry__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collectioninquirylines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InquiryLine__c</objectType>
    </variables>
    <variables>
        <name>collectIQLineIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>singleinquiryline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InquiryLine__c</objectType>
    </variables>
    <variables>
        <name>singleTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
