force-app/main/default/flows/Inquiry_Route_Button_Add_Inquiry_Line.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign Value to Collection</label>
        <locationX>597</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>SinglePicklistValueVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleMulitPicklistValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionMultiPicklistValueVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SinglePicklistValueVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_0</name>
        <label>Assign Value to Collection</label>
        <locationX>1144</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>SingleTransportationvariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleTransportationpicklistv</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColTransportationWayvalue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleTransportationvariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Value_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inquiry_Line_0_0_0_0</name>
        <label>Assign Inquiry Line</label>
        <locationX>478</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ComboProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.ComboProduct1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.RouteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Route__r.Route__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Option.Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Option.Service__r.ServiceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.TransportationWay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Option.TransportationWay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionInquiryLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleInquiryLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inquiry_Line_0_0_0_0_0</name>
        <label>Assign Inquiry Line</label>
        <locationX>657</locationX>
        <locationY>881</locationY>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.RouteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Route__r.Route__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_choices_service.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_choices_service.ServiceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.TransportationWay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_choices_service.TransportationWay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionInquiryLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleInquiryLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_choices_service</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inquiry_Line_0_0_0_0_0_0_0_0</name>
        <label>Assign Inquiry Line</label>
        <locationX>219</locationX>
        <locationY>838</locationY>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ComboProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.ComboProduct1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.RouteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Route__r.Route__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Option.Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Option.Service__r.ServiceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.TransportationWay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Transportation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionInquiryLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleInquiryLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Transportation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inquiry_Line_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Inquiry Line</label>
        <locationX>501</locationX>
        <locationY>1264</locationY>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.RouteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Route__r.Route__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_choices_service.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_choices_service.ServiceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.TransportationWay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Transportation_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionInquiryLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleInquiryLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Transportation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inquiry_Line_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Inquiry Line</label>
        <locationX>1103</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ComboProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.ComboProduct1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.RouteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Route__r.Route__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Option_0.Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Option_0.Service__r.ServiceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.TransportationWay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Option_0.TransportationWay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionInquiryLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleInquiryLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ComboProduct__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Option_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inquiry_Line_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Inquiry Line</label>
        <locationX>1320</locationX>
        <locationY>883</locationY>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ComboProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.ComboProduct1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.RouteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Route__r.Route__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Option_0.Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Service_Option_0.Service__r.ServiceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.TransportationWay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Transportation_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionInquiryLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleInquiryLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ComboProduct__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Transportation_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inquiry_Line_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Inquiry Line</label>
        <locationX>1379</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.RouteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Route__r.Route__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_choices_service_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_choices_service_0.ServiceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.TransportationWay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Transportation_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionInquiryLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleInquiryLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Transportation_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inquiry_Line_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign Inquiry Line</label>
        <locationX>1372</locationX>
        <locationY>1294</locationY>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.RouteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Route__r.Route__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_choices_service_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_choices_service_0.ServiceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleInquiryLine.TransportationWay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_choices_service_0.TransportationWay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionInquiryLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleInquiryLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_choices_service_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Type</name>
        <label>Assign Service Type</label>
        <locationX>439</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>ServiceTypeMulitPikclistValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.ServiceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTypeMulitPikclistValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_servicetype_Value_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Transportation</name>
        <label>Assign Transportation</label>
        <locationX>919</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>TransportationPicklistValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.TransportationWay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransportationPicklistValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_servicetype_Value_Blank_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Value</name>
        <label>Reset Value</label>
        <locationX>614</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>ServiceTypeMulitPikclistValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_servicetype_Value_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Value_0</name>
        <label>Reset Value</label>
        <locationX>1135</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>TransportationPicklistValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateValueTransportation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_servicetype_Value_Blank_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_field</name>
        <label>Check field</label>
        <locationX>781</locationX>
        <locationY>694</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CB_not_null_ST_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.ComboProduct1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.ServiceType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Option</targetReference>
            </connector>
            <label>CB not null ST null</label>
        </rules>
        <rules>
            <name>CB_null_ST_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.ComboProduct1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.ServiceType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service</targetReference>
            </connector>
            <label>CB null ST not null</label>
        </rules>
        <rules>
            <name>Both_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.ComboProduct1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.ServiceType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Option_0</targetReference>
            </connector>
            <label>Both not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_servicetype_Value_Blank</name>
        <label>Check if servicetype Value Blank</label>
        <locationX>788</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceTypeMulitPikclistValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Transportation</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_servicetype_Value_Blank_0</name>
        <label>Check if servicetype Value Blank</label>
        <locationX>784</locationX>
        <locationY>489</locationY>
        <defaultConnector>
            <targetReference>Assign_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransportationPicklistValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_field</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transportation</name>
        <label>Check Transportation</label>
        <locationX>252</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Transportation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Service_Option.TransportationWay__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inquiry_Line_0_0_0_0</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transportation_0</name>
        <label>Check Transportation</label>
        <locationX>440</locationX>
        <locationY>932</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Transportation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_choices_service.TransportationWay__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inquiry_Line_0_0_0_0_0</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transportation_0_0</name>
        <label>Check Transportation</label>
        <locationX>1308</locationX>
        <locationY>702</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Transportation_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Service_Option_0.TransportationWay__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inquiry_Line_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transportation_0_0_0</name>
        <label>Check Transportation</label>
        <locationX>1097</locationX>
        <locationY>1273</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Transportation_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_choices_service_0.TransportationWay__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inquiry_Line_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SingleMulitPicklistValue</name>
        <dataType>String</dataType>
        <expression>TRIM(                                                                                                         
SUBSTITUTE(
LEFT( {!ServiceTypeMulitPikclistValue} , FIND(&quot;;&quot;,  {!ServiceTypeMulitPikclistValue} )),
&quot;;&quot;,                                                                                          
&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>SingleTransportationpicklistv</name>
        <dataType>String</dataType>
        <expression>TRIM(                                                                                                         
SUBSTITUTE(
LEFT( {!TransportationPicklistValue} , FIND(&quot;;&quot;,  {!TransportationPicklistValue} )),
&quot;;&quot;,                                                                                          
&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>UpdatedValue</name>
        <dataType>String</dataType>
        <expression>MID({!ServiceTypeMulitPikclistValue},FIND(&quot;;&quot;,
{!ServiceTypeMulitPikclistValue})+1,LEN({!ServiceTypeMulitPikclistValue})-
LEN(LEFT({!ServiceTypeMulitPikclistValue}, FIND(&quot;;&quot;,{!ServiceTypeMulitPikclistValue})))+1)</expression>
    </formulas>
    <formulas>
        <name>UpdateValueTransportation</name>
        <dataType>String</dataType>
        <expression>MID({!TransportationPicklistValue},FIND(&quot;;&quot;,
{!TransportationPicklistValue})+1,LEN({!TransportationPicklistValue})-
LEN(LEFT({!TransportationPicklistValue}, FIND(&quot;;&quot;,{!TransportationPicklistValue})))+1)</expression>
    </formulas>
    <interviewLabel>Inquiry Route | Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inquiry | Button Add Inquiry Line</label>
    <loops>
        <name>Loop_choices_service</name>
        <label>Loop choices service</label>
        <locationX>783</locationX>
        <locationY>1131</locationY>
        <collectionReference>Service_table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Transportation_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Inquiry_Line_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_choices_service_0</name>
        <label>Loop choices service</label>
        <locationX>1097</locationX>
        <locationY>1128</locationY>
        <collectionReference>Service_table_0.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Transportation_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Inquiry_Line_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Service_Option</name>
        <label>Loop Service Option</label>
        <locationX>452</locationX>
        <locationY>679</locationY>
        <collectionReference>Get_Service_Option</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Transportation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Inquiry_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Service_Option_0</name>
        <label>Loop Service Option</label>
        <locationX>953</locationX>
        <locationY>883</locationY>
        <collectionReference>Get_Service_Option_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Transportation_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Service_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Transportation</name>
        <label>Loop through Transportation</label>
        <locationX>259</locationX>
        <locationY>669</locationY>
        <collectionReference>ColTransportationWayvalue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Inquiry_Line_0_0_0_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Service_Option</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Transportation_0</name>
        <label>Loop through Transportation</label>
        <locationX>595</locationX>
        <locationY>1128</locationY>
        <collectionReference>ColTransportationWayvalue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Inquiry_Line_0_0_0_0_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_choices_service</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Transportation_0_0</name>
        <label>Loop through Transportation</label>
        <locationX>1153</locationX>
        <locationY>878</locationY>
        <collectionReference>ColTransportationWayvalue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Inquiry_Line_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Service_Option_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Transportation_0_0_0</name>
        <label>Loop through Transportation</label>
        <locationX>1238</locationX>
        <locationY>1090</locationY>
        <collectionReference>ColTransportationWayvalue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Inquiry_Line_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_choices_service_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inquiry_Line</name>
        <label>Create Inquiry Line</label>
        <locationX>460</locationX>
        <locationY>821</locationY>
        <inputReference>CollectionInquiryLine</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Inquiry_Line_0</name>
        <label>Create Inquiry Line</label>
        <locationX>777</locationX>
        <locationY>1288</locationY>
        <inputReference>CollectionInquiryLine</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Inquiry_Line_0_0_0</name>
        <label>Create Inquiry Line</label>
        <locationX>963</locationX>
        <locationY>1137</locationY>
        <inputReference>CollectionInquiryLine</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Inquiry_route</name>
        <label>Get Inquiry route</label>
        <locationX>772</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InquiryRoute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service</name>
        <label>Get Service</label>
        <locationX>795</locationX>
        <locationY>826</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Type_Formula__c</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectionMultiPicklistValueVariable</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_0</name>
        <label>Get Service</label>
        <locationX>1144</locationX>
        <locationY>993</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_2_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Type_Formula__c</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectionMultiPicklistValueVariable</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Option</name>
        <label>Get Service Option</label>
        <locationX>618</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Service_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ComboProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.ComboProduct1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceOption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Option_0</name>
        <label>Get Service Option</label>
        <locationX>955</locationX>
        <locationY>689</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Service_Option_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ComboProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InquiryRoute_table.firstSelectedRow.Inquiry__r.ComboProduct1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceOption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>618</locationX>
        <locationY>188</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Service_Type</targetReference>
        </connector>
        <fields>
            <name>InquiryRoute_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>InquiryRoute__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Inquiry_route</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RouteName__c&quot;,&quot;guid&quot;:&quot;column-764f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Route Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;OriginCountry__c&quot;,&quot;guid&quot;:&quot;column-5780&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Origin Country&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;POLAOL__c&quot;,&quot;guid&quot;:&quot;column-67b3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;P.O.L(A.O.L)&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;DestinationCountry__c&quot;,&quot;guid&quot;:&quot;column-396f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Destination Country&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;PODAOD__c&quot;,&quot;guid&quot;:&quot;column-f3e0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;P.O.D(A.O.D)&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>782</locationX>
        <locationY>959</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_choices_service</targetReference>
        </connector>
        <fields>
            <name>Service_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Service__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Service</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;ServiceName__c&quot;,&quot;guid&quot;:&quot;column-8067&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Service Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ServiceCode__c&quot;,&quot;guid&quot;:&quot;column-50e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Service Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ServiceNameEng__c&quot;,&quot;guid&quot;:&quot;column-c760&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Service Name (Eng)&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ServiceNameLocal__c&quot;,&quot;guid&quot;:&quot;column-f44d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Service Name (Local)&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2_0</name>
        <label>Screen 2</label>
        <locationX>955</locationX>
        <locationY>1009</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_choices_service_0</targetReference>
        </connector>
        <fields>
            <name>Service_table_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Service__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Service_0</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;ServiceName__c&quot;,&quot;guid&quot;:&quot;column-8067&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Service Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ServiceCode__c&quot;,&quot;guid&quot;:&quot;column-50e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Service Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ServiceNameEng__c&quot;,&quot;guid&quot;:&quot;column-c760&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Service Name (Eng)&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ServiceNameLocal__c&quot;,&quot;guid&quot;:&quot;column-f44d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Service Name (Local)&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Inquiry_route</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionInquiryLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InquiryLine__c</objectType>
    </variables>
    <variables>
        <name>CollectionMultiPicklistValueVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColTransportationWayvalue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Combo_product_id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceTypeMulitPikclistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleInquiryLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InquiryLine__c</objectType>
    </variables>
    <variables>
        <name>SinglePicklistValueVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleTransportationvariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransportationPicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
