force-app/main/default/flows/Inquiry_Copy_full_Inquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Copy_IQ_Line</name>
        <label>Copy 1 of Copy IQ Line</label>
        <locationX>704</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>SingleIQLine.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Route_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.RouteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Route_2.RouteID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.Old_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_IQ_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_PO</name>
        <label>Copy 1 of Copy PO</label>
        <locationX>1952</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>singlePO.InquiryRoute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Route_3.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Route_3.RouteID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_null_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_PO</name>
        <label>Copy 2 of Copy PO</label>
        <locationX>1976</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>singlePO.InquiryLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.Transit_Port_VIA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.Transit_Port_VIA__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.Transit_Port_VIA_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.Transit_Port_VIA_2__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Inquiry</name>
        <label>Copy Inquiry</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SingleIQ.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Customer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.InquiryPIC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.InquiryPIC__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.ApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Subject__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ref.Price Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Valid_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Valid_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Valid_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Valid_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.InquirysNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.InquirysNote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.TypeofTrade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.TypeofTrade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.ShipmentTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.ShipmentTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.TransportationWay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.TransportationWay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.ComboProduct1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.ComboProduct1__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.ServiceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Commodity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Commodity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Description_of_Goods__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Description_of_Goods__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.HSCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.HSCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Incoterms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Incoterms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Type_of_Cargo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Type_of_Cargo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.ContainerType1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.ContainerType1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.ContaineType2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.ContaineType2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.ContainerType3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.ContainerType3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.ContainerQuantity1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.ContainerQuantity1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.ContainerQuantity2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.ContainerQuantity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.ContainerQuantity3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.ContainerQuantity3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.ETD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.ETD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.ETA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.ETA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.PackingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.PackingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.DIMDimension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.DIMDimension__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Net_WeightKg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Net_WeightKg__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Gross_WeightKg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Gross_WeightKg__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.MeasurementCBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.MeasurementCBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.EstimatedWinRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.EstimatedWinRate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.InitialOpinion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.InitialOpinion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Remark__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.ReturningInquiryReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.ReturningInquiryReason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Prohibited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Prohibited__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Restricted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Restricted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.Prioritized__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.Prioritized__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.DIM_H__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.DIM_H__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.DIM_L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.DIM_L__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.DIM_W__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.DIM_W__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQ.CCCBTType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Inquiry.CCCBTType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Inquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_IQ_Line</name>
        <label>Copy IQ Line</label>
        <locationX>704</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>SingleIQLine.Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleIQ.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.TransportationWay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.TransportationWay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.ComboProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.ComboProduct__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Route_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.RouteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Route_2.RouteID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.Service__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.ServiceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.StartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.StartTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.EndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.EndTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.DurationMinute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.DurationMinute__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.Requested__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.PricingTeam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.PricingTeam__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.PricingMember__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line.PricingMember__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleIQLine.Iscloned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectIQLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleIQLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectIQLineIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_IQ_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_IQ_Route_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_IQ_route</name>
        <label>Copy IQ route</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>singleIQRoute.Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleIQ.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleIQRoute.RouteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_route.RouteID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleIQRoute.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_route.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleIQRoute.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_route.Route__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleIQRoute.OriginCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_route.OriginCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleIQRoute.POLAOL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_route.POLAOL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleIQRoute.PickUpAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_route.PickUpAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleIQRoute.RouteName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_route.RouteName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleIQRoute.DestinationCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_route.DestinationCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleIQRoute.PODAOD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_route.PODAOD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleIQRoute.DeliveryAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_route.DeliveryAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleIQRoute.Place_of_Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_route.Place_of_Delivery__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectIQRouteIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_IQ_route.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleIQRoute.Place_of_Receipt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_route.Place_of_Receipt__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectIQRoute</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleIQRoute</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_IQ_route</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_PO</name>
        <label>Copy PO</label>
        <locationX>1976</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>singlePO.ComboProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.ComboProduct__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.Service__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.ServiceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.ServiceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.ReferencePrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.ReferencePrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleIQ.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.InquiryLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Line_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.SupplierVendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.SupplierVendor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.InquiryRoute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Route_3.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_IQ_Route_3.RouteID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.POLAOD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.POLAOD__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.PODAOA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.PODAOA__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.ChargeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.ChargeUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.ContainerType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.ContainerType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.BuyingListPriceActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.BuyingListPriceActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.Com__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.Com__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.DEM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.DEM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.ST__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.ST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePO.DET__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_PO.DET__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectPO</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singlePO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_IQ_Line_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Assign_1</name>
        <label>check Assign 1</label>
        <locationX>836</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>loop_IQ_Route_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>match_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_IQ_Line.RouteID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_IQ_Route_2.RouteID__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_IQ_Line</targetReference>
            </connector>
            <label>match 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_assign_2</name>
        <label>check assign 2</label>
        <locationX>2084</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>loop_IQ_Route_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>match_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_PO.Route__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_IQ_Route_3.RouteID__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_PO</targetReference>
            </connector>
            <label>match 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_assign_3</name>
        <label>check assign 3</label>
        <locationX>2108</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>loop_IQ_Line_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>match_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_PO.InquiryLine__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_IQ_Line_2.Old_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_PO</targetReference>
            </connector>
            <label>match 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_null_1</name>
        <label>check null 1</label>
        <locationX>680</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>loop_IQ_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_IQ_Route</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_IQ_Route_2</targetReference>
            </connector>
            <label>not null 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_null_2</name>
        <label>check null 2</label>
        <locationX>1492</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>loop_PO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_nill_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_IQ_Route</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_IQ_Route_3</targetReference>
            </connector>
            <label>not null 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_null_3</name>
        <label>check null 3</label>
        <locationX>1952</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>loop_IQ_Route_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_IQ_Line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_IQ_Line_2</targetReference>
            </connector>
            <label>not null 3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Inquiry | Copy full Inquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inquiry | Copy full Inquiry</label>
    <loops>
        <name>loop_IQ_Line</name>
        <label>loop IQ Line</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_IQ_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_null_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_IQ_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_IQ_Line_2</name>
        <label>loop IQ Line 2</label>
        <locationX>1888</locationX>
        <locationY>2930</locationY>
        <collectionReference>collectIQLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_assign_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_IQ_Route_3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_IQ_route</name>
        <label>loop IQ route</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>get_IQ_Route</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_IQ_route</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_IQ_Route</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_IQ_Route_2</name>
        <label>loop IQ Route 2</label>
        <locationX>616</locationX>
        <locationY>1298</locationY>
        <collectionReference>collectIQRoute</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Assign_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_IQ_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_IQ_Route_3</name>
        <label>loop IQ Route 3</label>
        <locationX>1448</locationX>
        <locationY>2498</locationY>
        <collectionReference>collectIQRoute</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_assign_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_PO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_PO</name>
        <label>loop PO</label>
        <locationX>176</locationX>
        <locationY>2282</locationY>
        <collectionReference>get_Price_Option</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_null_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inquiry</name>
        <label>Create Inquiry</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>get_IQ_Route</targetReference>
        </connector>
        <inputReference>SingleIQ</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_IQ_Line</name>
        <label>Create IQ Line</label>
        <locationX>176</locationX>
        <locationY>2066</locationY>
        <connector>
            <targetReference>get_Price_Option</targetReference>
        </connector>
        <inputReference>collectIQLine</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_IQ_Route</name>
        <label>Create IQ Route</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_IQ_Line</targetReference>
        </connector>
        <inputReference>collectIQRoute</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PO</name>
        <label>Create PO</label>
        <locationX>176</locationX>
        <locationY>3950</locationY>
        <connector>
            <targetReference>screen_ok</targetReference>
        </connector>
        <inputReference>collectPO</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Inquiry</name>
        <label>get Inquiry</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_Inquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IQ_Line</name>
        <label>Get IQ Line</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_IQ_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Inquiry.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Route__c</field>
            <operator>In</operator>
            <value>
                <elementReference>collectIQRouteIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InquiryLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_IQ_Route</name>
        <label>get IQ Route</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_IQ_route</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Inquiry.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InquiryRoute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Price_Option</name>
        <label>get Price Option</label>
        <locationX>176</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Inquiry.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>InquiryLine__c</field>
            <operator>In</operator>
            <value>
                <elementReference>collectIQLineIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>InquiryRoute__c</field>
            <operator>In</operator>
            <value>
                <elementReference>collectIQRouteIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>ValidEndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen_ok</name>
        <label>screen ok</label>
        <locationX>176</locationX>
        <locationY>4058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>okk</name>
            <extensionName>c:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>SingleIQ.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Inquiry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collectIQLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InquiryLine__c</objectType>
    </variables>
    <variables>
        <name>collectIQLineIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectIQRoute</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InquiryRoute__c</objectType>
    </variables>
    <variables>
        <name>collectIQRouteIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectPO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Option__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleIQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inquiry__c</objectType>
    </variables>
    <variables>
        <name>SingleIQLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InquiryLine__c</objectType>
    </variables>
    <variables>
        <name>singleIQRoute</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InquiryRoute__c</objectType>
    </variables>
    <variables>
        <name>singlePO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Option__c</objectType>
    </variables>
</Flow>
