force-app/main/default/flows/Job_Complete_Status_CBT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reload</name>
        <label>Reload</label>
        <locationX>265</locationX>
        <locationY>1155</locationY>
        <actionName>c:Reload_Page</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>596</locationX>
        <locationY>801</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booking_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.Advance_Shipment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booking Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_before_loading_date</targetReference>
            </connector>
            <label>Booking Process</label>
        </rules>
        <rules>
            <name>BEFORE_LOADING_DATE_ETD_2_DAYS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.Advance_Shipment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Before loading date (2 days)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Loading_Date_Vn_Port</targetReference>
            </connector>
            <label>BEFORE LOADING DATE (ETD -2 DAYS)</label>
        </rules>
        <rules>
            <name>LOADING_DATE_RETURN_VN_PORT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.Advance_Shipment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Load date % VN return port</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_After_Drop_date</targetReference>
            </connector>
            <label>LOADING DATE &amp; RETURN VN PORT</label>
        </rules>
        <rules>
            <name>AFTER_DROP_OFF_DATE_1DAY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.Advance_Shipment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>After drop op date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Debit_Credit</targetReference>
            </connector>
            <label>AFTER DROP OFF DATE (+1DAY)</label>
        </rules>
        <rules>
            <name>CLOSE_PL_SHEET</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.Advance_Shipment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close PL Sheet</stringValue>
                </rightValue>
            </conditions>
            <label>CLOSE PL SHEET</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transportation_Way</name>
        <label>Check Transportation Way</label>
        <locationX>792</locationX>
        <locationY>506</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trucking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.TransportationWay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUCKING</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Type_of_Trade</targetReference>
            </connector>
            <label>Trucking</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_of_Trade</name>
        <label>Check Type of Trade</label>
        <locationX>690</locationX>
        <locationY>630</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Export</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.TypeofTrade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EXPORT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status</targetReference>
            </connector>
            <label>Export</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_or_not_get</name>
        <label>Get or not get</label>
        <locationX>616</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Check_Transportation_Way</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1</targetReference>
            </connector>
            <label>Get</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Job|Complete Status - CBT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job|Complete Status - CBT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>616</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AdvancedShipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>616</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_or_not_get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_to_After_Drop_date</name>
        <label>Update to After Drop date</label>
        <locationX>610</locationX>
        <locationY>1037</locationY>
        <connector>
            <targetReference>Screen_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Advance_Shipment_Status__c</field>
            <value>
                <stringValue>After drop op date</stringValue>
            </value>
        </inputAssignments>
        <object>AdvancedShipment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_before_loading_date</name>
        <label>Update to before loading date</label>
        <locationX>230</locationX>
        <locationY>739</locationY>
        <connector>
            <targetReference>Screen_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Advance_Shipment_Status__c</field>
            <value>
                <stringValue>Before loading date (2 days)</stringValue>
            </value>
        </inputAssignments>
        <object>AdvancedShipment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Debit_Credit</name>
        <label>Update to Debit/Credit</label>
        <locationX>1024</locationX>
        <locationY>1007</locationY>
        <connector>
            <targetReference>Screen_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Advance_Shipment_Status__c</field>
            <value>
                <stringValue>Close PL Sheet</stringValue>
            </value>
        </inputAssignments>
        <object>AdvancedShipment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Loading_Date_Vn_Port</name>
        <label>Update to Loading Date &amp; Vn Port</label>
        <locationX>436</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Screen_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Advance_Shipment_Status__c</field>
            <value>
                <stringValue>Load date % VN return port</stringValue>
            </value>
        </inputAssignments>
        <object>AdvancedShipment__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>440</locationX>
        <locationY>506</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(202, 48, 35); font-size: 16px;&quot;&gt;Please complete these tasks in order to change this job to the next status. Thank you!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>listoftask</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>List of Tasks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Task</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Subject_For__c&quot;,&quot;guid&quot;:&quot;column-a159&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Subject&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Subject-For&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Priority&quot;,&quot;guid&quot;:&quot;column-a258&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Priority&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PIC__c&quot;,&quot;guid&quot;:&quot;column-5499&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;PIC&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;PIC&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-340c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ActivityDate&quot;,&quot;guid&quot;:&quot;column-4593&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Due Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Due Date Only&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>End</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>354</locationX>
        <locationY>1223</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reload</targetReference>
        </connector>
        <fields>
            <name>display3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(26, 179, 46); font-size: 16px;&quot;&gt;Updating status is completed!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>End</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
