force-app/main/default/flows/Maintenace_Create_Task_For_IT_Dept_And_Asset_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Task_Into_List</name>
        <label>Add Task Into List</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>taskLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>task_IT_Dept</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>task_Asset_Owner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Maintenance_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Task_For_IT_dept</name>
        <label>Create New Task For IT dept</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>task_IT_Dept.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Loop.PIC_User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_IT_Dept.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subject_Name_IT_Dept</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_IT_Dept.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_IT_Dept.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_IT_Dept.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_IT_Dept.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dueDateTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_for_Asset_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Task_for_Asset_Owner</name>
        <label>Create Task for Asset Owner</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>task_Asset_Owner.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Loop.Asset__r.Asset_Owner__r.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_Asset_Owner.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subject_Name_Asset_Owner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_Asset_Owner.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_Asset_Owner.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_Asset_Owner.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Maintenance_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task_Asset_Owner.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dueDateTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Task_Into_List</targetReference>
        </connector>
    </assignments>
    <description>fix mainteiner in record X</description>
    <environments>Default</environments>
    <formulas>
        <name>dueDateTask</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>expected_Date</name>
        <dataType>Date</dataType>
        <expression>Today() - 5</expression>
    </formulas>
    <interviewLabel>Maintenace | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maintenace | Create Task For IT Dept And Asset Owner</label>
    <loops>
        <name>Maintenance_Loop</name>
        <label>Maintenance Loop</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Maintenance</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_New_Task_For_IT_dept</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <inputReference>taskLst</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Maintenance</name>
        <label>Get Maintenance</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Maintenance_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Expected_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>expected_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Maintain_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Maintenance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Maintenance</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-23</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>subject_Name_Asset_Owner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Scheduled Maintenance for Asset - {!Maintenance_Loop.Asset__r.Name} by {!Maintenance_Loop.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>subject_Name_IT_Dept</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Scheduled Maintenance for Asset - &quot; {!Maintenance_Loop.Asset__r.Name}</text>
    </textTemplates>
    <variables>
        <name>task_Asset_Owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>task_IT_Dept</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
