force-app/main/default/flows/Payslip_Update_total_in_Payroll.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_total_amount</name>
        <label>Assign total amount</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>VarTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_all_payslip.IncomeAfterTaxes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_payslip</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Payslip| Update total in Payroll {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payslip| Update total in Payroll</label>
    <loops>
        <name>Loop_all_payslip</name>
        <label>Loop all payslip</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_all_Payslip</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_total_amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Payroll</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Payslip</name>
        <label>Get all Payslip</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_payslip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payroll__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payslip__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payroll</name>
        <label>Update Payroll</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>TotalPayrollAmount__c</field>
            <value>
                <elementReference>VarTotal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Payslip</targetReference>
        </connector>
        <object>Payroll__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
</Flow>
