force-app/main/default/flows/Payslip_Automation_to_update_bonus_amount_into_Payslip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_to_variables</name>
        <label>Assign to variables</label>
        <locationX>743</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Bonus.Payslip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarBonusValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Bonus.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBonusViolationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Bonus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Bonus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_variables_0</name>
        <label>Assign to variables</label>
        <locationX>749</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Violation.Payslip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varViolationValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Violation.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBonusViolationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Violation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Violation</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Payslip | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payslip| Automation to update bonus amount into Payslip</label>
    <loops>
        <name>Loop_through_Bonus</name>
        <label>Loop through Bonus</label>
        <locationX>951</locationX>
        <locationY>380</locationY>
        <collectionReference>Get_Bonus_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Violation_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Violation</name>
        <label>Loop through Violation</label>
        <locationX>956</locationX>
        <locationY>697</locationY>
        <collectionReference>Get_Violation_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_variables_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Bonus_and_Violation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Bonus_Record</name>
        <label>Get Bonus Record</label>
        <locationX>1042</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Bonus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaidStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bonus_in__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </filters>
        <filters>
            <field>Receive_at__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monthly payslip</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bonus_record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bonus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bonus_record_Type</name>
        <label>Get Bonus record Type</label>
        <locationX>1177</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Violation_record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonus__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonus</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Violation_Record</name>
        <label>Get Violation Record</label>
        <locationX>954</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Violation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaidStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Violation_record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bonus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Violation_record_Type</name>
        <label>Get Violation record Type</label>
        <locationX>1178</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bonus_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonus__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Violation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bonus_and_Violation</name>
        <label>Update Bonus and Violation</label>
        <locationX>956</locationX>
        <locationY>873</locationY>
        <connector>
            <targetReference>Update_Payslip</targetReference>
        </connector>
        <inputReference>varBonusViolationCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payslip</name>
        <label>Update Payslip</label>
        <locationX>951</locationX>
        <locationY>1029</locationY>
        <inputAssignments>
            <field>Bonus__c</field>
            <value>
                <elementReference>VarBonusValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WithholdingViolation__c</field>
            <value>
                <elementReference>varViolationValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Bonus_record_Type</targetReference>
        </connector>
        <object>Payslip__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarBonusValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varBonusViolationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bonus__c</objectType>
    </variables>
    <variables>
        <name>varViolationValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
