force-app/main/default/flows/Product_Transfer_Update_2_field_lookup_Inventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Update_each_PTL_1</name>
        <label>Update each PTL</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varSingle_PTL.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_PTL_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_PTL.Inventory_Destination_Loc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varinventorydes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_PTL.Inventory_Source_Loc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varinventorysource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCOL_PTL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingle_PTL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_PTL_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_Is_Null</name>
        <label>Get Is Null</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_Product_Transfer_Line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>each_PTL_1</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varinventorydes</name>
        <dataType>String</dataType>
        <expression>IF(ISCHANGED({!$Record.To__c}) = TRUE, {!Find_Inventory_Destination_Location.Id},{!each_PTL_1.Inventory_Destination_Loc__c})</expression>
    </formulas>
    <formulas>
        <name>varinventorysource</name>
        <dataType>String</dataType>
        <expression>IF(ISCHANGED({!$Record.To__c}) = TRUE, {!Find_Inventory_Source_Location.Id},{!each_PTL_1.Inventory_Source_Loc__c})</expression>
    </formulas>
    <interviewLabel>Product Transfer | Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Transfer | Update 2 field lookup Inventory</label>
    <loops>
        <name>each_PTL_1</name>
        <label>each PTL 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_all_Product_Transfer_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Inventory_Source_Location</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePTL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Inventory_Destination_Location</name>
        <label>Find Inventory Destination Location</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_each_PTL_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>each_PTL_1.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.To__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Inventory_Source_Location</name>
        <label>Find Inventory Source Location</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Inventory_Destination_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>each_PTL_1.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.From__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Product_Transfer_Line</name>
        <label>Get all Product Transfer Line</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_transfer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_transfer_line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePTL</name>
        <label>Update PTL</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>varCOL_PTL</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Product_Transfer_Line</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>From__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>To__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product_transfer__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Inventory_Source_Location</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
    <variables>
        <name>varCOL_PTL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_transfer_line__c</objectType>
    </variables>
    <variables>
        <name>varSingle_PTL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_transfer_line__c</objectType>
    </variables>
</Flow>
