force-app/main/default/flows/Purchase_Request_Button_List_view_Purchase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_for_check_first_number</name>
        <label>Assign for check first number</label>
        <locationX>1380</locationX>
        <locationY>1018</locationY>
        <assignmentItems>
            <assignToReference>SinglePurchaseOrderLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionPurchaseOrderLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SinglePurchaseOrderLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberforcheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionNUmberofGood</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_junction</name>
        <label>Assign junction</label>
        <locationX>1144</locationX>
        <locationY>1521</locationY>
        <assignmentItems>
            <assignToReference>singleJunction.Purchase_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Purchase_Order_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleJunction.Purchase_request_line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Purchase_Request_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionJunction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleJunction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Purchase_Request_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number</name>
        <label>Assign Number</label>
        <locationX>1148</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>numberofgood</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Request_Line.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Request_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_0</name>
        <label>Assign Number</label>
        <locationX>614</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>collectionNUmberofGood</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>numberofgood</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Purchase_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Id</name>
        <label>Assign Product Id</label>
        <locationX>1185</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>CollectionProductId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Request_Line.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberofgood</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Request_Line.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Request_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Id_0</name>
        <label>Assign Product Id</label>
        <locationX>1335</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>CollectionProductId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Request_Line.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionNUmberofGood</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>numberofgood</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberofgood</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Request_Line.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Request_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Purchase_Order_Line</name>
        <label>Assign Purchase Order Line</label>
        <locationX>961</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>SinglePurchaseOrderLine.Purchase_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Purchase_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePurchaseOrderLine.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Product_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SinglePurchaseOrderLine.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberforcheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Purchase_Request_Line_Id</name>
        <label>Assign Purchase Request Line Id</label>
        <locationX>915</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>PurchaseRequestLineId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Request_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_ProductId</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_purchase_order_line</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort purchase order line</label>
        <locationX>764</locationX>
        <locationY>1214</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>CollectionPurchaseOrderLine</collectionReference>
        <connector>
            <targetReference>Loop_Purchase_Order_Line</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Product__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Purchase_request_line</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Purchase request line</label>
        <locationX>667</locationX>
        <locationY>557</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Purchase_request_line</collectionReference>
        <connector>
            <targetReference>Loop_Request_Line</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Product__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_first</name>
        <label>Check first</label>
        <locationX>1247</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Loop_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberforcheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_for_check_first_number</targetReference>
            </connector>
            <label>Check number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product</name>
        <label>Check Product</label>
        <locationX>1145</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Loop_Purchase_Request_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Purchase_Order_Line.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Purchase_Request_Line.Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_junction</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ProductId</name>
        <label>Check ProductId</label>
        <locationX>1034</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>Assign_Product_Id_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionProductId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Request_Line.Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Number</targetReference>
            </connector>
            <label>Existed</label>
        </rules>
        <rules>
            <name>Check_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Id</targetReference>
            </connector>
            <label>Check null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>517</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>Loop_check_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>wrong_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_check_status.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Buying</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_check_status.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>wrong status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Purchase Request | Button List view Purchase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Request | Button List view Purchase</label>
    <loops>
        <name>Loop_check_status</name>
        <label>Loop check status</label>
        <locationX>775</locationX>
        <locationY>311</locationY>
        <collectionReference>Get_Purchase_Request</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Purchase_request_line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Number</name>
        <label>Loop Number</label>
        <locationX>1127</locationX>
        <locationY>934</locationY>
        <collectionReference>collectionNUmberofGood</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_first</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Product_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Product_Id</name>
        <label>Loop Product Id</label>
        <locationX>764</locationX>
        <locationY>940</locationY>
        <collectionReference>CollectionProductId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Purchase_Order_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Purchase_lIne_order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Purchase_Order_Line</name>
        <label>Loop Purchase Order Line</label>
        <locationX>777</locationX>
        <locationY>1354</locationY>
        <collectionReference>CollectionPurchaseOrderLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Purchase_Request_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_junction</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Purchase_Request_Line</name>
        <label>Loop Purchase Request Line</label>
        <locationX>955</locationX>
        <locationY>1350</locationY>
        <collectionReference>Get_Purchase_request_line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Purchase_Order_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Request_Line</name>
        <label>Loop Request Line</label>
        <locationX>787</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Purchase_request_line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Purchase_Request_Line_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Number_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_junction</name>
        <label>Create junction</label>
        <locationX>789</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Update_Purchase_request</targetReference>
        </connector>
        <inputReference>CollectionJunction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Purchase_lIne_order</name>
        <label>Create Purchase lIne order</label>
        <locationX>774</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Sort_purchase_order_line</targetReference>
        </connector>
        <inputReference>CollectionPurchaseOrderLine</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Purchase_Order</name>
        <label>Create Purchase Order</label>
        <locationX>690</locationX>
        <locationY>838</locationY>
        <assignRecordIdToReference>purchaseorderId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Product_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Purchase_Request</name>
        <label>Get Purchase Request</label>
        <locationX>775</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_check_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_request_line</name>
        <label>Get Purchase request line</label>
        <locationX>783</locationX>
        <locationY>472</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Purchase_request_line</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR (3 AND 4))</filterLogic>
        <filters>
            <field>Purchase_request__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Converted to POL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Check_Quantity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchaserequestline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Purchase_request</name>
        <label>Update Purchase request</label>
        <locationX>781</locationX>
        <locationY>1618</locationY>
        <connector>
            <targetReference>Update_Purchase_Request_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Buying</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Purchase_Request_Line</name>
        <label>Update Purchase Request Line</label>
        <locationX>893</locationX>
        <locationY>1681</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>PurchaseRequestLineId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Converted to POL</stringValue>
            </value>
        </inputAssignments>
        <object>Purchaserequestline__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>395</locationX>
        <locationY>322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DiplayError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(255, 0, 0);&quot;&gt;&lt;em&gt;One of selected is not approved!&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>790</locationX>
        <locationY>1825</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Redir</name>
            <extensionName>c:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>purchaseorderId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>656</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>Get_Purchase_Request</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CollectionJunction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PRLtoPOL__c</objectType>
    </variables>
    <variables>
        <name>collectionNUmberofGood</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CollectionProductId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionPurchaseOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_order_line__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numberforcheck</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberofgood</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>purchaseorderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PurchaseRequestLineId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleJunction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PRLtoPOL__c</objectType>
    </variables>
    <variables>
        <name>SinglePurchaseOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_order_line__c</objectType>
    </variables>
</Flow>
