force-app/main/default/flows/Purchase_Order_Button_Stock_In.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_to_create_new_POLtoPTL</name>
        <label>Assign to create new POLtoPTL</label>
        <locationX>1038</locationX>
        <locationY>1401</locationY>
        <assignmentItems>
            <assignToReference>varSingle_POLtoPTL.Purchase_Order_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_POL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_POLtoPTL.Product_Transfer_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_PTL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_POLtoPTL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingle_POLtoPTL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_POL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_create_Product_Transfer</name>
        <label>Assign to create Product Transfer</label>
        <locationX>434</locationX>
        <locationY>846</locationY>
        <assignmentItems>
            <assignToReference>varSingle_ProductTransfer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_ProductTransfer.To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectLocation.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_ProductTransfer.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_record_type_Stock_In.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Product_Transfer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Create_PTL</name>
        <label>Assign to Create PTL</label>
        <locationX>697</locationX>
        <locationY>937</locationY>
        <assignmentItems>
            <assignToReference>varSingle_PTL.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_POL.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_PTL.Product_transfer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSingle_ProductTransfer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_PTL.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_POL.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_PTL.ValidationBypassDatetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCOL_PTL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingle_PTL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_POL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Update_POL</name>
        <label>Assign to Update POL</label>
        <locationX>852</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>varSingle_POL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_POL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSingle_POL.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Converted to PTL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_POL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSingle_POL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Create_PTL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>735</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>Screen_not_approve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Purchase_Order_ID.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Purchase_Order_Line</targetReference>
            </connector>
            <label>approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Purchase Order | Button Stock In {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Order | Button Stock In</label>
    <loops>
        <name>Each_POL</name>
        <label>Each POL</label>
        <locationX>609</locationX>
        <locationY>722</locationY>
        <collectionReference>TablePurchaseOrderLine.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Update_POL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PTL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_POL</name>
        <label>Iterate POL</label>
        <locationX>609</locationX>
        <locationY>1238</locationY>
        <collectionReference>TablePurchaseOrderLine.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Iterate_PTL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_POLtoPTL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_PTL</name>
        <label>Iterate PTL</label>
        <locationX>1037</locationX>
        <locationY>1220</locationY>
        <collectionReference>varCOL_PTL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_create_new_POLtoPTL</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_POLtoPTL</name>
        <label>Create POLtoPTL</label>
        <locationX>609</locationX>
        <locationY>1796</locationY>
        <connector>
            <targetReference>Update_Purchase_Order</targetReference>
        </connector>
        <inputReference>varCol_POLtoPTL</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PTL</name>
        <label>Create PTL</label>
        <locationX>609</locationX>
        <locationY>1130</locationY>
        <connector>
            <targetReference>Iterate_POL</targetReference>
        </connector>
        <inputReference>varCOL_PTL</inputReference>
    </recordCreates>
    <recordCreates>
        <name>New_Product_Transfer</name>
        <label>New Product Transfer</label>
        <locationX>458</locationX>
        <locationY>1038</locationY>
        <connector>
            <targetReference>Each_POL</targetReference>
        </connector>
        <inputReference>varSingle_ProductTransfer</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_location</name>
        <label>get location</label>
        <locationX>328</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Location</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_Order_ID</name>
        <label>Get Purchase Order ID</label>
        <locationX>741</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchase_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_Order_Line</name>
        <label>Get Purchase Order Line</label>
        <locationX>365</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectPOL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Purchase_Order_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_order_line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_record_type_Stock_In</name>
        <label>get record type Stock In</label>
        <locationX>326</locationX>
        <locationY>683</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_create_Product_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product_transfer__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stock_In</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Purchase_Order</name>
        <label>Update Purchase Order</label>
        <locationX>610</locationX>
        <locationY>1904</locationY>
        <connector>
            <targetReference>Update_Purchase_Order_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Purchase_Order_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Stocked In</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Purchase_Order_Line</name>
        <label>Update Purchase Order Line</label>
        <locationX>609</locationX>
        <locationY>2074</locationY>
        <inputReference>varCol_POL</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_not_approve</name>
        <label>Screen not approve</label>
        <locationX>991</locationX>
        <locationY>499</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaytextnotapprove</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(234, 56, 56);&quot;&gt;The Request is not Approved&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Location</name>
        <label>Select Location</label>
        <locationX>446</locationX>
        <locationY>607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_record_type_Stock_In</targetReference>
        </connector>
        <fields>
            <name>SelectLocation</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Location__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>SelectLocation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_location</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3b3c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Location. Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectPOL</name>
        <label>Select POL</label>
        <locationX>534</locationX>
        <locationY>474</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_location</targetReference>
        </connector>
        <fields>
            <name>TablePurchaseOrderLine</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Purchase_order_line__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Purchase Order Line</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Purchase_Order_Line</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ed22&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Purchase Order Line ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Product__c&quot;,&quot;guid&quot;:&quot;column-0b3b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product.&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-2d0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Note__c&quot;,&quot;guid&quot;:&quot;column-8cbe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Note&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-91eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>615</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Purchase_Order_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProductTransfer_RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCol_POL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_order_line__c</objectType>
    </variables>
    <variables>
        <name>varCol_POLtoPTL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>POL_to_PTL__c</objectType>
    </variables>
    <variables>
        <name>varCOL_PTL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_transfer_line__c</objectType>
    </variables>
    <variables>
        <name>varSingle_POL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_order_line__c</objectType>
    </variables>
    <variables>
        <name>varSingle_POLtoPTL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>POL_to_PTL__c</objectType>
    </variables>
    <variables>
        <name>varSingle_ProductTransfer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_transfer__c</objectType>
    </variables>
    <variables>
        <name>varSingle_PTL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_transfer_line__c</objectType>
    </variables>
</Flow>
