force-app/main/default/flows/Purchase_Request_Line_update_field_on_PRLtoPOL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>update_PRL_to_POL</name>
        <label>update PRL to POL</label>
        <locationX>1051</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>varSINGLE_PRLtoPOL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_PRL_to_POL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSINGLE_PRLtoPOL.PRL_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSINGLE_PRLtoPOL.Qty_in_PRL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCOL_PRLtoPOL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSINGLE_PRLtoPOL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_PRL_to_POL</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Purchase Request Line | update field on PRLtoPOL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Request Line | update field on PRLtoPOL</label>
    <loops>
        <name>each_PRL_to_POL</name>
        <label>each PRL to POL</label>
        <locationX>881</locationX>
        <locationY>307</locationY>
        <collectionReference>get_child_PRLtoPOL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_PRL_to_POL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_child_PRLtoPOL</name>
        <label>get child PRLtoPOL</label>
        <locationX>731</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>each_PRL_to_POL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_request_line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PRLtoPOL__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_collection</name>
        <label>update collection</label>
        <locationX>888</locationX>
        <locationY>468</locationY>
        <inputReference>varCOL_PRLtoPOL</inputReference>
    </recordUpdates>
    <start>
        <locationX>123</locationX>
        <locationY>191</locationY>
        <connector>
            <targetReference>get_child_PRLtoPOL</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Purchaserequestline__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCOL_PRLtoPOL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PRLtoPOL__c</objectType>
    </variables>
    <variables>
        <name>varSINGLE_PRLtoPOL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PRLtoPOL__c</objectType>
    </variables>
</Flow>
