force-app/main/default/flows/Quote_Create_4_QuoteLine_OF_Local.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign1</name>
        <label>assign1</label>
        <locationX>781</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>Record1.ServiceID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.ChargeQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Charge_Quantity1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.QuoteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.ChargeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Charge_Unit1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.CurrencySelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currency_Selling1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.SellingListPriceLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selling_List_Price_Local1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.SellingListPriceFCY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selling_List_Price_FCY1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Record1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign2</name>
        <label>assign2</label>
        <locationX>896</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>Record1.ServiceID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.ChargeQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Charge_Quantity2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.QuoteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.ChargeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Charge_Unit2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.CurrencySelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currency_Selling2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.SellingListPriceLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selling_List_Price_Local2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.SellingListPriceFCY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selling_List_Price_FCY2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Record1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign3</name>
        <label>assign3</label>
        <locationX>827</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>Record1.ServiceID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_3.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.ChargeQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Charge_Quantity3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.QuoteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.ChargeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Charge_Unit3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.CurrencySelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currency_Selling3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.SellingListPriceLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selling_List_Price_Local3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.SellingListPriceFCY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selling_List_Price_FCY3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Record1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign4</name>
        <label>assign4</label>
        <locationX>684</locationX>
        <locationY>664</locationY>
        <assignmentItems>
            <assignToReference>Record1.ServiceID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_4.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.ChargeQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Charge_Quantity4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.QuoteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.ChargeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Charge_Unit4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.CurrencySelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currency_Selling4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.SellingListPriceLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selling_List_Price_Local4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Record1.SellingListPriceFCY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selling_List_Price_FCY4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Record1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_QuoteLine</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>ChargeUnitChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ChargeUnit__c</picklistField>
        <picklistObject>Quoteline__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrencySellingChoice1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencySelling__c</picklistField>
        <picklistObject>Quoteline__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Quote | Create 4 QuoteLine - OF+Local {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote | Create 4 QuoteLine - OF+Local</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_QuoteLine</name>
        <label>Create QuoteLine</label>
        <locationX>536</locationX>
        <locationY>582</locationY>
        <inputReference>Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_1</name>
        <label>Get Service 1</label>
        <locationX>1017</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ocean Freight</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_2</name>
        <label>Get Service 2</label>
        <locationX>1092</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Terminal Handling Charge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_3</name>
        <label>Get Service 3</label>
        <locationX>1167</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document Fee</stringValue>
            </value>
        </filters>
        <filters>
            <field>ServiceNameLocal__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phí Chứng Từ</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_4</name>
        <label>Get Service 4</label>
        <locationX>1243</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seal Fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign1</targetReference>
        </connector>
        <fields>
            <name>Input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceName1</name>
                    <fieldText>&lt;p&gt;Service Name: &lt;strong&gt;Ocean Freight&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Charge_Quantity1</name>
                    <dataType>Number</dataType>
                    <fieldText>Charge Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Charge_Unit1</name>
                    <choiceReferences>ChargeUnitChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Charge Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Currency_Selling1</name>
                    <choiceReferences>CurrencySellingChoice1</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Currency-Selling</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Selling_List_Price_FCY1</name>
                    <dataType>Number</dataType>
                    <fieldText>Selling List Price(FCY)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Selling_List_Price_Local1</name>
                    <dataType>Number</dataType>
                    <fieldText>Selling List Price(Local)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceName2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Service Name:  &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;THC&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Charge_Quantity2</name>
                    <dataType>Number</dataType>
                    <fieldText>Charge Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Charge_Unit2</name>
                    <choiceReferences>ChargeUnitChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Charge Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Currency_Selling2</name>
                    <choiceReferences>CurrencySellingChoice1</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Currency-Selling</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Selling_List_Price_FCY2</name>
                    <dataType>Number</dataType>
                    <fieldText>Selling List Price(FCY)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Selling_List_Price_Local2</name>
                    <dataType>Number</dataType>
                    <fieldText>Selling List Price(Local)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceName3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Service Name: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Doc&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Charge_Quantity3</name>
                    <dataType>Number</dataType>
                    <fieldText>Charge Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Charge_Unit3</name>
                    <choiceReferences>ChargeUnitChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Charge Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Currency_Selling3</name>
                    <choiceReferences>CurrencySellingChoice1</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Currency-Selling</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Selling_List_Price_FCY3</name>
                    <dataType>Number</dataType>
                    <fieldText>Selling List Price(FCY)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Selling_List_Price_Local3</name>
                    <dataType>Number</dataType>
                    <fieldText>Selling List Price(Local)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ServiceName4</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Service Name: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Seal &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Charge_Quantity4</name>
                    <dataType>Number</dataType>
                    <fieldText>Charge Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Charge_Unit4</name>
                    <choiceReferences>ChargeUnitChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Charge Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Currency_Selling4</name>
                    <choiceReferences>CurrencySellingChoice1</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Currency-Selling</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Selling_List_Price_FCY4</name>
                    <dataType>Number</dataType>
                    <fieldText>Selling List Price(FCY)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Selling_List_Price_Local4</name>
                    <dataType>Number</dataType>
                    <fieldText>Selling List Price(Local)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quoteline__c</objectType>
    </variables>
    <variables>
        <name>Record1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quoteline__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
