force-app/main/default/flows/Quote_copy_Quote_Quote_Line.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Asign_QL</name>
        <label>Asign QL</label>
        <locationX>402</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>QLs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Get_Quote_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Route</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QL</name>
        <label>Assign QL</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>QLs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote_Route</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_new_Quote_Line</name>
        <label>Copy 1 of new Quote Line</label>
        <locationX>1282</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>singleQL.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.QuoteLineNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.QuoteLineNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.Invoiceto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequesterCompany.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.SupplierVendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.SupplierVendor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ReferencePrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ReferencePrice__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.PriceOptionID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.PriceOptionID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.Print__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.Print__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.Remarks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.Combo_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.Combo_Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.Quote_route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_QR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.POL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_QR.POLAOL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.POD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_QR.PODAOD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.Route__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ServiceID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ServiceID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.LineItemNameEng__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.LineItemNameEng__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.LineItemNameLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.LineItemNameLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ChargeQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ChargeQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ChargeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ChargeUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ContainerType1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ContainerType1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.SellingListPriceActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.SellingListPriceActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.BuyingListPriceActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.BuyingListPriceActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.SellingListPriceLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.SellingListPriceLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.SellingListPriceFCY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.SellingListPriceFCY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.CurrencySelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.CurrencySelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.FxRateIDSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.FxRateIDSelling__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ExchangeRateSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ExchangeRateSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ExchangeRateSellingUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ExchangeRateSellingUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.CurrencyBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.CurrencyBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.FxRateID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.FxRateID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ExchangeRateBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ExchangeRateBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ExchangeRateBuyingUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ExchangeRateBuyingUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.QuoteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectQL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleQL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_QR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Quote</name>
        <label>New Quote</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SingleQuote.QuoteName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.RequesterCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequesterCompany.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.QuotePIC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuotePIC.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.RequestCompanysPIC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestCompanysPIC.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.Contract_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_ID.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.InquiryID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InquiryID.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.QuoteIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Issue_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.Validto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valid_to</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.ExternalSalesman__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalSalesman.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.Additional_Contract_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Contract_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.TypeofTrade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Trade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.ShipmentTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipment_Term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.TransportationWay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transportation_Way</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.ETD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ETD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.ETA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ETA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.RequestDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Detail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.Commodity1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commodity1.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.DescriptionofGoods__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_of_Goods</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.TypeofCargo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Cargo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.INCOTERMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Incoterms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.Cargo_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cargo_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.GrossWeight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gross_Weight</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.NetWeight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Net_Weight</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.DIM_Dimension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DIM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.MeasurementTotalCBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Measurement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.PaymentCondition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Condition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuote.Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remarks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Quote_ID</name>
        <label>New Quote ID</label>
        <locationX>226</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>newQuoteID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_change_Request_Company</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new_Quote_Line</name>
        <label>new Quote Line</label>
        <locationX>1018</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>singleQL.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.QuoteLineNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.QuoteLineNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.Invoiceto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequesterCompany.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.SupplierVendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.SupplierVendor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ReferencePrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ReferencePrice__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.PriceOptionID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.Print__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.Print__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.Remarks__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.Combo_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.Combo_Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.Quote_route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_QR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.POL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_QR.POLAOL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.POD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_QR.PODAOD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.Route__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ServiceID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ServiceID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.LineItemNameEng__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.LineItemNameEng__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.LineItemNameLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.LineItemNameLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ChargeQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ChargeQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ChargeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ChargeUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ContainerType1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ContainerType1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.SellingListPriceActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.SellingListPriceActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.BuyingListPriceActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.BuyingListPriceActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.SellingListPriceLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.SellingListPriceLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.SellingListPriceFCY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.SellingListPriceFCY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.CurrencySelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.CurrencySelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.FxRateIDSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.FxRateIDSelling__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ExchangeRateSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ExchangeRateSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ExchangeRateSellingUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ExchangeRateSellingUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.CurrencyBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.CurrencyBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.FxRateID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.FxRateID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ExchangeRateBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ExchangeRateBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.ExchangeRateBuyingUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Line.ExchangeRateBuyingUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleQL.QuoteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectQL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleQL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_QR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Quote_Route</name>
        <label>New Quote Route</label>
        <locationX>490</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>singeQR.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singeQR.Origin_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Route.Origin_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singeQR.Destination_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Route.Destination_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singeQR.DeliveryAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Route.DeliveryAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singeQR.PickUpAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Route.PickUpAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QRids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Quote_Route.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singeQR.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Route.Route__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singeQR.Quote_Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote_Route.Quote_Route__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectQR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singeQR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Quote_Route</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new_QuoteRoute</name>
        <label>new QuoteRoute</label>
        <locationX>138</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>singeQR.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singeQR.DeliveryAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Opp.Delivery_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singeQR.PickUpAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Opp.Pickup_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singeQR.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Opp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectQR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singeQR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RouteIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Opp.Route__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_change_Request_Company</name>
        <label>check change Request Company</label>
        <locationX>226</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Get_All_Quote_Route</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequesterCompany.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Quote.RequesterCompany__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Opp</targetReference>
            </connector>
            <label>changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Company_PIC</name>
        <label>check Company PIC</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Screen_Error_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Requester_Company.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Requester_Company_PIC.Account.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Quote</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_requester_Company_2</name>
        <label>check requester Company 2</label>
        <locationX>1282</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <targetReference>loop_QR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequesterCompany.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Quote.RequesterCompany__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_QR.Route__r.Route__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_Quote_Line.Route__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>new_Quote_Line</targetReference>
            </connector>
            <label>change</label>
        </rules>
        <rules>
            <name>not_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequesterCompany.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Quote.RequesterCompany__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_QR.Route__r.Route__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_Quote_Line.Route__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_new_Quote_Line</targetReference>
            </connector>
            <label>not change</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ASpkl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ApprovalStatus__c</picklistField>
        <picklistObject>Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Currencypkl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Currency__c</picklistField>
        <picklistObject>Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>incotermpkl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>INCOTERMS__c</picklistField>
        <picklistObject>Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuoteStatuspkl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>QuoteStatus__c</picklistField>
        <picklistObject>Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>shipmentTermpkl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ShipmentTerm__c</picklistField>
        <picklistObject>Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TWpkl</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TransportationWay__c</picklistField>
        <picklistObject>Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeOfCargo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypeofCargo__c</picklistField>
        <picklistObject>Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>typeOfTradepkl</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypeofTrade__c</picklistField>
        <picklistObject>Quote__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Quote | copy Quote/Quote Line {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote | copy Quote/Quote Line</label>
    <loops>
        <name>loop_Opp</name>
        <label>loop Opp</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <collectionReference>OppurtinityDatabase.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>new_QuoteRoute</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Quote_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_QR</name>
        <label>loop QR</label>
        <locationX>930</locationX>
        <locationY>2246</locationY>
        <collectionReference>collectQR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_requester_Company_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_Quote_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Quote_Line</name>
        <label>loop Quote Line</label>
        <locationX>226</locationX>
        <locationY>2138</locationY>
        <collectionReference>QuoteLineData.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop_QR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_QL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Quote_Route</name>
        <label>loop Quote Route</label>
        <locationX>402</locationX>
        <locationY>1322</locationY>
        <collectionReference>RoutingDatabase.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Quote_Route</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Get_Quote_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_QL</name>
        <label>create QL</label>
        <locationX>226</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>screen_4</targetReference>
        </connector>
        <inputReference>collectQL</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>226</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>New_Quote_ID</targetReference>
        </connector>
        <inputReference>SingleQuote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Route</name>
        <label>Create Quote Route</label>
        <locationX>226</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Screen_3</targetReference>
        </connector>
        <inputReference>collectQR</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_2_of_Get_Quote_Line</name>
        <label>Copy 2 of Get Quote Line</label>
        <locationX>402</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asign_QL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_route__c</field>
            <operator>In</operator>
            <value>
                <elementReference>QRids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quoteline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opp</name>
        <label>Get All Opp</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_2_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.RequesterCompany__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Quote_Route</name>
        <label>Get All Quote Route</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screeb_2_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote_route__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line</name>
        <label>Get Quote Line</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_QL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Route__c</field>
            <operator>In</operator>
            <value>
                <elementReference>RouteIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quoteline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Requester_Company</name>
        <label>get Requester Company</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Requester_Company_PIC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequesterCompany.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requester_Company_PIC</name>
        <label>Get Requester Company PIC</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Company_PIC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestCompanysPIC.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screeb_2_2</name>
        <label>screeb 2.2</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_Quote_Route</targetReference>
        </connector>
        <fields>
            <name>title21</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(189, 22, 22);&quot;&gt;Choose Routing&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RoutingDatabase</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Quote_route__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Quote Route</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Quote_Route</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-050a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Quote route ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Origin_Country__c&quot;,&quot;guid&quot;:&quot;column-f3cf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Origin Country&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Destination_Country__c&quot;,&quot;guid&quot;:&quot;column-7671&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Destination Country&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;DeliveryAddress__c&quot;,&quot;guid&quot;:&quot;column-f763&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Delivery Address&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PickUpAddress__c&quot;,&quot;guid&quot;:&quot;column-9508&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Pick Up Address&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_1</name>
        <label>screen 1</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>get_Requester_Company</targetReference>
        </connector>
        <fields>
            <name>title1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; font-family: Roboto, sans-serif; color: rgb(169, 8, 8);&quot;&gt;Inquiry Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Basin_Information</name>
            <fieldText>Basin Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Basin_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quote_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.QuoteName__c</elementReference>
                    </defaultValue>
                    <fieldText>Quote Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>RequesterCompany</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requester Company</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>RequesterCompany__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.RequesterCompany__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RequestCompanysPIC</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Requester Company&apos;s PIC</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>RequestCompanysPIC__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.RequestCompanysPIC__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>QuotePIC</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Quote PIC</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>QuotePIC__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.QuotePIC__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contract_ID</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contract ID</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contract_ID__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.Contract_ID__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Basin_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InquiryID</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Inquiry ID</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>InquiryID__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.InquiryID__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Currency</name>
                    <choiceReferences>Currencypkl</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.Currency__c</elementReference>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Quote_Issue_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.QuoteIssueDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Quote Issue Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Valid_to</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.Validto__c</elementReference>
                    </defaultValue>
                    <fieldText>Valid to</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ExternalSalesman</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>External Saleman</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ExternalSalesman__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.ExternalSalesman__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Additional_Contract_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.Additional_Contract_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Additional Contract Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Shipping_Information</name>
            <fieldText>Shipping Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shipping_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_of_Trade</name>
                    <choiceReferences>typeOfTradepkl</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.TypeofTrade__c</elementReference>
                    </defaultValue>
                    <fieldText>Type of Trade</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Shipment_Term</name>
                    <choiceReferences>shipmentTermpkl</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.ShipmentTerm__c</elementReference>
                    </defaultValue>
                    <fieldText>Shipment Term</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Transportation_Way</name>
                    <choiceReferences>TWpkl</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.TransportationWay__c</elementReference>
                    </defaultValue>
                    <fieldText>Transportation Way</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Shipping_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ETD</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.ETD__c</elementReference>
                    </defaultValue>
                    <fieldText>ETD</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ETA</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.ETA__c</elementReference>
                    </defaultValue>
                    <fieldText>ETA</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cargo_Information</name>
            <fieldText>Cargo Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cargo_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Request_Detail</name>
                    <defaultValue>
                        <stringValue>{!Get_Quote.RequestDetail__c}</stringValue>
                    </defaultValue>
                    <fieldText>Request Detail</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Commodity1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Commodity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Commodity1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.Commodity1__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Description_of_Goods</name>
                    <defaultValue>
                        <stringValue>{!Get_Quote.DescriptionofGoods__c}</stringValue>
                    </defaultValue>
                    <fieldText>Description of Goods</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Type_of_Cargo</name>
                    <choiceReferences>TypeOfCargo</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.TypeofCargo__c</elementReference>
                    </defaultValue>
                    <fieldText>Type of Cargo</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Incoterms</name>
                    <choiceReferences>incotermpkl</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.INCOTERMS__c</elementReference>
                    </defaultValue>
                    <fieldText>Incoterms</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cargo_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cargo_Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.Cargo_Quantity__c</elementReference>
                    </defaultValue>
                    <fieldText>Cargo Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Gross_Weight</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.GrossWeight__c</elementReference>
                    </defaultValue>
                    <fieldText>Gross Weight</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Net_Weight</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.NetWeight__c</elementReference>
                    </defaultValue>
                    <fieldText>Net Weight</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>DIM</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.DIM_Dimension__c</elementReference>
                    </defaultValue>
                    <fieldText>DIM</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Measurement</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.MeasurementTotalCBM__c</elementReference>
                    </defaultValue>
                    <fieldText>Measurement</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Volume</name>
                    <dataType>Number</dataType>
                    <fieldText>Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Condition_Information</name>
            <fieldText>Condition Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Condition_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Condition</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.PaymentCondition__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Condition</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Condition_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remarks</name>
                    <defaultValue>
                        <stringValue>{!Get_Quote.Remarks__c}</stringValue>
                    </defaultValue>
                    <fieldText>Remarks</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_2_1</name>
        <label>screen 2.1</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_Opp</targetReference>
        </connector>
        <fields>
            <name>title22</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(224, 21, 21);&quot;&gt;Choose Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OppurtinityDatabase</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Opp</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a534&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Opporturnity&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Route_Name_fomula__c&quot;,&quot;guid&quot;:&quot;column-17ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Route Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Delivery_Address__c&quot;,&quot;guid&quot;:&quot;column-7108&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Delivery Address&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Pickup_Address__c&quot;,&quot;guid&quot;:&quot;column-bcd5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Pickup Address&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>226</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_Quote_Line</targetReference>
        </connector>
        <fields>
            <name>title3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; font-family: Roboto, sans-serif; color: rgb(169, 8, 8);&quot;&gt;Choose Quote Line&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Roboto, sans-serif; color: rgb(169, 8, 8);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuoteLineData</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Quoteline__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Quote Line</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>QLs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Supplier__c&quot;,&quot;guid&quot;:&quot;column-3fba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Supplier&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Supplier&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Service_Name__c&quot;,&quot;guid&quot;:&quot;column-f319&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Service&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Service Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;ChargeQuantity__c&quot;,&quot;guid&quot;:&quot;column-cbfd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Quantity&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Charge Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;ChargeUnit__c&quot;,&quot;guid&quot;:&quot;column-d29a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Unit&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Charge Unit&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SellingListPriceLocal__c&quot;,&quot;guid&quot;:&quot;column-753f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Selling Price(VND)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Selling List Price (VND)&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;BuyingListPriceLocal__c&quot;,&quot;guid&quot;:&quot;column-f037&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Buying Price(VND)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Buying List Price (VND)&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_4</name>
        <label>screen 4</label>
        <locationX>226</locationX>
        <locationY>2930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>open</name>
            <extensionName>c:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>newQuoteID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_1</name>
        <label>Screen Error 1</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Edit</backButtonLabel>
        <fields>
            <name>errmessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(224, 45, 45);&quot;&gt;The chosen Request Company&apos;s PIC does not belong to the Reuqester Company. Please check again!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collectQL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quoteline__c</objectType>
    </variables>
    <variables>
        <name>collectQR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_route__c</objectType>
    </variables>
    <variables>
        <name>newQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quoteline__c</objectType>
    </variables>
    <variables>
        <name>QRids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RouteIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singeQR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_route__c</objectType>
    </variables>
    <variables>
        <name>singleQL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quoteline__c</objectType>
    </variables>
    <variables>
        <name>SingleQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote__c</objectType>
    </variables>
</Flow>
