force-app/main/default/flows/Quote_tick_checkbox_Lock_Missing_Contract_in_AS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_SI_id</name>
        <label>add SI id</label>
        <locationX>138</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>collectSIid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_SI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_SI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tick_check_box</name>
        <label>Tick check box</label>
        <locationX>138</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>SingleAS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_AS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAS.Lock_Missing_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectAS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_AS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_deadline</name>
        <label>check deadline</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Additional_Contract_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_all_SI</targetReference>
            </connector>
            <label>match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote | tick checkbox Lock (Missing Contract) in AS</label>
    <loops>
        <name>loop_AS</name>
        <label>loop AS</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <collectionReference>Get_All_AS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Tick_check_box</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_AS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_SI</name>
        <label>loop SI</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <collectionReference>get_all_SI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_SI_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_AS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_AS</name>
        <label>Get All AS</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_AS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ShippingInformation__c</field>
            <operator>In</operator>
            <value>
                <elementReference>collectSIid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AdvancedShipment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_SI</name>
        <label>get all SI</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_SI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AS</name>
        <label>Update AS</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <inputReference>collectAS</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_deadline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Additional_Contract_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>condition_date_run</name>
            <label>condition date run</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collectAS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvancedShipment__c</objectType>
    </variables>
    <variables>
        <name>collectSIid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleAS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvancedShipment__c</objectType>
    </variables>
</Flow>
