force-app/main/default/flows/Quote_CopyQuoteAndQuoteLine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Quote_Line_Value</name>
        <label>Assign Quote Line Value</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.ServiceID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Rows.ServiceID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.ChargeQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Rows.ChargeQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.Print__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Rows.Print__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.ChargeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Rows.ChargeUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.POL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Rows.POL__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.POD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Rows.POD__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.CarrierAirlinerVendor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Rows.CarrierAirlinerVendor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.TaxRateSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Rows.TaxRateSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.TaxRateBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Rows.TaxRateBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.SellingListPriceLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Rows.SellingListPriceLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.BuyingListPriceLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Rows.BuyingListPriceLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.QuoteID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_GetQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.CurrencySelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VND</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SingleQuoteLine.CurrencyBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>VND</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCol_QuoteLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SingleQuoteLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Record</name>
        <label>Assign Quote Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_GetQuote.QuoteName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.QuoteName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.QuoteNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.QuoteNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.QuoteIssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.QuoteIssueDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.RequestfromCustomerID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.RequestfromCustomerID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.QuotePIC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.QuotePIC__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.RequestCompanysPIC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.RequestCompanysPIC__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.Commodity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Commodity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.TypeOfCargo1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.TypeOfCargo1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.Container_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Container_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.Cargo_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Cargo_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.MeasurementTotalCBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.MeasurementTotalCBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.GrossWeight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.GrossWeight__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.NetWeight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.NetWeight__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.INCOTERMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.INCOTERMS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.ContainerType1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.ContainerType1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.ContainerType2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.ContainerType2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.ContainerType3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.ContainerType3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.ContainerQuantity1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.ContainerQuantity1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.ContainerQuantity2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.ContainerQuantity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.ContainerQuantity3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.ContainerQuantity3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.POLAOD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.POLAOD__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.PODAOA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.PODAOA__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.RequesterCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.RequesterCompany__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_GetQuote.Validto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Validto__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Quote</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Quote | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote | Copy Quote and Quote line</label>
    <loops>
        <name>Selected_Rows</name>
        <label>Selected Rows</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <collectionReference>varCol_SelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Quote_Line_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Quote</name>
        <label>Create New Quote</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Related_Quote_Line</targetReference>
        </connector>
        <inputReference>var_GetQuote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line</name>
        <label>Create Quote Line</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <inputReference>varCol_QuoteLine</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Quote_Line</name>
        <label>Get Related Quote Line</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quoteline__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RedirectAction</name>
            <extensionName>c:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>var_GetQuote.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Quote_Record</targetReference>
        </connector>
        <fields>
            <name>Section1</name>
            <fieldText>Section 1 - Basic Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.QuoteName__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.QuoteNumber__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.QuoteIssueDate__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.Validto__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.RequestfromCustomerID__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section2</name>
            <fieldText>Section 2 - Requirement Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.RequesterCompany__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.RequestCompanysPIC__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.QuotePIC__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section3</name>
            <fieldText>Section 3 - Cargo Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.Commodity__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.TypeOfCargo1__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.Container_Mode__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.Volume__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.Cargo_Quantity__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.MeasurementTotalCBM__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.GrossWeight__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.NetWeight__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.INCOTERMS__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section4</name>
            <fieldText>Section 4 - Container Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.ContainerType1__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.ContainerType2__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.ContainerType3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.ContainerQuantity1__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.ContainerQuantity2__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.ContainerQuantity3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section5</name>
            <fieldText>Section 5 - Transportation Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.POLAOD__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.PODAOA__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.ETD__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Quote.ETA__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen 2</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Rows</targetReference>
        </connector>
        <fields>
            <name>DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Quoteline__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>List of Quote Line</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Related_Quote_Line</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Service_Name__c&quot;,&quot;guid&quot;:&quot;column-7927&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Service&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Service Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;ChargeQuantity__c&quot;,&quot;guid&quot;:&quot;column-52a2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Quantity&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Charge Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Tax Rate-Selling (%)&quot;,&quot;guid&quot;:&quot;column-d132&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Tax Selling&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:null},{&quot;apiName&quot;:&quot;TaxRateBuying__c&quot;,&quot;guid&quot;:&quot;column-7377&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Tax Buying&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Tax Rate-Buying(%)&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;SellingListPriceLocal__c&quot;,&quot;guid&quot;:&quot;column-b679&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Selling Price (Local)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Selling List Price(Local)&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;BuyingListPriceLocal__c&quot;,&quot;guid&quot;:&quot;column-12f0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Buying Price (Local)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Buying List Price(Local)&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varCol_SelectedRows</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_GetQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote__c</objectType>
    </variables>
    <variables>
        <name>var_SingleQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quoteline__c</objectType>
    </variables>
    <variables>
        <name>varCol_QuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quoteline__c</objectType>
    </variables>
    <variables>
        <name>varCol_SelectedRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quoteline__c</objectType>
    </variables>
</Flow>
