force-app/main/default/flows/Quote_Create_Credit_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <dynamicChoiceSets>
        <name>Currency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Currency__c</picklistField>
        <picklistObject>Credit_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Issue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RequesttoissueTaxinvoice__c</picklistField>
        <picklistObject>Credit_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Status__c</picklistField>
        <picklistObject>Credit_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Who</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Whopaythefreight__c</picklistField>
        <picklistObject>Credit_Request__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Quote | Create Credit Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote | Create Credit Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_R</name>
        <label>Create Credit R</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>screen_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Commision_KB__c</field>
            <value>
                <elementReference>Commision_KB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comparison_Date__c</field>
            <value>
                <elementReference>Comparision_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Term1__c</field>
            <value>
                <elementReference>Credit_Term1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_limit__c</field>
            <value>
                <elementReference>Credit_limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Currency1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_ID__c</field>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequesttoissueTaxinvoice__c</field>
            <value>
                <elementReference>Request_to_issue_Tax_Invoice1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOA_Issue_Date__c</field>
            <value>
                <elementReference>SOA_Issue_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOA_Settlement_Day1__c</field>
            <value>
                <elementReference>SOA_Settlement_Day</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selling_rate_Profit_net__c</field>
            <value>
                <elementReference>Selling_rate_Profit_net</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_date_of_Credit_Term__c</field>
            <value>
                <elementReference>Start_date_of_Credit_Term</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Whopaythefreight__c</field>
            <value>
                <elementReference>Who_pay_the</elementReference>
            </value>
        </inputAssignments>
        <object>Credit_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen_1</name>
        <label>screen 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Credit_R</targetReference>
        </connector>
        <fields>
            <name>title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(157, 5, 5); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;CREDIT REQUEST INFORMATION&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contract_Information</name>
            <fieldText>Contract Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contract_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RequesterCompany</name>
                    <fieldText>&lt;p&gt;Requester Company: {!Get_Quote.RequesterCompany__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Selling_rate_Profit_net</name>
                    <dataType>Number</dataType>
                    <fieldText>Selling rate / Profit (net)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Commision_KB</name>
                    <dataType>Number</dataType>
                    <fieldText>Commision (KB)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contract_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quoteid</name>
                    <fieldText>&lt;p&gt;Quote: {!Get_Quote.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Request_to_issue_Tax_Invoice1</name>
                    <choiceReferences>Issue</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Request to issue Tax Invoice</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Who_pay_the</name>
                    <choiceReferences>Who</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Who pay the freight?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Credit_Information</name>
            <fieldText>Credit Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Credit_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Credit_Term1</name>
                    <dataType>Date</dataType>
                    <fieldText>Credit Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Credit_limit</name>
                    <dataType>Number</dataType>
                    <fieldText>Credit limit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Currency1</name>
                    <choiceReferences>Currency</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Credit Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Credit_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_date_of_Credit_Term</name>
                    <dataType>Date</dataType>
                    <fieldText>Start date of Credit Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Payment_Term</name>
            <fieldText>Payment Term</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payment_Term_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SOA_Issue_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>SOA Issue Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SOA_Settlement_Day</name>
                    <dataType>Number</dataType>
                    <fieldText>SOA Settlement Day</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Comparision_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Comparison Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payment_Term_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Payment Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_2</name>
        <label>screen 2</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>open</name>
            <extensionName>c:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>Create_Credit_R</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
