force-app/main/default/flows/Quote_Trigger_create_Quote_Route_from_Inquiry_Route.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Quote_Route</name>
        <label>Assign Quote Route</label>
        <locationX>434</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>SingleQuoteRoute.Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InquiryID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuoteRoute.Inquiry_Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Inquiry_Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuoteRoute.Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Inquiry_Quote.Route__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuoteRoute.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuoteRoute.DeliveryAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Inquiry_Quote.DeliveryAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuoteRoute.PickUpAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Inquiry_Quote.PickUpAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionQuoteRoute</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleQuoteRoute</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Inquiry_Quote</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>checkIsnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Quote | Trigger create Quote Route from Inquiry Route {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote | Trigger create Quote Route from Inquiry Route</label>
    <loops>
        <name>Loop_Inquiry_Quote</name>
        <label>Loop Inquiry Quote</label>
        <locationX>601</locationX>
        <locationY>547</locationY>
        <collectionReference>Get_Inquiry_Quote</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Quote_Route</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Route</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote_Route</name>
        <label>Create Quote Route</label>
        <locationX>601</locationX>
        <locationY>695</locationY>
        <inputReference>CollectionQuoteRoute</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Inquiry_Quote</name>
        <label>Get Inquiry Quote</label>
        <locationX>603</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Inquiry_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inquiry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InquiryID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InquiryRoute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Inquiry_Quote</targetReference>
        </connector>
        <filterFormula>AND(ISNEW(), NOT(ISNULL({!$Record.InquiryID__c})))</filterFormula>
        <object>Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CollectionQuoteRoute</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_route__c</objectType>
    </variables>
    <variables>
        <name>SingleQuoteRoute</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_route__c</objectType>
    </variables>
</Flow>
