force-app/main/default/flows/RecruitmentRequestAutomationupdatedataintheRecruitmentRequestLine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Checkchangefield</name>
        <label>Check changed field?</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>UpdateRecruitmentPlanLine3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mixed</defaultConnectorLabel>
        <rules>
            <name>Position</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Position__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecruitmentPlanLine__r.Position__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecruitmentPlanLine__r.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClosingDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecruitmentPlanLine__r.ClosingDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecruitmentPlanLine</targetReference>
            </connector>
            <label>Position</label>
        </rules>
        <rules>
            <name>Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecruitmentPlanLine__r.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecruitmentPlanLine__r.Position__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClosingDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecruitmentPlanLine__r.ClosingDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecruitmentPlanLine1</targetReference>
            </connector>
            <label>Quantity</label>
        </rules>
        <rules>
            <name>ClosingDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClosingDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecruitmentPlanLine__r.ClosingDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecruitmentPlanLine__r.Position__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecruitmentPlanLine__r.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecruitmentPlanLine2</targetReference>
            </connector>
            <label>Closing Date</label>
        </rules>
        <rules>
            <name>Allequal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ClosingDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecruitmentPlanLine__r.ClosingDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecruitmentPlanLine__r.Position__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecruitmentPlanLine__r.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <label>All equal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Recruitment Request | Automation update data in the Recruitment Request Line {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recruitment Request | Automation update data in the Recruitment Request Line</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateRecruitmentPlanLine</name>
        <label>Update Recruitment Plan Line</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecruitmentPlanLine__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Change__c</field>
            <value>
                <stringValue>Position</stringValue>
            </value>
        </inputAssignments>
        <object>RecruitmentPlanLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecruitmentPlanLine1</name>
        <label>Update Recruitment Plan Line</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecruitmentPlanLine__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Change__c</field>
            <value>
                <stringValue>Quantity</stringValue>
            </value>
        </inputAssignments>
        <object>RecruitmentPlanLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecruitmentPlanLine2</name>
        <label>Update Recruitment Plan Line</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecruitmentPlanLine__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Change__c</field>
            <value>
                <stringValue>Time</stringValue>
            </value>
        </inputAssignments>
        <object>RecruitmentPlanLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecruitmentPlanLine3</name>
        <label>Update Recruitment Plan Line</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecruitmentPlanLine__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Change__c</field>
            <value>
                <stringValue>Mixed</stringValue>
            </value>
        </inputAssignments>
        <object>RecruitmentPlanLine__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checkchangefield</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecruitmentPlanLine__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RecruitmentRequest__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
