force-app/main/default/flows/RecruitmentPlanApproveCustomButton.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendNotitoManager1</name>
        <label>Send Noti to Manager</label>
        <locationX>1370</locationX>
        <locationY>1706</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>RemoveRecipients1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ApproveRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notititle2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Click here to know more information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>LoopCollectedLines1.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendNotitoManager4</name>
        <label>Send Noti to Manager</label>
        <locationX>754</locationX>
        <locationY>2222</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>RemoveRecipients4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ApproveRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Notititle4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Click here to know more information</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>LoopSelectedLines.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignApproveValue</name>
        <label>Assign Approve Value</label>
        <locationX>1502</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>SingleApprovePlanLines.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCollectedLines1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleApprovePlanLines.RecruitmentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionApprovePlanLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleApprovePlanLines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApproveRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopCollectedLines1.Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckManager3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPrimaryPlanLines</name>
        <label>Assign Primary Plan Lines</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>PrimaryPlanLinesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopPrimaryPlanLines.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPrimaryPlanLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRejectValue</name>
        <label>Assign Reject Value</label>
        <locationX>138</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>SingleRejectPlanLines.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCollectedLines.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleRejectPlanLines.RecruitmentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionRejectPlanLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleRejectPlanLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCollectedLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRejectValue1</name>
        <label>Assign Reject Value</label>
        <locationX>754</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>SingleRejectPlanLines.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopNotCollectedLines.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleRejectPlanLines.RecruitmentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionRejectPlanLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleRejectPlanLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopNotCollectedLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSelectedApproveValue</name>
        <label>Assign Selected Approve Value</label>
        <locationX>886</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>SingleApprovePlanLines.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSelectedLines.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleApprovePlanLines.RecruitmentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionApprovePlanLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleApprovePlanLines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApproveRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSelectedLines.Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckManager2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSelectedPlanLines</name>
        <label>Assign Selected Plan Lines</label>
        <locationX>886</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>SelectedPlanLinesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSelectedPlanLines.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelectedPlanLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountPrimaryPlanLines</name>
        <label>Count Primary Plan Lines</label>
        <locationX>798</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>VarCountPrimanyLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetAllRecruitmentPlanLines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCountSelectedLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>planlineslist.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Selected_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveRecipients1</name>
        <label>Remove Recipients</label>
        <locationX>1502</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>ApproveRecipients</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopCollectedLines1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveRecipients4</name>
        <label>Remove Recipients</label>
        <locationX>886</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>ApproveRecipients</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelectedLines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Selected_Amount</name>
        <label>Check Selected Amount</label>
        <locationX>798</locationX>
        <locationY>1274</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCountSelectedLines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopCollectedLines</targetReference>
            </connector>
            <label>0</label>
        </rules>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCountSelectedLines</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>VarCountPrimanyLines</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecruitmentPlanLinesNotSelected</targetReference>
            </connector>
            <label>&lt; Primary</label>
        </rules>
        <rules>
            <name>Primary1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCountSelectedLines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VarCountPrimanyLines</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopCollectedLines1</targetReference>
            </connector>
            <label>= Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckManager2</name>
        <label>Check Manager</label>
        <locationX>886</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>RemoveRecipients4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSelectedLines.Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNotitoManager4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckManager3</name>
        <label>Check Manager</label>
        <locationX>1502</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>RemoveRecipients1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCollectedLines1.Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendNotitoManager1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Recruitment Plan | Approve Custom Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recruitment Plan | Approve Custom Button (1)</label>
    <loops>
        <name>LoopCollectedLines</name>
        <label>Loop Collected Lines</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <collectionReference>GetAllRecruitmentPlanLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignRejectValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRejectLines1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCollectedLines1</name>
        <label>Loop Collected Lines</label>
        <locationX>1282</locationX>
        <locationY>1382</locationY>
        <collectionReference>GetAllRecruitmentPlanLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignApproveValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateApproveLines1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopNotCollectedLines</name>
        <label>Loop Not Collected Lines</label>
        <locationX>666</locationX>
        <locationY>1490</locationY>
        <collectionReference>GetRecruitmentPlanLinesNotSelected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignRejectValue1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetRecruitmentPlanLinesSelected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopPrimaryPlanLines</name>
        <label>Loop Primary Plan Lines</label>
        <locationX>798</locationX>
        <locationY>350</locationY>
        <collectionReference>GetAllRecruitmentPlanLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignPrimaryPlanLines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAllRecruitmentPlanLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSelectedLines</name>
        <label>Loop Selected Lines</label>
        <locationX>666</locationX>
        <locationY>1898</locationY>
        <collectionReference>GetRecruitmentPlanLinesSelected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignSelectedApproveValue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateApproveLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSelectedPlanLines</name>
        <label>Loop Selected Plan Lines</label>
        <locationX>798</locationX>
        <locationY>866</locationY>
        <collectionReference>planlineslist.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignSelectedPlanLines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountPrimaryPlanLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAllRecruitmentPlanLines</name>
        <label>Get All Recruitment Plan Lines</label>
        <locationX>798</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecruitmentPlan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecruitmentPlanLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentRecruitmentPlan</name>
        <label>Get Current Recruitment Plan</label>
        <locationX>798</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopPrimaryPlanLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecruitmentPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCustomNotification</name>
        <label>Get Custom Notification</label>
        <locationX>798</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCurrentRecruitmentPlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>You_have_new_notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecruitmentPlanLinesNotSelected</name>
        <label>Get Recruitment Plan Lines Not Selected</label>
        <locationX>666</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopNotCollectedLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>SelectedPlanLinesCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecruitmentPlan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecruitmentPlanLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecruitmentPlanLinesSelected</name>
        <label>Get Selected Recruitment Plan Lines</label>
        <locationX>666</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopSelectedLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SelectedPlanLinesCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecruitmentPlanLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateApproveLines</name>
        <label>Update Approve Lines</label>
        <locationX>666</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>UpdateRejectLines</targetReference>
        </connector>
        <inputReference>CollectionApprovePlanLines</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateApproveLines1</name>
        <label>Update Approve Lines</label>
        <locationX>1282</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>UpdateRecruitmentPlan</targetReference>
        </connector>
        <inputReference>CollectionApprovePlanLines</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecruitmentPlan</name>
        <label>Update Recruitment Plan</label>
        <locationX>1282</locationX>
        <locationY>2198</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>RecruitmentPlan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecruitmentPlan1</name>
        <label>Update Recruitment Plan</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>RecruitmentPlan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRecruitmentPlan2</name>
        <label>Update Recruitment Plan</label>
        <locationX>666</locationX>
        <locationY>2822</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>RecruitmentPlan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRejectLines</name>
        <label>Update Reject Lines</label>
        <locationX>666</locationX>
        <locationY>2714</locationY>
        <connector>
            <targetReference>UpdateRecruitmentPlan2</targetReference>
        </connector>
        <inputReference>CollectionRejectPlanLines</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRejectLines1</name>
        <label>Update Reject Lines</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>UpdateRecruitmentPlan1</targetReference>
        </connector>
        <inputReference>CollectionRejectPlanLines</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen 1</label>
        <locationX>798</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopSelectedPlanLines</targetReference>
        </connector>
        <fields>
            <name>planlineslist</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>RecruitmentPlanLine__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>List of Recruitment Plan Lines</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetAllRecruitmentPlanLines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-97d9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Recruitment Plan Line Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PositionNameFor__c&quot;,&quot;guid&quot;:&quot;column-9152&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Position&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Position Name For&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-905d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Branch__c&quot;,&quot;guid&quot;:&quot;column-106c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Branch&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ClosingDate__c&quot;,&quot;guid&quot;:&quot;column-74f5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Closing Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displaytext</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(208, 1, 1); font-size: 13px;&quot;&gt;***Note: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 13px;&quot;&gt;If you do not choose any, all Recruitment Plan Lines will be rejected.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCustomNotification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Notititle1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Your Recruitment Plan Line {!LoopCollectedLines.Name} is rejected.</text>
    </textTemplates>
    <textTemplates>
        <name>Notititle2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Your Recruitment Plan Line {!LoopCollectedLines1.Name} is approved.</text>
    </textTemplates>
    <textTemplates>
        <name>Notititle3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Your Recruitment Plan Line {!LoopNotCollectedLines.Name} is rejected.</text>
    </textTemplates>
    <textTemplates>
        <name>Notititle4</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Your Recruitment Plan Line {!LoopSelectedLines.Name} is approved.</text>
    </textTemplates>
    <variables>
        <name>ApproveRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionApprovePlanLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecruitmentPlanLine__c</objectType>
    </variables>
    <variables>
        <name>CollectionRejectPlanLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecruitmentPlanLine__c</objectType>
    </variables>
    <variables>
        <name>PrimaryPlanLinesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RejectRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPlanLinesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleApprovePlanLines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecruitmentPlanLine__c</objectType>
    </variables>
    <variables>
        <name>SingleRejectPlanLines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecruitmentPlanLine__c</objectType>
    </variables>
    <variables>
        <name>VarCountPrimanyLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarCountSelectedLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
