force-app/main/default/flows/RecruitmentPlanLineScreenflowConverttoRecruitmentRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Screen_Value</name>
        <label>Assign Screen Value</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Varquantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPosition</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>position.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarJD</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobDescription.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRecruitmentRequest</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Active</name>
        <label>Check Active?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>False_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCurrentRecruitmentPlanLine.Position__r.Recruitmentactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>True_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>lastdateofmonth</name>
        <dataType>Date</dataType>
        <expression>IF(MONTH({!$Flow.CurrentDate})=12, 
DATE(YEAR({!$Flow.CurrentDate}),12,31), 
DATE(YEAR({!$Flow.CurrentDate}),MONTH({!$Flow.CurrentDate})+1, 1)-1)</expression>
    </formulas>
    <formulas>
        <name>plantypeformula</name>
        <dataType>String</dataType>
        <expression>IF(AND({!Varquantity}= {!GetCurrentRecruitmentPlanLine.Quantity__c}, {!VarPosition}= {!GetCurrentRecruitmentPlanLine.Position__c}, {!VarJD} = {!GetCurrentRecruitmentPlanLine.JobDescription__c}), &apos;Planned&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Recruitment Plan Line | Screen flow to {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recruitment Plan Line | Screen flow Convert to Recruitment Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRecruitmentRequest</name>
        <label>Create Recruitment Request</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>UpdateRecruitmentPlanLine</targetReference>
        </connector>
        <inputAssignments>
            <field>ClosingDate__c</field>
            <value>
                <elementReference>lastdateofmonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobDescription__c</field>
            <value>
                <elementReference>JobDescription.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetCurrentRecruitmentPlanLine.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>position.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecruitmentPlanLine__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecruitmentPlan__c</field>
            <value>
                <elementReference>GetCurrentRecruitmentPlanLine.RecruitmentPlan__c</elementReference>
            </value>
        </inputAssignments>
        <object>RecruitmentRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCurrentRecruitmentPlanLine</name>
        <label>Get Current Recruitment Plan Line</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecruitmentPlanLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecruitmentPlanLine</name>
        <label>Update Recruitment Plan Line</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecruitmentStatus__c</field>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </inputAssignments>
        <object>RecruitmentPlanLine__c</object>
    </recordUpdates>
    <screens>
        <name>False_Screen</name>
        <label>False Screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>falsemessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(215, 0, 0);&quot;&gt;This position is not currently open to recruitment.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>True_Screen</name>
        <label>True Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_Value</targetReference>
        </connector>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>GetCurrentRecruitmentPlanLine.Quantity__c</elementReference>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>position</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Position__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Position</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>RecruitmentPlanLine__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetCurrentRecruitmentPlanLine.Position__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>JobDescription</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>RecruitmentPlanLine__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>JobDescription__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Job Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetCurrentRecruitmentPlanLine.JobDescription__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCurrentRecruitmentPlanLine</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarJD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPosition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Varquantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
