force-app/main/default/flows/Ref_Price_update_multiple_object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Noti_Inquiry_PIC</name>
        <label>Send Noti Inquiry PIC</label>
        <locationX>270</locationX>
        <locationY>2411</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Loop_Inquiry</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_noti.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>collectRecepts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Check This Inquiry</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>bodyInquiry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Loop_Inquiry.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send_noti_Quote_PIC</name>
        <label>send noti Quote PIC</label>
        <locationX>424</locationX>
        <locationY>1271</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>loop_Quote</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_noti.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>collectReceipt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Check This Quotation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>bodyQuote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>loop_Quote.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send_noti_to_SO</name>
        <label>send noti to SO</label>
        <locationX>138</locationX>
        <locationY>3551</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>new_task2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_noti.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>SOreceipt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SOTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>SObody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>loop_SO.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>add_SO_id</name>
        <label>add SO id</label>
        <locationX>138</locationX>
        <locationY>3035</locationY>
        <assignmentItems>
            <assignToReference>SOids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_SOL.SO_ID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_SOL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Price_Option</name>
        <label>assign Price Option</label>
        <locationX>270</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>collectInquiryID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Price_Option.Inquiry__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Price_Option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QL</name>
        <label>Assign QL</label>
        <locationX>424</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>collectQuoteIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_QuoteLine.QuoteID__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_QuoteLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new_task</name>
        <label>new task</label>
        <locationX>424</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>singleTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Quote.QuotePIC__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectReceipt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Quote.QuotePIC__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_noti_Quote_PIC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new_task2</name>
        <label>new task</label>
        <locationX>138</locationX>
        <locationY>3659</locationY>
        <assignmentItems>
            <assignToReference>task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOsubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_SO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_SO.CreatedBy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>task.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOreceipt</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_SO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Tasks</name>
        <label>New Tasks</label>
        <locationX>270</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>singleTasks.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTasks.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Inquiry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTasks.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Inquiry.InquiryPIC__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleTasks.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleTasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectRecepts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Inquiry.InquiryPIC__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Noti_Inquiry_PIC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pre_send</name>
        <label>pre send</label>
        <locationX>138</locationX>
        <locationY>3443</locationY>
        <assignmentItems>
            <assignToReference>SOreceipt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_SO.CreatedBy.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_noti_to_SO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Get_PO</name>
        <label>check Get PO</label>
        <locationX>336</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>can_get_it</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Price_Option</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Price_Option</targetReference>
            </connector>
            <label>can get it</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_get_Quote_Line</name>
        <label>check get Quote Line</label>
        <locationX>545</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_get</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_quoteline</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_QuoteLine</targetReference>
            </connector>
            <label>can get</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_get_SOL</name>
        <label>Check get SOL</label>
        <locationX>182</locationX>
        <locationY>2819</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>can_get</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_SOL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_SOL</targetReference>
            </connector>
            <label>can get</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ref Price | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ref Price | update multiple object</label>
    <loops>
        <name>Loop_Inquiry</name>
        <label>Loop Inquiry</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <collectionReference>Get_Inquiry</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Price_Option</name>
        <label>loop Price Option</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <collectionReference>Get_All_Price_Option</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Price_Option</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Inquiry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Quote</name>
        <label>loop Quote</label>
        <locationX>336</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Quote</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>new_task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_QuoteLine</name>
        <label>loop QuoteLine</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <collectionReference>get_all_quoteline</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_QL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_SO</name>
        <label>loop SO</label>
        <locationX>50</locationX>
        <locationY>3335</locationY>
        <collectionReference>get_all_SO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>pre_send</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_SOL</name>
        <label>loop SOL</label>
        <locationX>50</locationX>
        <locationY>2927</locationY>
        <collectionReference>get_all_SOL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_SO_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_all_SO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task</name>
        <label>Create task</label>
        <locationX>336</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Get_All_Price_Option</targetReference>
        </connector>
        <inputReference>collectTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task2</name>
        <label>Create Tasks</label>
        <locationX>50</locationX>
        <locationY>3851</locationY>
        <inputReference>tasks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>182</locationX>
        <locationY>2603</locationY>
        <connector>
            <targetReference>get_all_SOL</targetReference>
        </connector>
        <inputReference>collectTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Price_Option</name>
        <label>Get All Price Option</label>
        <locationX>336</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Get_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferencePrice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_Option__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_quoteline</name>
        <label>get all quoteline</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_get_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferencePrice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quoteline__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_SO</name>
        <label>get all SO</label>
        <locationX>50</locationX>
        <locationY>3227</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_SO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SOids</elementReference>
            </value>
        </filters>
        <filters>
            <field>Valid_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_SOL</name>
        <label>get all SOL</label>
        <locationX>182</locationX>
        <locationY>2711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_get_SOL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferencePrice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inquiry</name>
        <label>Get Inquiry</label>
        <locationX>182</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Inquiry</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>collectInquiryID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Converted to Quotation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Valid_End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_noti</name>
        <label>Get noti</label>
        <locationX>336</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Check_Reason_In_Returning_Reason</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>336</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_noti</targetReference>
        </connector>
        <filterLogic>1 AND 5 AND (2 OR 3 OR 4 )</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>collectQuoteIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuoteStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>QuoteStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Close Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validto__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_all_quoteline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ReferencePrice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyInquiry</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please check this Inquiry. Reference Price ({!$Record.Name}) used for this Inquiry has been deactived. Please check it Inquiry Line.</text>
    </textTemplates>
    <textTemplates>
        <name>bodyQuote</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please check this Quotation. Reference Price ({!$Record.Name}) used for this Quotation has been deactived. Please check it Quote Line</text>
    </textTemplates>
    <textTemplates>
        <name>SObody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please check this Sales Order. Reference Price ({!$Record.Name}) used for this Sales Order Line has been deactived. Please check it Sales Order Line!</text>
    </textTemplates>
    <textTemplates>
        <name>SOsubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Please check this Sales Order. Reference Price ({!$Record.Name}) used for this Quotation has been deactived. Please check it Sales Order Line!</text>
    </textTemplates>
    <textTemplates>
        <name>SOTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Check this Sales Order ({!loop_SO.Name})</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>lease check this Quotation. Reference Price ({!$Record.Name}) used for this Quotation has been deactived. Please check it Quote Line</text>
    </textTemplates>
    <textTemplates>
        <name>subjects</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>lease check this Inquiry. Reference Price ({!$Record.Name}) used for this Inquiry has been deactived. Please check it Inquiry Line</text>
    </textTemplates>
    <variables>
        <name>collectInquiryID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectQuoteIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectReceipt</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectRecepts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>collectTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>singleTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>singleTasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SOids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOreceipt</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
