force-app/main/default/flows/Roll_up_all_Containers_in_F_TMS_S_O_with_same_Advanced_Shipment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Assign_value_per_CNTR_record.AdvancedShipment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsolId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CNTRCollectiontoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_value_per_CNTR_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_value_per_CNTR_record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Roll up all Containers in F/TMS S/O with same Advanced Shipment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll up all Containers in F/TMS S/O with same Advanced Shipment</label>
    <loops>
        <name>Assign_value_per_CNTR_record</name>
        <label>Assign value per CNTR record</label>
        <locationX>352</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_all_CNTR_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetallCNTRperSO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>GetallCNTRperSO</name>
        <label>Get all CNTR per S/O</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>FTMSSOCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_all_CNTR_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CNTR_in_Trans_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_CNTR_records</name>
        <label>Get all CNTR records</label>
        <locationX>352</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_value_per_CNTR_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>F_TMS_S_O__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetallCNTRperSO.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CntrinTrans__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_S_O_in_this_record</name>
        <label>Get all S/O in this record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetallCNTRperSO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsolidationID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsolId</elementReference>
            </value>
        </filters>
        <object>FTMSSO__c</object>
        <outputReference>FTMSSOCollection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CNTR_in_Trans_Collection</name>
        <label>Update CNTR in Trans Collection</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <inputReference>CNTRCollectiontoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_S_O_in_this_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CNTRcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CntrinTrans__c</objectType>
    </variables>
    <variables>
        <name>CNTRCollectiontoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CntrinTrans__c</objectType>
    </variables>
    <variables>
        <name>ConsolId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FTMSSOCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FTMSSO__c</objectType>
    </variables>
</Flow>
