force-app/main/default/flows/S_O_Update_Booking_and_S_O.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>S/O|Update Booking and S/O {!$Flow.CurrentDateTime}</interviewLabel>
    <label>S/O|Update Booking and S/O</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Update_S_O</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EbookingID__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Booking_Status__c</field>
            <value>
                <stringValue>Used</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>F_TMS_S_O__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>EBooking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_S_O</name>
        <label>Update S/O</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>CarrierAirlinerVendor__c</field>
            <value>
                <elementReference>$Record.EbookingID__r.Carrier__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETA__c</field>
            <value>
                <elementReference>$Record.EbookingID__r.ETA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETD__c</field>
            <value>
                <elementReference>$Record.EbookingID__r.ETD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MasterBookingNo__c</field>
            <value>
                <elementReference>$Record.EbookingID__r.Master_Booking_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PODAOA__c</field>
            <value>
                <elementReference>$Record.EbookingID__r.null__NotFound.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POLAOD__c</field>
            <value>
                <elementReference>$Record.EbookingID__r.null__NotFound.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VesselFlight__c</field>
            <value>
                <elementReference>$Record.EbookingID__r.null__NotFound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voyage__c</field>
            <value>
                <elementReference>$Record.EbookingID__r.Voyage__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>FTMSSO__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
