force-app/main/default/flows/Salary_Payment_Update_status_of_Bonus_and_Violation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Bonus</name>
        <label>Assign Bonus</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>BonusSing.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_Bonus.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BonusSing.PaidStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BonusCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BonusSing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Bonus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Bonus</name>
        <label>Copy 1 of Assign Bonus</label>
        <locationX>264</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>BonusSing.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Through_Violation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BonusSing.PaidStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BonusCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BonusSing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Violation</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Salary Payment | Update status of Bonus and Violation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salary Payment | Update status of Bonus and Violation</label>
    <loops>
        <name>Iterate_Through_Bonus</name>
        <label>Iterate Through Bonus</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Bonus_All_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Bonus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Violation_All_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Through_Violation</name>
        <label>Iterate Through Violation</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Violation_All_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Bonus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Bonus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Bonus_All_records</name>
        <label>Get Bonus (All records)</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Bonus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payslip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaidStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Receive_at__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Monthly payslip</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bonus_in__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bonus_record_type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bonus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bonus_record_type</name>
        <label>Get Bonus record type</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Violation_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonus__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonus</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Violation_All_records</name>
        <label>Get Violation (All records)</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Violation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payslip__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PaidStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employee__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Violation_record_type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bonus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Violation_record_type</name>
        <label>Get Violation record type</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bonus_All_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonus__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Violation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bonus</name>
        <label>Update Bonus</label>
        <locationX>176</locationX>
        <locationY>1355</locationY>
        <inputReference>BonusCol</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bonus_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HR Approved</stringValue>
            </value>
        </filters>
        <object>Payslip__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BonusCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bonus__c</objectType>
    </variables>
    <variables>
        <name>BonusSing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Bonus__c</objectType>
    </variables>
</Flow>
