force-app/main/default/flows/Salary_Payment_Check_Attendance_duplicate_Leave_Day.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_New_Leave_Date_Into_List</name>
        <label>Add New Leave Date Into List</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>leave_Date_Lst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>leave_Date_Obj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Leave_Date_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Leave_Date</name>
        <label>Create New Leave Date</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>leave_Date_Obj</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Leave_Date_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leave_Date_Obj.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Leave_Date_Into_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Attendant</name>
        <label>Check Attendant</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Existed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Attendance.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Leave_Date</targetReference>
            </connector>
            <label>If Existed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Current_Date</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Salary Payment | Check Attendance duplicate Leave Day {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salary Payment | Check Attendance duplicate Leave Day</label>
    <loops>
        <name>Leave_Date_Loop</name>
        <label>Leave Date Loop</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Leave_Date</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Attendance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Leave_Date_Lst</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Attendance</name>
        <label>Get Attendance</label>
        <locationX>396</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Attendant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Attendance_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Leave_Date_Loop.LeaveDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Leave_Date_Loop.Employee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Leave_Date</name>
        <label>Get Leave Date</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Leave_Date_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeaveDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LeaveDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Leave_Date_Lst</name>
        <label>Update Leave Date Lst</label>
        <locationX>176</locationX>
        <locationY>1068</locationY>
        <inputReference>leave_Date_Lst</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Leave_Date</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-25</startDate>
            <startTime>21:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>leave_Date_Lst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LeaveDay__c</objectType>
    </variables>
    <variables>
        <name>leave_Date_Obj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LeaveDay__c</objectType>
    </variables>
</Flow>
