force-app/main/default/flows/SalaryPaymentUpdateplannedLeaveandAttendanceattheendofCycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>update_Status</name>
        <label>update Status</label>
        <locationX>955</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>singleLeaveDay.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Used</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleLeaveDay.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Leave_Day.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupLeaveDay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleLeaveDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Leave_Day</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_Status_0</name>
        <label>update Status</label>
        <locationX>950</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>singleWFH.WFHStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Used</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleWFH.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_WFH.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>groupWFH</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleWFH</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_WFH</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_end_date_current_date</name>
        <label>is end date current date?</label>
        <locationX>768</locationX>
        <locationY>305</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Leaves_Days</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Normal_exist</name>
        <label>is Normal exist?</label>
        <locationX>1186</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>each_Leave_Day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>yes</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Normal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Status</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Normal_exist_0</name>
        <label>is Normal exist?</label>
        <locationX>1169</locationX>
        <locationY>870</locationY>
        <defaultConnector>
            <targetReference>each_WFH</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>yes</defaultConnectorLabel>
        <rules>
            <name>no_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Normal_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Status_0</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Salary Payment | Update planned Leave and Attendance at the end of Cycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salary Payment | Update planned Leave and Attendance at the end of Cycle</label>
    <loops>
        <name>each_Leave_Day</name>
        <label>each Leave Day</label>
        <locationX>943</locationX>
        <locationY>468</locationY>
        <collectionReference>get_Leaves_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Normal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_WFH</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>each_WFH</name>
        <label>each WFH</label>
        <locationX>956</locationX>
        <locationY>696</locationY>
        <collectionReference>get_WFH</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Normal_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_WFHs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Leaves_Days</name>
        <label>get Leaves Days</label>
        <locationX>784</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>each_Leave_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>InCycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BusinessDay__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WorkCycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Half_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LeaveDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Normal</name>
        <label>get Normal</label>
        <locationX>1197</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Normal_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Work From Home</stringValue>
            </value>
        </filters>
        <filters>
            <field>Attendance_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>each_Leave_Day.LeaveDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Normal_0</name>
        <label>get Normal</label>
        <locationX>1192</locationX>
        <locationY>693</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Normal_exist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Work From Home</stringValue>
            </value>
        </filters>
        <filters>
            <field>Attendance_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>each_WFH.Attendance_date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_WFH</name>
        <label>get WFH</label>
        <locationX>778</locationX>
        <locationY>700</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>each_WFH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WFHStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>InCycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Holiday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Weekend__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Work_cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work From Home</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attendance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Leave_Days</name>
        <label>update Leave Days</label>
        <locationX>673</locationX>
        <locationY>1075</locationY>
        <inputReference>groupLeaveDay</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_WFHs</name>
        <label>update WFHs</label>
        <locationX>782</locationX>
        <locationY>874</locationY>
        <connector>
            <targetReference>update_Leave_Days</targetReference>
        </connector>
        <inputReference>groupWFH</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>is_end_date_current_date</targetReference>
        </connector>
        <object>WorkCycle__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-31</startDate>
            <startTime>19:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>groupLeaveDay</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeaveDay__c</objectType>
    </variables>
    <variables>
        <name>groupWFH</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
    <variables>
        <name>singleLeaveDay</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LeaveDay__c</objectType>
    </variables>
    <variables>
        <name>singleWFH</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Attendance__c</objectType>
    </variables>
</Flow>
