force-app/main/default/flows/Salary_Payment_Daily_update_Used_WFH_Attendance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Attendance_Date</name>
        <label>Check Attendance Date</label>
        <locationX>1420</locationX>
        <locationY>440</locationY>
        <defaultConnectorLabel>Not</defaultConnectorLabel>
        <rules>
            <name>Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Attendance_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Attendance</targetReference>
            </connector>
            <label>Today</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Salary Payment | Daily update Used WFH Attendance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salary Payment | Daily update Used WFH Attendance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_Attendance</name>
        <label>update Attendance</label>
        <locationX>1428</locationX>
        <locationY>661</locationY>
        <inputAssignments>
            <field>WFHStatus__c</field>
            <value>
                <stringValue>Used</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1302</locationX>
        <locationY>153</locationY>
        <connector>
            <targetReference>Check_Attendance_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WFHStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>InCycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Holiday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Weekend__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Attendance__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-01</startDate>
            <startTime>02:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
