force-app/main/default/flows/Salary_Payment_Generate_Payroll_and_Payslip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_Payroll</name>
        <label>Redirect to Payroll</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <actionName>c:SavePositionPunch</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>APayroll.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_income_in_a_payslip</name>
        <label>Add income in a payslip</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Payslip.IncomeAfterTaxes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Payslip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payroll</name>
        <label>Assign Payroll</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>APayroll.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PayrollName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayroll.Salary_Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PayrollCycle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayroll.Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PayrollYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayroll.Standard_Working_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardWorkingDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payroll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payslip</name>
        <label>Assign Payslip</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>APayslip.Work_cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Cycle.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Employee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.Payroll__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APayroll.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.BasicSalary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Employee.Salarypolicy__r.Basicsalary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.TaxableAllowances__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Taxable_Allowance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.UnemploymentInsurancePercentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Employee.InsurancePolicy__r.Unemploymentfundratiobyemployee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.HealthInsurancePercentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Employee.InsurancePolicy__r.Health_Insurance_Ratio_by_Employee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.Social_Insurance_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Employee.InsurancePolicy__r.Social_Insurance_Ratio_by_Employee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.NumberofDependents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Employee.Number_of_dependents__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.StandardDependentDeductionperPerson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Employee.StandardDependentDeductionperPerson__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.StandardSelfDeduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Employee.Standardselfdeduction__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.ProductivitySalary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Employee.Salarypolicy__r.Productivitysalary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.TaxfreeAllowance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_free_Allowance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.SpecialEmployee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Employee.SpecialEmployee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APayslip.StandardWorkDay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardWorkingDays</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupPayslip</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>APayslip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Employee</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_APayroll</name>
        <label>Check APayroll</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>PayrollExisted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existed</defaultConnectorLabel>
        <rules>
            <name>NonExisted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPayroll</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Payroll</targetReference>
            </connector>
            <label>Non-Existed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Work_Cycle</name>
        <label>Check Work Cycle</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Each_Employee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Has</defaultConnectorLabel>
        <rules>
            <name>Has</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Cycle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Payslip</targetReference>
            </connector>
            <label>Has</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Cycle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salary_Cycle__c</picklistField>
        <picklistObject>Payroll__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>PayrollName</name>
        <dataType>String</dataType>
        <expression>{!VietCycle} + &quot;/&quot; + {!PayrollYear}</expression>
    </formulas>
    <formulas>
        <name>Tax_free_Allowance</name>
        <dataType>Currency</dataType>
        <expression>{!Each_Employee.Salarypolicy__r.TaxfreeHousingallowanceperMonth__c} +
{!Each_Employee.Salarypolicy__r.TaxfreeMealAllowanceperMonth__c} +
{!Each_Employee.Salarypolicy__r.RelocationAllowanceperMonth__c} +
{!Each_Employee.Salarypolicy__r.TelephoneAllowanceperMonth__c} +
{!Each_Employee.Salarypolicy__r.TaxfreeUniformAllowanceperMonth__c} +
{!Each_Employee.Salarypolicy__r.RelocationAllowanceperMonth__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Taxable_Allowance</name>
        <dataType>Currency</dataType>
        <expression>{!Each_Employee.Salarypolicy__r.GasolineAllowanceperMonth__c} +
{!Each_Employee.Salarypolicy__r.TaxableMealAllowanceperMonth__c} +
{!Each_Employee.Salarypolicy__r.TaxableUniformAllowanceperMonth__c} +
{!Each_Employee.Salarypolicy__r.TaxableHousingAllowanceperMonth__c}</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>VietCycle</name>
        <dataType>String</dataType>
        <expression>If ({!PayrollCycle} = &quot;January&quot;, &quot;Tháng 1&quot;,
If ({!PayrollCycle} = &quot;February&quot;, &quot;Tháng 2&quot;,
If ({!PayrollCycle} = &quot;March&quot;, &quot;Tháng 3&quot;,
If ({!PayrollCycle} = &quot;April&quot;, &quot;Tháng 4&quot;,
If ({!PayrollCycle} = &quot;May&quot;, &quot;Tháng 5&quot;,
If ({!PayrollCycle} = &quot;June&quot;, &quot;Tháng 6&quot;,
If ({!PayrollCycle} = &quot;July&quot;, &quot;Tháng 7&quot;,
If ({!PayrollCycle} = &quot;August&quot;, &quot;Tháng 8&quot;,
If ({!PayrollCycle} = &quot;September&quot;, &quot;Tháng 9&quot;,
If ({!PayrollCycle} = &quot;October&quot;, &quot;Tháng 10&quot;, 
If ({!PayrollCycle} = &quot;November&quot;, &quot;Tháng 11&quot;,  &quot;Tháng 12&quot;)))))))))))</expression>
    </formulas>
    <interviewLabel>Salary Payment | Generate Payroll and Payslip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salary Payment | Generate Payroll and Payslip</label>
    <loops>
        <name>Each_Employee</name>
        <label>Each Employee</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>ActiveEmployee.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Work_Cycle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Mass_Payslip</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Each_Payslip</name>
        <label>Each Payslip</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <collectionReference>GroupPayslip</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_income_in_a_payslip</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_total_in_payroll</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Mass_Payslip</name>
        <label>Create Mass Payslip</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Each_Payslip</targetReference>
        </connector>
        <inputReference>GroupPayslip</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Payroll</name>
        <label>Create Payroll</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Each_Employee</targetReference>
        </connector>
        <inputReference>APayroll</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Employee</name>
        <label>Get Employee</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Payroll</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPayroll</name>
        <label>Get Payroll</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_APayroll</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Salary_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PayrollCycle</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PayrollYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payroll__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Work_Cycle</name>
        <label>Work Cycle</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Work_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Each_Employee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PayrollCycle</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PayrollYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkCycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_total_in_payroll</name>
        <label>Update total in payroll</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Successful</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>APayroll.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TotalPayrollAmount__c</field>
            <value>
                <elementReference>varTotal</elementReference>
            </value>
        </inputAssignments>
        <object>Payroll__c</object>
    </recordUpdates>
    <screens>
        <name>Generate_Payroll</name>
        <label>Generate Payroll</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetPayroll</targetReference>
        </connector>
        <fields>
            <name>Generate_Payroll_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Generate_Payroll_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PayrollCycle</name>
                    <choiceReferences>Cycle</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Cycle</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>StandardWorkingDays</name>
                    <dataType>Number</dataType>
                    <fieldText>Standard Working Days</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Generate_Payroll_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PayrollYear</name>
                    <dataType>String</dataType>
                    <fieldText>Year</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ActiveEmployee</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Employee__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Active Employee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Employee</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d468&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Employee Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Formula_Position_Text__c&quot;,&quot;guid&quot;:&quot;column-3c43&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Position&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Generate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PayrollExisted</name>
        <label>PayrollExisted</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PayrollExist</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(251, 8, 8); font-size: 28px;&quot;&gt;This Payroll has already existed!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successful</name>
        <label>Successful</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Payroll</targetReference>
        </connector>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(28, 244, 8);&quot;&gt;Payroll and Payslips in {!PayrollCycle}/{!PayrollYear} have been generated successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employee</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>APayroll</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payroll__c</objectType>
    </variables>
    <variables>
        <name>APayslip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payslip__c</objectType>
    </variables>
    <variables>
        <name>GroupPayslip</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payslip__c</objectType>
    </variables>
    <variables>
        <name>varTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
</Flow>
