force-app/main/default/flows/Salary_Payment_Add_created_Bonus_and_Violation_to_Payslip.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Bonus_in_Payslip</name>
        <label>Add Bonus in Payslip</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>aPayslip.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payslip__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aPayslip.Bonus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payslip__r.Bonus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aPayslip.Bonus__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payslip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Violation_in_Payslip</name>
        <label>Add Violation in Payslip</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>aPayslip.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payslip__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aPayslip.WithholdingViolation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payslip__r.WithholdingViolation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aPayslip.WithholdingViolation__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payslip</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bonus_or_Violation</name>
        <label>Bonus or Violation</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bonus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Bonus.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Receive_at__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monthly payslip</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bonus_in__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaidStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Bonus_in_Payslip</targetReference>
            </connector>
            <label>Bonus</label>
        </rules>
        <rules>
            <name>Violation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Violation.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PaidStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Violation_in_Payslip</targetReference>
            </connector>
            <label>Violation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Salary Payment | Add Bonus and Violation to Payslip {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salary Payment | Add created Bonus and Violation to Payslip</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Bonus</name>
        <label>Get Bonus</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Violation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonus</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonus__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Violation</name>
        <label>Get Violation</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bonus_or_Violation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bonus__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Violation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payslip</name>
        <label>Update Payslip</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <inputReference>aPayslip</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bonus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payslip__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Bonus__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>aPayslip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payslip__c</objectType>
    </variables>
</Flow>
