force-app/main/default/flows/SalaryPaymentResetAnnualLeaveLastYearLastCycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_to_WCgroup</name>
        <label>add to WCgroup</label>
        <locationX>1291</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>vargroupWC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varsingleWC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_WorkCycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_singleWC</name>
        <label>assign to singleWC</label>
        <locationX>1291</locationX>
        <locationY>113</locationY>
        <assignmentItems>
            <assignToReference>varsingleWC.Annual_Leave_Last_Year_Last_Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varsingleWC.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_WorkCycle.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_WCgroup</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Work_Cycle_Existence</name>
        <label>Check Work Cycle Existence</label>
        <locationX>793</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>WC_not_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-Existed</defaultConnectorLabel>
        <rules>
            <name>Existed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Work_Cycles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>each_WorkCycle</targetReference>
            </connector>
            <label>Existed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Cyclefield</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cycle__c</picklistField>
        <picklistObject>WorkCycle__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Year_formula</name>
        <dataType>String</dataType>
        <expression>text(Year(Today()))</expression>
    </formulas>
    <interviewLabel>Salary Payment | Reset Annual Leave - Last Year Last Cycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salary Payment | Reset Annual Leave - Last Year Last Cycle</label>
    <loops>
        <name>each_WorkCycle</name>
        <label>each WorkCycle</label>
        <locationX>969</locationX>
        <locationY>286</locationY>
        <collectionReference>get_Work_Cycles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_to_singleWC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_WC_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Work_Cycles</name>
        <label>get Work Cycles</label>
        <locationX>584</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Work_Cycle_Existence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cycle</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Year</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkCycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_WC_Group</name>
        <label>update WC Group</label>
        <locationX>971</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>WC_updated</targetReference>
        </connector>
        <inputReference>vargroupWC</inputReference>
    </recordUpdates>
    <screens>
        <name>screen01</name>
        <label>screen01</label>
        <locationX>584</locationX>
        <locationY>182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Work_Cycles</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Reset Annual Leave Last Year&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cycle</name>
            <choiceReferences>Cyclefield</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cycle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Year</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Year_formula</elementReference>
            </defaultValue>
            <fieldText>Year</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Reset</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WC_not_Exist</name>
        <label>WC not Exist</label>
        <locationX>800</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WCnoExist</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(240, 7, 7);&quot;&gt;There is no Work Cycles exist in {!Cycle}/{!Year}!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WC_updated</name>
        <label>WC updated</label>
        <locationX>971</locationX>
        <locationY>623</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WCnoExist_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(5, 247, 17); font-size: 20px;&quot;&gt;Work Cycles in {!Cycle}/{!Year} updated successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>screen01</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>vargroupWC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkCycle__c</objectType>
    </variables>
    <variables>
        <name>varsingleWC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkCycle__c</objectType>
    </variables>
</Flow>
