force-app/main/default/flows/SIMergeexistingAdvancedShipment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>add_to_ConsolBill_group</name>
        <label>add to ConsolBill group</label>
        <locationX>922</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>groupConsolBills</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleConsolBill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_SI_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ConsolBill</name>
        <label>assign ConsolBill</label>
        <locationX>754</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>singleConsolBill.ConsolidationShipmentName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AS_List_selected.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.UnitPriceofBuyingActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.BuyingListPriceActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.UnitPriceofBuyingFCY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.BuyingListPriceFCY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.UnitPriceofBuyingLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.BuyingListPriceLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.ChargeQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.ChargeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.Charge_unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.Container_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.Container_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.CurrencyBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.Currency_Buying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.CurrencySelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.CurrencySelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.ExchangeRateBuyingUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.ExchangeRateBuyingUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.ExchangeRateBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.ExchangeRateBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.ExchangeRateSellingUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.ExchangeRateSellingUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.ExchangeRateSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.ExchangeRateSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.FxRateIDBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.FxRateID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.FxRateIDSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.FxRateIDSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.UnitPriceofSellingActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.SellingListPriceActual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.UnitPriceofSellingFCY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.SellingListPriceFCY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.UnitPriceofSellingLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.SellingListPriceLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.PricingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.TaxRatioBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.TaxRateBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.TaxRatioSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.TaxRateSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.PricingName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.ReferencePrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.ReferencePrice__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.SILine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.PaymentTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.QuotelineID__r.SupplierVendor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleConsolBill.Invoiceto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_SI_Line.QuotelineID__r.Invoiceto__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_ConsolBill_group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_SO</name>
        <label>count SO</label>
        <locationX>1248</locationX>
        <locationY>934</locationY>
        <assignmentItems>
            <assignToReference>NumberHouseHBL</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_SO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Shipment_Term</name>
        <label>check Shipment Term</label>
        <locationX>1240</locationX>
        <locationY>595</locationY>
        <defaultConnector>
            <targetReference>Update_AS_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_FCL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AS_List_selected.firstSelectedRow.ShipmentTerm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FCL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AS_0_0</targetReference>
            </connector>
            <label>is FCL</label>
        </rules>
        <rules>
            <name>not_Consol_or_Charter</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AS_List_selected.firstSelectedRow.ShipmentTerm__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CONSOL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AS_List_selected.firstSelectedRow.ShipmentTerm__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CHARTER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_AS_RecordTypeId</targetReference>
            </connector>
            <label>not Consol or Charter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist</name>
        <label>Exist</label>
        <locationX>524</locationX>
        <locationY>832</locationY>
        <defaultConnector>
            <targetReference>No_Available_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_AS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen02</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SO_and_AS_equal_FCL</name>
        <label>Is SO and AS = FCL?</label>
        <locationX>808</locationX>
        <locationY>769</locationY>
        <defaultConnector>
            <targetReference>screen02_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SI.ShipmentTerm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FCL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AS_List_selected.firstSelectedRow.ShipmentTerm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FCL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_SO</targetReference>
            </connector>
            <label>= FCL</label>
        </rules>
        <rules>
            <name>DifferenceFromFCL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SI.ShipmentTerm__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FCL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AS_List_selected.firstSelectedRow.ShipmentTerm__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FCL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_SO</targetReference>
            </connector>
            <label>&lt;&gt; FCL</label>
        </rules>
        <rules>
            <name>WarningShipmentTermFCL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_SI.ShipmentTerm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FCL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AS_List_selected.firstSelectedRow.ShipmentTerm__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FCL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen02_0</targetReference>
            </connector>
            <label>Warning Shipment Term FCL</label>
        </rules>
        <rules>
            <name>Warning_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalContainerQuantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>AS_List_selected.firstSelectedRow.EBookingID__r.ContainerQuantityCurrent__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WarningBooking</targetReference>
            </connector>
            <label>Warning Booking</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ASRecordTypeName</name>
        <dataType>String</dataType>
        <expression>upper( text( {!AS_List_selected.firstSelectedRow.TypeofTrade__c} ) &amp; &apos;CONSOL&apos; &amp; text( {!AS_List_selected.firstSelectedRow.TransportationWay__c} ) )</expression>
    </formulas>
    <formulas>
        <name>CargoClosingTime_For</name>
        <dataType>DateTime</dataType>
        <expression>If( {!get_SI.Booking_ID__c} &lt;&gt; null, {!get_SI.Booking_ID__r.Cargo_Closing_Time__c}, null)</expression>
    </formulas>
    <formulas>
        <name>HouseBookingNo_For</name>
        <dataType>String</dataType>
        <expression>If( {!AS_List_selected.firstSelectedRow.EBookingID__c} &lt;&gt; null, {!AS_List_selected.firstSelectedRow.EBookingID__r.House_Booking_No__c}, null)</expression>
    </formulas>
    <formulas>
        <name>MasterBookingNo_For</name>
        <dataType>String</dataType>
        <expression>If( {!AS_List_selected.firstSelectedRow.EBookingID__c} &lt;&gt; null, {!AS_List_selected.firstSelectedRow.EBookingID__r.Master_Booking_No__c}, null)</expression>
    </formulas>
    <formulas>
        <name>PlaceofStuffing_For</name>
        <dataType>String</dataType>
        <expression>If( {!get_SI.Booking_ID__c} &lt;&gt; null, {!get_SI.Booking_ID__r.Stuffing_Place__c}, null)</expression>
    </formulas>
    <formulas>
        <name>SIRecordTypeName</name>
        <dataType>String</dataType>
        <expression>upper( text( {!get_SI.TypeofTrade__c} ) &amp; text( {!get_SI.ShipmentTerm__c} ) &amp; text( {!get_SI.TransportationWay__c} ) )</expression>
    </formulas>
    <formulas>
        <name>StuffingContact_For</name>
        <dataType>String</dataType>
        <expression>If( {!get_SI.Booking_ID__c} &lt;&gt; null, {!get_SI.Booking_ID__r.StuffingContact__c}, null)</expression>
    </formulas>
    <formulas>
        <name>TotalContainerQuantity</name>
        <dataType>Number</dataType>
        <expression>{!get_SI.Total_Containers__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SI | Merge to an existing Advanced Shipment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SI | Merge to an existing Advanced Shipment</label>
    <loops>
        <name>each_SI_Line</name>
        <label>each SI Line</label>
        <locationX>838</locationX>
        <locationY>423</locationY>
        <collectionReference>get_SI_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_ConsolBill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_ConsollBill_group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>each_SO</name>
        <label>each SO</label>
        <locationX>1249</locationX>
        <locationY>755</locationY>
        <collectionReference>get_allSOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>count_SO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_Shipment_Term</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_ConsollBill_group</name>
        <label>create ConsollBill group</label>
        <locationX>1072</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>Update_SI</targetReference>
        </connector>
        <inputReference>groupConsolBills</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_SO</name>
        <label>create SO</label>
        <locationX>822</locationX>
        <locationY>580</locationY>
        <assignRecordIdToReference>varSOId</assignRecordIdToReference>
        <connector>
            <targetReference>each_SI_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>Air_type__c</field>
            <value>
                <elementReference>get_SI.AirType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch1__c</field>
            <value>
                <elementReference>$User.Branch1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CargoClosingTime__c</field>
            <value>
                <elementReference>CargoClosingTime_For</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CargoDeliveryRemark__c</field>
            <value>
                <elementReference>get_SI.Remarks__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CargoQuantity__c</field>
            <value>
                <elementReference>get_SI.Cargo_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commodity__c</field>
            <value>
                <elementReference>get_SI.Commodity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consignee__c</field>
            <value>
                <elementReference>get_SI.Consignee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsolidationID__c</field>
            <value>
                <elementReference>AS_List_selected.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CrossBorderType__c</field>
            <value>
                <elementReference>get_SI.CrossBorderType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>get_SI.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionofGoods__c</field>
            <value>
                <elementReference>get_SI.Description_of_Goods__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETA__c</field>
            <value>
                <elementReference>get_SI.ETA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETD__c</field>
            <value>
                <elementReference>get_SI.ETD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EbookingID__c</field>
            <value>
                <elementReference>AS_List_selected.firstSelectedRow.EBookingID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GrossWeight__c</field>
            <value>
                <elementReference>get_SI.GrossWeight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseBookingNo__c</field>
            <value>
                <elementReference>HouseBookingNo_For</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseNotifyParty__c</field>
            <value>
                <elementReference>get_SI.Housse_Notify_Party__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoterms__c</field>
            <value>
                <elementReference>get_SI.INCOTERMS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MasterBookingNo__c</field>
            <value>
                <elementReference>MasterBookingNo_For</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeasurementTotalCBM__c</field>
            <value>
                <elementReference>get_SI.MeasurementTotalCBM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NetWeightKg__c</field>
            <value>
                <elementReference>get_SI.NetWeight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PODAOA__c</field>
            <value>
                <elementReference>get_SI.P_O_D_A_O_A__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POLAOD__c</field>
            <value>
                <elementReference>get_SI.P_O_L_A_O_D__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlaceofStuffing__c</field>
            <value>
                <elementReference>PlaceofStuffing_For</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_SI_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipmentTerm__c</field>
            <value>
                <elementReference>get_SI.ShipmentTerm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipper__c</field>
            <value>
                <elementReference>get_SI.Shipper__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingInformation__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StuffingContact__c</field>
            <value>
                <elementReference>StuffingContact_For</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransportationWay__c</field>
            <value>
                <elementReference>get_SI.TransportationWay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeofTrade__c</field>
            <value>
                <elementReference>get_SI.TypeofTrade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VesselFlight__c</field>
            <value>
                <elementReference>get_SI.Vessel_Flight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voyage__c</field>
            <value>
                <elementReference>get_SI.Voyage__c</elementReference>
            </value>
        </inputAssignments>
        <object>FTMSSO__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_allSOs</name>
        <label>get allSOs</label>
        <locationX>1069</locationX>
        <locationY>753</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>each_SO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsolidationID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AS_List_selected.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FTMSSO__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AS</name>
        <label>get AS</label>
        <locationX>512</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_SI_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ETD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SI.ETD__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ETA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SI.ETA__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MPOL__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SI.P_O_L_A_O_D__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MPOD__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SI.P_O_D_A_O_A__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TransportationWay__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SI.TransportationWay__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TypeofTrade__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SI.TypeofTrade__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AdvancedShipment__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AS_RecordTypeId</name>
        <label>get AS RecordTypeId</label>
        <locationX>1397</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_AS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AdvancedShipment__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SI</name>
        <label>get SI</label>
        <locationX>319</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_AS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SI_Line</name>
        <label>get SI Line</label>
        <locationX>513</locationX>
        <locationY>582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_SI_RecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SO_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Order_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_SI_RecordTypeId</name>
        <label>get SI RecordTypeId</label>
        <locationX>423</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SIRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FTMSSO__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AS</name>
        <label>Update AS</label>
        <locationX>1544</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>screen03</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AS_List_selected.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Air_Type__c</field>
            <value>
                <elementReference>get_SI.AirType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsolType__c</field>
            <value>
                <stringValue>Consol</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_House_BL__c</field>
            <value>
                <elementReference>NumberHouseHBL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_AS_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipmentTerm__c</field>
            <value>
                <stringValue>CONSOL</stringValue>
            </value>
        </inputAssignments>
        <object>AdvancedShipment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AS_0</name>
        <label>Update AS</label>
        <locationX>1345</locationX>
        <locationY>435</locationY>
        <connector>
            <targetReference>screen03</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AS_List_selected.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Air_Type__c</field>
            <value>
                <elementReference>get_SI.AirType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsolType__c</field>
            <value>
                <stringValue>Consol</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_House_BL__c</field>
            <value>
                <elementReference>NumberHouseHBL</elementReference>
            </value>
        </inputAssignments>
        <object>AdvancedShipment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AS_0_0</name>
        <label>Update AS</label>
        <locationX>1235</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>screen03</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AS_List_selected.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Air_Type__c</field>
            <value>
                <elementReference>get_SI.AirType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsolType__c</field>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputAssignments>
        <object>AdvancedShipment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SI</name>
        <label>Update SI</label>
        <locationX>1072</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>get_allSOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_SI.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShipmentConverted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Sales_Order__c</object>
    </recordUpdates>
    <screens>
        <name>No_Available_Record</name>
        <label>No Available Record</label>
        <locationX>563</locationX>
        <locationY>978</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoAvailableJob</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;NO AVAILABLE JOBs TO MERGE!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen02</name>
        <label>screen02</label>
        <locationX>669</locationX>
        <locationY>751</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previous</backButtonLabel>
        <connector>
            <targetReference>Is_SO_and_AS_equal_FCL</targetReference>
        </connector>
        <fields>
            <name>AS_List_selected</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>AdvancedShipment__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Advanced Shipments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_AS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ac76&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Advanced Shipment ID&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ETD__c&quot;,&quot;guid&quot;:&quot;column-f7b0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;ETD&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;ETA__c&quot;,&quot;guid&quot;:&quot;column-3af8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;ETA&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;POL__c&quot;,&quot;guid&quot;:&quot;column-ae22&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;P.O.L(A.O.D)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;POL&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;POD__c&quot;,&quot;guid&quot;:&quot;column-be55&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;P.O.D(A.O.A)&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;POD&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Record_Type_Name__c&quot;,&quot;guid&quot;:&quot;column-a593&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Record Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Record Type Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Number_of_House_BL__c&quot;,&quot;guid&quot;:&quot;column-23bc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Number of House B/L&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>AS_List</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirm</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong style=&quot;color: rgb(193, 73, 73); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;﻿Are you sure you want to merge this Advanced Shipment to SI?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes, Start Merge</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen02_0</name>
        <label>screen02</label>
        <locationX>726</locationX>
        <locationY>975</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previous</backButtonLabel>
        <fields>
            <name>warning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(160, 69, 69);&quot;&gt;THIS SALES ORDER HAS {!get_SI.ShipmentTerm__c} AS SHIPMENT TERM WHICH DOESN&apos;T MATCH WITH THE CHOSEN JOB {!AS_List_selected.firstSelectedRow.FileNo__c}&amp;nbsp;FOR MERGING. PLEASE REVISE THE INFORMATION&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen03</name>
        <label>screen03</label>
        <locationX>1544</locationX>
        <locationY>441</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen04</targetReference>
        </connector>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(71, 202, 163); font-size: 20px;&quot;&gt;SUCCESSFULLY MERGED!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen04</name>
        <label>screen04</label>
        <locationX>1706</locationX>
        <locationY>432</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>redirect</name>
            <extensionName>c:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>varSOId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WarningBooking</name>
        <label>Warning Booking</label>
        <locationX>973</locationX>
        <locationY>991</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WarningBookingCapacity</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(160, 62, 62); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;THIS SHIPMENT HAS REACHED THE LIMIT OF NUMBER OF CONTAINERS IN THIS BOOKING! &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(160, 62, 62); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;DO YOU WANT TO PROCEED?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>387</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>get_SI</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AS_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvancedShipment__c</objectType>
    </variables>
    <variables>
        <name>groupConsolBills</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsolBill__c</objectType>
    </variables>
    <variables>
        <name>NumberHouseHBL</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleConsolBill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsolBill__c</objectType>
    </variables>
    <variables>
        <name>varSOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
