force-app/main/default/flows/Transportation_Create_Trucking_bill_number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>check_path</name>
        <label>check path</label>
        <locationX>768</locationX>
        <locationY>355</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>HCMCAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Departure__r.Country__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIETNAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Destination__r.Country__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAMBODIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_newest_HCMCAM</targetReference>
            </connector>
            <label>HCMCAM</label>
        </rules>
        <rules>
            <name>CAMHCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Departure__r.Country__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAMBODIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Destination__r.Country__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIETNAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_newest_CAMHCM</targetReference>
            </connector>
            <label>CAMHCM</label>
        </rules>
        <rules>
            <name>TKM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Departure__r.Country__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VIETNAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Departure__r.Country__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CAMBODIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Destination__r.Country__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VIETNAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Destination__r.Country__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CAMBODIA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_newest_TKM</targetReference>
            </connector>
            <label>TKM</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Firstofthismonth</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
DATE( 
  YEAR( TODAY() ), 
  MONTH( TODAY() ), 
  1 )
)</expression>
    </formulas>
    <formulas>
        <name>newestCAMHCM</name>
        <dataType>String</dataType>
        <expression>RIGHT(&apos;000&apos; &amp; IF( {!get_newest_CAMHCM.TruckingBillNo__c} != NULL, TEXT(VALUE( RIGHT( {!get_newest_CAMHCM.TruckingBillNo__c}, 3) ) +1), &apos;1&apos;), 3)</expression>
    </formulas>
    <formulas>
        <name>newestHCMCAM</name>
        <dataType>String</dataType>
        <expression>RIGHT(&apos;000&apos; &amp; IF( {!get_newest_HCMCAM.TruckingBillNo__c} != NULL, TEXT(VALUE( RIGHT( {!get_newest_HCMCAM.TruckingBillNo__c}, 3) ) +1), &apos;1&apos;), 3)</expression>
    </formulas>
    <formulas>
        <name>newestTKM</name>
        <dataType>String</dataType>
        <expression>RIGHT(&apos;000&apos; &amp; IF( {!get_newest_TKM.TruckingBillNo__c} != NULL, TEXT(VALUE( RIGHT( {!get_newest_TKM.TruckingBillNo__c}, 3) ) +1), &apos;1&apos;), 3)</expression>
    </formulas>
    <formulas>
        <name>TruckingBillNo_CAMHCM</name>
        <dataType>String</dataType>
        <expression>&apos;CAMHCM&apos; &amp; RIGHT(TEXT( YEAR( TODAY() ) ), 2) &amp; RIGHT( &apos;0&apos; &amp; TEXT( MONTH( TODAY() ) ) , 2) &amp; {!newestCAMHCM}</expression>
    </formulas>
    <formulas>
        <name>TruckingBillNo_HCMCAM</name>
        <dataType>String</dataType>
        <expression>&apos;HCMCAM&apos; &amp; RIGHT(TEXT( YEAR( TODAY() ) ), 2) &amp; RIGHT( &apos;0&apos; &amp; TEXT( MONTH( TODAY() ) ) , 2) &amp; {!newestHCMCAM}</expression>
    </formulas>
    <formulas>
        <name>TruckingBillNo_TKM</name>
        <dataType>String</dataType>
        <expression>&apos;TKM&apos; &amp; RIGHT(TEXT( YEAR( TODAY() ) ), 2) &amp; RIGHT( &apos;0&apos; &amp; TEXT( MONTH( TODAY() ) ) , 2) &amp; {!newestTKM}</expression>
    </formulas>
    <interviewLabel>Transportation | Create Trucking bill number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transportation | Create Trucking bill number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_newest_CAMHCM</name>
        <label>get newest CAMHCM</label>
        <locationX>779</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addnewTruckingno_CAMHCM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Firstofthismonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>TruckingBillNo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TruckingBillNo__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CAMHCM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transportation__c</object>
        <sortField>TruckingBillNo__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_newest_HCMCAM</name>
        <label>get newest HCMCAM</label>
        <locationX>637</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addnewTruckingno_HCMCAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Firstofthismonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>TruckingBillNo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TruckingBillNo__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>HCMCAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transportation__c</object>
        <sortField>TruckingBillNo__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_newest_TKM</name>
        <label>get newest TKM</label>
        <locationX>943</locationX>
        <locationY>553</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>addnewTruckingno_TKM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Firstofthismonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>TruckingBillNo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TruckingBillNo__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>TKM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transportation__c</object>
        <sortField>TruckingBillNo__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>addnewTruckingno_CAMHCM</name>
        <label>addnewTruckingno_CAMHCM</label>
        <locationX>779</locationX>
        <locationY>717</locationY>
        <inputAssignments>
            <field>TruckingBillNo__c</field>
            <value>
                <elementReference>TruckingBillNo_CAMHCM</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>addnewTruckingno_HCMCAM</name>
        <label>addnewTruckingno_HCMCAM</label>
        <locationX>635</locationX>
        <locationY>709</locationY>
        <inputAssignments>
            <field>TruckingBillNo__c</field>
            <value>
                <elementReference>TruckingBillNo_HCMCAM</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>addnewTruckingno_TKM</name>
        <label>addnewTruckingno_TKM</label>
        <locationX>945</locationX>
        <locationY>721</locationY>
        <inputAssignments>
            <field>TruckingBillNo__c</field>
            <value>
                <elementReference>TruckingBillNo_TKM</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>check_path</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Departure__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Destination__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Transportation__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
