force-app/main/default/flows/Truck_Update_repair_schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>re_load_page</name>
        <label>re-load page</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>c:Reload_Page</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>finish_screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>update_schedule_date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(TEXT(YEAR({!Get_Record_Ram.Start_Date__c}))+&apos;-&apos;+TEXT(VALUE(TEXT(MONTH({!Get_Record_Ram.Start_Date__c}))) + VALUE( LEFT(TEXT({!Get_record_truck.Maintenance__c}),1)))+&apos;-&apos; +TEXT(DAY({!Get_Record_Ram.Start_Date__c})))</expression>
    </formulas>
    <interviewLabel>Truck | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Truck | Update repair schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Record_Ram</name>
        <label>Get Record Ram</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Ram_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Truck_Fleet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_record_truck.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RAM__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_truck</name>
        <label>Get record truck</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Ram</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Truck_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Maintain</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TruckFleet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Ram_record</name>
        <label>update Ram record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Update_truck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Ram.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>RAM__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_truck</name>
        <label>Update truck</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>re_load_page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_record_truck.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NearestMaintainanceDay__c</field>
            <value>
                <elementReference>Get_Record_Ram.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Repair_Schedule__c</field>
            <value>
                <elementReference>update_schedule_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Truck_Status__c</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>TruckFleet__c</object>
    </recordUpdates>
    <screens>
        <name>finish_screen</name>
        <label>finish screen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_flow</name>
            <extensionName>c:Close_flow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_record_truck</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
